force-app/main/default/flows/Agile_Accelerator_CBS_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Creates a Product Tag &amp; Build record for Business Systems Projects</description>
    <interviewLabel>Agile Accelerator CBS Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agile Accelerator CBS Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a record in the &quot;Build&quot; object to be used for Business Systems Work records</description>
        <name>CreateBuildRecord</name>
        <label>CreateBuildRecord</label>
        <locationX>130</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>GetCBSTeamRecordId</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Build__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProductTag</name>
        <label>CreateProductTag</label>
        <locationX>501</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>AHProjectBacklog__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Team__c</field>
            <value>
                <elementReference>GetCBSTeamRecordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Product_Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Id of the CBS Team record for the org</description>
        <name>GetCBSTeamRecordId</name>
        <label>GetCBSTeamRecordId</label>
        <locationX>328</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProductTag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CBS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Scrum_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateBuildRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120d000000JOiXAAW</stringValue>
            </value>
        </filters>
        <object>NI_Project_Backlog__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
