force-app/main/default/flows/AH_Project_Backlog_AutoCreateNIProjectBacklogTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to the Project Owner letting them know the Tasks have been created.</description>
        <name>TaskCreationEmailNotification</name>
        <label>TaskCreationEmailNotification</label>
        <locationX>1136</locationX>
        <locationY>187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateNewTasksCreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>intake.noreply@amadeus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>formulaSubjectForEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Creates NI Project Backlog Task #1</description>
        <name>AssignNITask1</name>
        <label>AssignNITask1</label>
        <locationX>300</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.NI_Project_Backlog_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realized Benefits Audit 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTask1DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNIProjectBacklogTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewNITaskRecord1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNITask2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates NI Project Backlog Task #2</description>
        <name>AssignNITask2</name>
        <label>AssignNITask2</label>
        <locationX>445</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.NI_Project_Backlog_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realized Benefits Audit 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTask2DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNIProjectBacklogTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewNITaskRecord2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNITask3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates NI Project Backlog Task #3</description>
        <name>AssignNITask3</name>
        <label>AssignNITask3</label>
        <locationX>560</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.NI_Project_Backlog_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realized Benefits Audit 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTask3DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNIProjectBacklogTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewNITaskRecord3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNITask4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates NI Project Backlog Task #4</description>
        <name>AssignNITask4</name>
        <label>AssignNITask4</label>
        <locationX>693</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.NI_Project_Backlog_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realized Benefits Audit 4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTask4DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNITaskRecord4.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewNIProjectBacklogTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewNITaskRecord4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountRecordsToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of records in the collection to be created</description>
        <name>CountRecordsToCreate</name>
        <label>CountRecordsToCreate</label>
        <locationX>854</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>varCountOfRecordsToCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varNewNIProjectBacklogTaskCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTaskRecords</targetReference>
        </connector>
    </assignments>
    <description>NICC-058179; updated via NICC-063342; Auto-creates 4 NI Project Backlog Task records for Internal Projects to remind users to add Realized Benefits to the Project</description>
    <environments>Default</environments>
    <formulas>
        <description>Creates a Subject Line for the email notification</description>
        <name>formulaSubjectForEmail</name>
        <dataType>String</dataType>
        <expression>&quot;Next Steps - &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <description>Calculates the Due Date of the first Task</description>
        <name>formulaTask1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Project_Completion_Date__c} + 90</expression>
    </formulas>
    <formulas>
        <description>Calculates the Due Date of the second Task</description>
        <name>formulaTask2DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Project_Completion_Date__c} + 180</expression>
    </formulas>
    <formulas>
        <description>Calculates the Due Date of the third Task</description>
        <name>formulaTask3DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Project_Completion_Date__c} + 270</expression>
    </formulas>
    <formulas>
        <description>Calculates the Due Date of the fourth Task</description>
        <name>formulaTask4DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Project_Completion_Date__c} + 360</expression>
    </formulas>
    <formulas>
        <name>formulaTasksRelatedListURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://amadeus-hospitality--sbfull.lightning.force.com/lightning/r/NI_Project_Backlog__c/&quot;&amp;{!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>AH Project Backlog - AutoCreate NI Project Backlog Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AH Project Backlog - AutoCreate NI Project Backlog Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the NI Project Backlog Task records in the record collection</description>
        <name>CreateTaskRecords</name>
        <label>CreateTaskRecords</label>
        <locationX>991</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>TaskCreationEmailNotification</targetReference>
        </connector>
        <inputReference>varNewNIProjectBacklogTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the User record for the AH Project Backlog: Owner, who will be the &quot;Assigned To&quot; on the Task record. Only gets the record owner if the current record owner is an active user.</description>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>99</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNITask1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record for the Process Improvement record type on NI Project Backlog Task object</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>105</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Operation_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>35</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Commercial_Operation_Projects&quot; &amp;&amp;
ISCHANGED({!$Record.Request_Status__c}) &amp;&amp;
ISPICKVAL({!$Record.Request_Status__c}, &quot;Completed&quot;)</filterFormula>
        <object>NI_Project_Backlog__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template for email alert to notify user&apos;s that new Tasks have been created</description>
        <name>templateNewTasksCreated</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;Congratulations {!GetOwner.FirstName}, your project&lt;/span&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(59, 53, 45); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;span style=&quot;color: rgb(59, 53, 45); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;has been completed!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;Your next mission as record o&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;wner is to &lt;/span&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;record the &lt;/span&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt;Realized Benefits &lt;/strong&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;for your project. You have been assigned 4 tasks that have been set at 3-month intervals from the Completed date of your project. These may be viewed on the project under the tab called &quot;NI Project Backlog Tasks&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;More information on capturing realized benefits may be found &lt;/span&gt;&lt;a href=&quot;https://amadeusworkplace.sharepoint.com/sites/ProjectPortfolioManagement/SitePages/Value-Realization.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(59, 53, 45);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;Thank you,&lt;/span&gt;&lt;strong style=&quot;color: rgb(59, 53, 45);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(59, 53, 45);&quot;&gt;Process Improvement Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCountOfRecordsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds the collection of records to create</description>
        <name>varNewNIProjectBacklogTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NI_Project_Backlog_Tasks__c</objectType>
    </variables>
    <variables>
        <name>varNewNITaskRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NI_Project_Backlog_Tasks__c</objectType>
    </variables>
    <variables>
        <name>varNewNITaskRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NI_Project_Backlog_Tasks__c</objectType>
    </variables>
    <variables>
        <name>varNewNITaskRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NI_Project_Backlog_Tasks__c</objectType>
    </variables>
    <variables>
        <name>varNewNITaskRecord4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NI_Project_Backlog_Tasks__c</objectType>
    </variables>
</Flow>
