force-app/main/default/flows/AH_Project_Backlog_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assigns the record Id of the new Sharing record to a variable. This assignment is acting as a &quot;end flow&quot; action to complete the &quot;Create Records&quot; action.</description>
        <name>AssignNewSharingID</name>
        <label>AssignNewSharingID</label>
        <locationX>1156</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>varNewSharingRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSharingRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Decides if a new Sharing record needs to be added after deleting a previous Manual Sharing record for the previous Implementation Owner</description>
        <name>AddNewSharingRecord</name>
        <label>AddNewSharingRecord</label>
        <locationX>1033</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewIOAdded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSharingRecord</targetReference>
            </connector>
            <label>NewIOAdded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if there was a previous Sharing record for the previous Implementation Owner that needs to be deleted.</description>
        <name>DeleteOldSharingDecision</name>
        <label>DeleteOldSharingDecision</label>
        <locationX>511</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SharingRecordExists_CreateNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldImplementationOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOldIOSharingRecord</targetReference>
            </connector>
            <label>SharingRecordExists - CreateNewRecord</label>
        </rules>
        <rules>
            <name>NoSharingExists_CreateNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOldImplementationOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSharingRecord</targetReference>
            </connector>
            <label>NoSharingExists - CreateNewRecord</label>
        </rules>
        <rules>
            <name>SharingRecordExists_NoNewRecord</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOldImplementationOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOldIOSharingRecord</targetReference>
            </connector>
            <label>SharingRecordExists - NoNewRecord</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides whether the AH Project Backlog record is new or if the record has been updated to add a new Implementation Owner or if the record has a new record Owner</description>
        <name>NewOrUpdatedRecord</name>
        <label>NewOrUpdatedRecord</label>
        <locationX>541</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewRecord_IOSameAsOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>NewRecord - IOSameAsOwner</label>
        </rules>
        <rules>
            <name>NewRecord_IODiffFromOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSharingRecord</targetReference>
            </connector>
            <label>NewRecord - IODiffFromOwner</label>
        </rules>
        <rules>
            <name>UpdateDeleteIO_IOSameAsOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>UpdateDeleteIO - IOSameAsOwner</label>
        </rules>
        <rules>
            <name>UpdateDeleteIO_IODiffFromOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSharingRecord</targetReference>
            </connector>
            <label>UpdateDeleteIO - IODiffFromOwner</label>
        </rules>
        <rules>
            <name>UpdateChangeIO_IOSameAsOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSharingRecord</targetReference>
            </connector>
            <label>UpdateChangeIO - IOSameAsOwner</label>
        </rules>
        <rules>
            <name>UpdateChangeIO_IODiffFromOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSharingRecord</targetReference>
            </connector>
            <label>UpdateChangeIO - IODiffFromOwner</label>
        </rules>
        <rules>
            <name>UpdateAddIO_IOSameAsOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>UpdateAddIO - IOSameAsOwner</label>
        </rules>
        <rules>
            <name>UpdateAddIO_IODiffFromOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSharingRecord</targetReference>
            </connector>
            <label>UpdateAddIO - IODiffFromOwner</label>
        </rules>
        <rules>
            <name>UpdateChangeRO_RODiffFromIO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.User__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSharingRecord</targetReference>
            </connector>
            <label>UpdateChangeRO-RODiffFromIO</label>
        </rules>
        <rules>
            <name>UpdateChangeRO_ROSameAsIO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.User__r.Id</elementReference>
                </rightValue>
            </conditions>
            <label>UpdateChangeRO-ROSameAsIO</label>
        </rules>
    </decisions>
    <description>NICC-055948; updated via NICC-056780; updated via NICC-058176; updated via NICC-059264; Shares an AH Project Backlog record as Read/Edit access to the Implementation Owner on the record. This is needed to allow users to add/update child records with rollups to the parent.</description>
    <interviewLabel>AH Project Backlog - Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AH Project Backlog - Sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a record in the Sharing table for AH Project Backlog for the Implementation Owner</description>
        <name>CreateSharingRecord</name>
        <label>CreateSharingRecord</label>
        <locationX>956</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>AssignNewSharingID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>NI_Project_Backlog__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Deletes the manual sharing record created for the former Implementation Owner</description>
        <name>DeleteOldIOSharingRecord</name>
        <label>DeleteOldIOSharingRecord</label>
        <locationX>814</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>AddNewSharingRecord</targetReference>
        </connector>
        <inputReference>varOldImplementationOwner</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Gets the sharing record for the previous Implementation Owner</description>
        <name>GetSharingRecord</name>
        <label>GetSharingRecord</label>
        <locationX>335</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteOldSharingDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>NI_Project_Backlog__Share</object>
        <outputReference>varOldImplementationOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>AccessLevel</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NewOrUpdatedRecord</targetReference>
        </connector>
        <object>NI_Project_Backlog__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the record Id of the new sharing record created.</description>
        <name>varNewSharingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the sharing record for the old Implementation Owner</description>
        <name>varOldImplementationOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NI_Project_Backlog__Share</objectType>
    </variables>
</Flow>
