force-app/main/default/flows/AHProjectBacklog_RecordUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Adds record into a record collection for updating values on Business Systems records</description>
        <name>AddToUpdateCollection</name>
        <label>AddToUpdateCollection</label>
        <locationX>1102</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>UpdateChildProjectColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopChildRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChildRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Status of Canceled to all Business Systems child projects.</description>
        <name>AssignCanceledStatus</name>
        <label>AssignCanceledStatus</label>
        <locationX>368</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a new Sponsor to the Business Systems project record</description>
        <name>AssignNewSponsor</name>
        <label>AssignNewSponsor</label>
        <locationX>1215</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChildRecords.Master_Project__r.Sponsor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a new Status to the Business Systems projects based on Status on the master Internal Project</description>
        <name>AssignNewStatus</name>
        <label>AssignNewStatus</label>
        <locationX>515</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Status of &quot;Pending Scheduling&quot; to Business Systems child projects</description>
        <name>AssignPendingScheduling</name>
        <label>AssignPendingScheduling</label>
        <locationX>663</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Scheduling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the Status of the master record is &quot;On Hold&quot;, assign a Status of &quot;On Hold&quot; to the child Business Systems record. Copies &quot;On Hold Reason(s)&quot; from the master to the child records (needed to satisfy a validation rule).</description>
        <name>AssignStatusOnHold</name>
        <label>AssignStatusOnHold</label>
        <locationX>809</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.On_Hold_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.On_Hold_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the Status of the master record changes to &quot;Rejected&quot;, assign a Status of &quot;Rejected&quot; to the child Business Systems records.</description>
        <name>AssignStatusRejected</name>
        <label>AssignStatusRejected</label>
        <locationX>396</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>LoopChildRecords.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides which type of change to make to the child Business Systems record: changing the Sponsor or changing the Status. On Status, if the Status of the child record already matches the status of the master record, the child record will not be included in the update.</description>
        <name>ChangeTypeDecision</name>
        <label>ChangeTypeDecision</label>
        <locationX>887</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>LoopChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangeSponsor</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sponsor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120d000000JOiXAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Sponsor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Sponsor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sponsor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewSponsor</targetReference>
            </connector>
            <label>ChangeSponsor</label>
        </rules>
        <rules>
            <name>ChangeStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120d000000JOiXAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusChangeDecision</targetReference>
            </connector>
            <label>ChangeStatus</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which type of Status change to continue with.</description>
        <name>StatusChangeDecision</name>
        <label>StatusChangeDecision</label>
        <locationX>722</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>LoopChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PendingSponsorApproval</name>
            <conditionLogic>(1 or 4) and 2 and 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Sponsor Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewStatus</targetReference>
            </connector>
            <label>PendingSponsorApproval</label>
        </rules>
        <rules>
            <name>PendingScheduling</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Scheduling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Sponsor Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CFO Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPendingScheduling</targetReference>
            </connector>
            <label>PendingScheduling</label>
        </rules>
        <rules>
            <name>NewProjectRejected</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Sponsor Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CFO Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusRejected</targetReference>
            </connector>
            <label>NewProjectRejected</label>
        </rules>
        <rules>
            <name>OnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusOnHold</targetReference>
            </connector>
            <label>OnHold</label>
        </rules>
        <rules>
            <name>PriorOnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChildRecords.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPendingScheduling</targetReference>
            </connector>
            <label>PriorOnHold</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCanceledStatus</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the Status of the Business Systems record is changing to &quot;In Progress&quot; to update the master project.</description>
        <name>StatusUpdateTypeDecision</name>
        <label>StatusUpdateTypeDecision</label>
        <locationX>139</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InProgressStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMasterProjectStatus</targetReference>
            </connector>
            <label>InProgressStatus</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides what type of change has been made to the record: a change to the master project Status; a change to the Child record Status; or a change to the Child Project Sponor</description>
        <name>UpdateTypeDecision</name>
        <label>UpdateTypeDecision</label>
        <locationX>510</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangeMasterProjectStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_Operation_Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Systems</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Project__r.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Scheduling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusUpdateTypeDecision</targetReference>
            </connector>
            <label>ChangeMasterProjectStatus</label>
        </rules>
        <rules>
            <name>ChangeChildRecordStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_Operation_Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBSProjects</targetReference>
            </connector>
            <label>ChangeChildRecordStatus</label>
        </rules>
        <rules>
            <name>ChangeChildProjectSponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_Operation_Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sponsor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBSProjects</targetReference>
            </connector>
            <label>ChangeChildProjectSponsor</label>
        </rules>
    </decisions>
    <description>NICC-056266
Updates Status or Sponsor on AH Project Backlog records if the Record Types are Internal Project or Business Systems</description>
    <interviewLabel>AH Project Backlog - Record Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AH Project Backlog - Record Updates</label>
    <loops>
        <description>Loops through the collection of Business Systems projects attached to the master Internal Project record to find any relevant updates.</description>
        <name>LoopChildRecords</name>
        <label>LoopChildRecords</label>
        <locationX>732</locationX>
        <locationY>18</locationY>
        <collectionReference>BusinessSystemsChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChangeTypeDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBSProjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all of the projects with the record type of &quot;Business Systems&quot; that are related to the master Internal Project</description>
        <name>GetBSProjects</name>
        <label>GetBSProjects</label>
        <locationX>465</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopChildRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>NI_Project_Backlog__c</object>
        <outputReference>BusinessSystemsChildRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Status__c</queriedFields>
        <queriedFields>Master_Project__c</queriedFields>
        <queriedFields>Sponsor__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>On_Hold_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Business Systems projects with relevant updates (either Status or Sponsor)</description>
        <name>UpdateBSProjects</name>
        <label>UpdateBSProjects</label>
        <locationX>1028</locationX>
        <locationY>23</locationY>
        <inputReference>UpdateChildProjectColl</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Status of the master project to &quot;In Progress&quot;</description>
        <name>UpdateMasterProjectStatus</name>
        <label>UpdateMasterProjectStatus</label>
        <locationX>113</locationX>
        <locationY>556</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Master_Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>NI_Project_Backlog__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UpdateTypeDecision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120d000000JOiXAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120d000000JOpsAAG</stringValue>
            </value>
        </filters>
        <object>NI_Project_Backlog__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the ID(s) of the Business Systems child record(s) that needs to be updated from the Master record status update</description>
        <name>BusinessSystemsChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NI_Project_Backlog__c</objectType>
    </variables>
    <variables>
        <description>Collection of records that need to be updated for a change in Status or Sponsor from their Master project</description>
        <name>UpdateChildProjectColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NI_Project_Backlog__c</objectType>
    </variables>
</Flow>
