force-app/main/default/flows/business_systems_hos_customer_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_04f53926_206e_4c48_8387_af21de8d533d</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_05aeaa51_00e3_467b_a3f6_813bbddafc52</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12bc5d33_66d0_413b_810c_1ee92877df8e</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_14ce3a3e_4030_476c_bcdf_6b0a443660d4</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15321f0e_4804_4690_b907_685ab1a1677c</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1d588d99_27f0_499d_9d10_03963e36202b</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f27c32d_b9c0_475e_9f61_7c16addff7ef</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2494127e_dfc9_4d0a_a898_ceeb26f9ecfe</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_29674717_b9a7_4932_8920_c343dc502b05</name>
        <choiceText>NECSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NECSE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bd9f0a9_1058_42d1_a6ad_126692e3fb3e</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d08aca1_b0aa_4bed_b5df_128949635f56</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a1bdecb_a632_45cb_a877_b8219672222f</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b3cb8ac_6d14_4644_ac07_a36a687e2e71</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c8e9656_5ab6_49ae_8482_660673cb40a9</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5e5097f7_be9d_44d4_8854_efa1368f3c5a</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f4bf594_e597_4041_bc68_0ac7cbffad2c</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81fa9ca2_c143_494d_a81e_3b2b313ec90e</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8446d452_5158_456c_8a9e_f0a8d1b14582</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_88082b46_ced2_4a7f_a5cc_767a2b328ef1</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_99ff25c7_adc1_4c90_b51b_9d2e29a359a2</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a60236e_e8a9_4cc6_9152_c1dd9b86e105</name>
        <choiceText>LATAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LATAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a140dba4_0f21_40d8_8d18_2058a44b61bd</name>
        <choiceText>NORAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NORAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b27bb318_a10f_4585_a3c3_2a265b616c12</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b9cfa26e_61dc_48e2_ab39_76180382e472</name>
        <choiceText>New enhancements/projects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New enhancements/projects</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb10c90a_f4e3_4dea_9b14_c4daeb9586ed</name>
        <choiceText>WEMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WEMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb3ebcb3_9496_47a3_b690_aae2fdd50410</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d438dfba_c6da_4193_84ea_a123ae72db0b</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d64a597a_f2b5_4ba3_8048_3ef4175be766</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dabb1b0b_b338_49cd_877d_19040ac11900</name>
        <choiceText>Perform my daily activities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perform my daily activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e34a4396_d406_49ef_aad6_5677f1b4f2f0</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f159d4ce_3575_45ee_8782_fbaed6ced0c5</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f505e179_af3d_4c28_a94c_5c09cbf8b163</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <interviewLabel>Business Systems HOS Customer Survey</interviewLabel>
    <label>Business Systems HOS Customer Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_business_systems_hos_customer_7dc1cc45_771f_4f7e_9e4d_7b314fcde6c0</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_4c66f0e0_ea64_40ed_a252_2d7d2ad447e0</name>
        <label>Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fa4cef6f_d26c_4f56_bd45_5e8dd10be77c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_854f732f_441a_4d33_b633_3fd9aa86031d</name>
            <choiceReferences>c_2494127e_dfc9_4d0a_a898_ceeb26f9ecfe</choiceReferences>
            <choiceReferences>c_9a60236e_e8a9_4cc6_9152_c1dd9b86e105</choiceReferences>
            <choiceReferences>c_29674717_b9a7_4932_8920_c343dc502b05</choiceReferences>
            <choiceReferences>c_a140dba4_0f21_40d8_8d18_2058a44b61bd</choiceReferences>
            <choiceReferences>c_cb10c90a_f4e3_4dea_9b14_c4daeb9586ed</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Select Your Location&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_89dd5dd1_29ef_494d_9c77_e1e8262c0a10</name>
            <choiceReferences>c_dabb1b0b_b338_49cd_877d_19040ac11900</choiceReferences>
            <choiceReferences>c_b9cfa26e_61dc_48e2_ab39_76180382e472</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;In what capacity are you using Salesforce or EBS today?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8f769f92_2c2a_41f5_a7cf_b0cac0f22fe0</name>
        <label>DBS Business Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_eaa001ab_e9a4_4f1c_8858_61bebc95e8d0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_25c61e9f_700a_49fb_a0fb_c1818c999c45</name>
            <choiceReferences>c_f505e179_af3d_4c28_a94c_5c09cbf8b163</choiceReferences>
            <choiceReferences>c_5b3cb8ac_6d14_4644_ac07_a36a687e2e71</choiceReferences>
            <choiceReferences>c_04f53926_206e_4c48_8387_af21de8d533d</choiceReferences>
            <choiceReferences>c_8446d452_5158_456c_8a9e_f0a8d1b14582</choiceReferences>
            <choiceReferences>c_f159d4ce_3575_45ee_8782_fbaed6ced0c5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The Corporate Business Systems Team helps me achieve my work goals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7781b3c9_fcad_4af0_8406_d2854e3e3e32</name>
            <choiceReferences>c_cb3ebcb3_9496_47a3_b690_aae2fdd50410</choiceReferences>
            <choiceReferences>c_15321f0e_4804_4690_b907_685ab1a1677c</choiceReferences>
            <choiceReferences>c_14ce3a3e_4030_476c_bcdf_6b0a443660d4</choiceReferences>
            <choiceReferences>c_88082b46_ced2_4a7f_a5cc_767a2b328ef1</choiceReferences>
            <choiceReferences>c_1f27c32d_b9c0_475e_9f61_7c16addff7ef</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;I know exactly how to get in touch with the Corporate Business Systems Team for any incidents or new requests&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_96a6b94a_52b0_4f19_ae05_6a02c9f2ae5a</name>
            <choiceReferences>c_d64a597a_f2b5_4ba3_8048_3ef4175be766</choiceReferences>
            <choiceReferences>c_b27bb318_a10f_4585_a3c3_2a265b616c12</choiceReferences>
            <choiceReferences>c_5e5097f7_be9d_44d4_8854_efa1368f3c5a</choiceReferences>
            <choiceReferences>c_12bc5d33_66d0_413b_810c_1ee92877df8e</choiceReferences>
            <choiceReferences>c_05aeaa51_00e3_467b_a3f6_813bbddafc52</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;I am satisfied with the level of expertise of the Corporate Business Systems Team&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0279e564_1ac7_408f_aaf6_7b4be821c275</name>
            <choiceReferences>c_5c8e9656_5ab6_49ae_8482_660673cb40a9</choiceReferences>
            <choiceReferences>c_1d588d99_27f0_499d_9d10_03963e36202b</choiceReferences>
            <choiceReferences>c_81fa9ca2_c143_494d_a81e_3b2b313ec90e</choiceReferences>
            <choiceReferences>c_4d08aca1_b0aa_4bed_b5df_128949635f56</choiceReferences>
            <choiceReferences>c_6f4bf594_e597_4041_bc68_0ac7cbffad2c</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;I am satisfied with the level of interaction with the Corporate Business Systems Team to progress Hospitality applications to meet my work goals.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_eaa001ab_e9a4_4f1c_8858_61bebc95e8d0</name>
        <label>Specific Question and Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_60584bea_18ae_4cab_8754_9b5c5f1a4309</name>
            <choiceReferences>c_e34a4396_d406_49ef_aad6_5677f1b4f2f0</choiceReferences>
            <choiceReferences>c_d438dfba_c6da_4193_84ea_a123ae72db0b</choiceReferences>
            <choiceReferences>c_5a1bdecb_a632_45cb_a877_b8219672222f</choiceReferences>
            <choiceReferences>c_4bd9f0a9_1058_42d1_a6ad_126692e3fb3e</choiceReferences>
            <choiceReferences>c_99ff25c7_adc1_4c90_b51b_9d2e29a359a2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;I am satisfied with the content of my most recent project delivered by the Corporate Business Systems Team&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a96fd95b_d1ff_4bae_845b_5aae4078049a</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Additional comments you would like to provide&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fa4cef6f_d26c_4f56_bd45_5e8dd10be77c</name>
        <label>Loyalty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8f769f92_2c2a_41f5_a7cf_b0cac0f22fe0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ad03917f_c43b_49cc_b803_f500025dc766_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ad03917f_c43b_49cc_b803_f500025dc766</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;How likely are you to recommend the Corporate Business Systems Team&apos;s services?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_be67571c_d4f2_4ea5_8903_7418a3269853</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;What works particularly well about the solutions and services that the Corporate Business Systems Team provides?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ffcfc78d_3dbc_45bc_88ce_4845842eea14</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;If you could give one piece of advice to Corporate Business Systems to improve their services, what would it be?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_4c66f0e0_ea64_40ed_a252_2d7d2ad447e0</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for taking your time to complete this survey.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_ad03917f_c43b_49cc_b803_f500025dc766_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
