force-app/main/default/flows/Case_TS_Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email to the Case creater with a link to their new Case</description>
        <name>NewCaseEmailAlert</name>
        <label>NewCaseEmailAlert</label>
        <locationX>1323</locationX>
        <locationY>312</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NewCaseScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateCaseEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Case Has Been Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the TS-APRA queue to alert them that a new Case has been created</description>
        <name>SendEmailARPAQueue</name>
        <label>SendEmailARPAQueue</label>
        <locationX>772</locationX>
        <locationY>379</locationY>
        <actionName>Case.TS_New_Case_ARPA_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignCaseIdARPA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CreateAPRACase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the TS-UDC queue to alert them that a new Case has been created</description>
        <name>SendEmailToUDCQueue</name>
        <label>SendEmailToUDCQueue</label>
        <locationX>773</locationX>
        <locationY>171</locationY>
        <actionName>Case.TS_New_Case_UDC_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignCaseIdUDC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CreateUDCCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignCaseIdARPA</name>
        <label>AssignCaseIdARPA</label>
        <locationX>946</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateAPRACase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNewCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseIdUDC</name>
        <label>AssignCaseIdUDC</label>
        <locationX>949</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateUDCCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNewCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewCaseNumber</name>
        <label>AssignNewCaseNumber</label>
        <locationX>1196</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewCaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCaseEmailAlert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides what Product the Case is for to assign the correct queue as owner</description>
        <name>ProductDecision</name>
        <label>ProductDecision</label>
        <locationX>309</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateUDCCase</targetReference>
            </connector>
            <label>UDC</label>
        </rules>
        <rules>
            <name>APRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAPRACase</targetReference>
            </connector>
            <label>APRA</label>
        </rules>
    </decisions>
    <description>NICC-056060; update via NICC-######; Screen flow that will create Cases for the Technical Solutions team.</description>
    <dynamicChoiceSets>
        <name>choicesRequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SD_Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called “Platform” in the custom metadata type called “Case Object Flow Picklist Setup”</description>
        <name>PlatformPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_Platform__c</picklistField>
        <picklistObject>Case_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called “Priority” in the custom metadata type called “Case Object Flow Picklist Setup”</description>
        <name>PriorityPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_Priority__c</picklistField>
        <picklistObject>Case_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Case - TS Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - TS Case Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a Case and assigns it to the TS-APRA queue</description>
        <name>CreateAPRACase</name>
        <label>CreateAPRACase</label>
        <locationX>602</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>SendEmailARPAQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreationFaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhancement__c</field>
            <value>
                <elementReference>EnhancementRequestScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NI_Product__c</field>
            <value>
                <stringValue>ARPA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetARPAQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>PriorityScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>fUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SD_Request_Type__c</field>
            <value>
                <elementReference>RequestTypeScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectScreenInput</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Case and assigns it to the TS - UDC queue</description>
        <name>CreateUDCCase</name>
        <label>CreateUDCCase</label>
        <locationX>625</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>SendEmailToUDCQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreationFaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enhancement__c</field>
            <value>
                <elementReference>EnhancementRequestScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NI_Product__c</field>
            <value>
                <stringValue>UDC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUDCQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>PriorityScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>fUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SD_Request_Type__c</field>
            <value>
                <elementReference>RequestTypeScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectScreenInput</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Account record that will be associated with the new Case</description>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>73</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amadeus Hospitality Americas, Inc.</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID of the APRA queue</description>
        <name>GetARPAQueue</name>
        <label>GetARPAQueue</label>
        <locationX>100</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseCreationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TS_ARPA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets details of the PS Escalations case record type</description>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>53</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUDCQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PS_Escalations_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCaseRecord</name>
        <label>GetNewCaseRecord</label>
        <locationX>1186</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewCaseNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Id of the Queue for UDC request type</description>
        <name>GetUDCQueue</name>
        <label>GetUDCQueue</label>
        <locationX>68</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetARPAQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TS_UDC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseCreationFaultScreen</name>
        <label>CaseCreationFaultScreen</label>
        <locationX>454</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateCaseFaultScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Your Case cannot be created at this time. Please review the error message below for issues that need to be resolved or contact your system administrator for assistance.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 27, 27);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;Click Previous to return to the wizard to correct your information. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseCreationScreen</name>
        <label>CaseCreationScreen</label>
        <locationX>354</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProductDecision</targetReference>
        </connector>
        <fields>
            <name>CaseCreationScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Technical Solutions - Case Creation Form&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please use this wizard to report questions, problems or enhancement requests for:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Unified Data Collection (UDC)&lt;/li&gt;&lt;li&gt;Amadeus Robotic Process Automation (ARPA)&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestTypeScreenInput</name>
            <choiceReferences>PlatformPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EnhancementRequestScreenInput</name>
            <dataType>Boolean</dataType>
            <fieldText>Is this an Enhancement Request?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EnhancementDisplayText</name>
            <fieldText>&lt;p&gt;An enhancement request is anything related to adding functionality or altering the existing functionality of a solution. Questions or problems (for example a solution is not working) would not be considered an enhancement request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PriorityScreenInput</name>
            <choiceReferences>PriorityPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>P3</stringValue>
            </defaultValue>
            <fieldText>Priority - For problem requests, please specify your request priority. This field defaults to P3 which is normal priority. Click the circle to see priority descriptions.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;P1 - The solution is completely down/not working&lt;/p&gt;&lt;p&gt;P2 - A function of a solution is not working&lt;/p&gt;&lt;p&gt;P3 - All other issues&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubjectScreenInput</name>
            <dataType>String</dataType>
            <fieldText>Subject - Indicate a brief summary of your question, problem, or enhancement request.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionScreenInput</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionDisplayText</name>
            <fieldText>&lt;p&gt;Please provide as much detail as possible in the Description for your question, problem, or enhancement request. For problems, please indicate how you became aware of the issue and date/time when the issue was detected.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please describe the expected behavior and steps to reproduce the issue, impacted fields, data, etc if applicable. If your inquiry is for ARPA, please include the process name when possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have screen shots for your inquiry, these can be attached as a file on the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the User the Case Number of the Case that was created</description>
        <name>NewCaseScreen</name>
        <label>NewCaseScreen</label>
        <locationX>1416</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Your Case has been created:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: {!varNewCaseNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can now attach files to your case.&lt;/p&gt;&lt;p&gt;If you have screen shots or pictures that will assist in investigating your inquiry please add here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not have any files, or you are done adding files, please click ‘Close’ to return to your Salesforce Home Page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUploadScreenInput</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewCaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>30</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template to send an email alert to the user who created the Case, alerting them their Case has been created and including a link to the Case.</description>
        <name>templateCaseEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$User.FirstName},&lt;/p&gt;&lt;p&gt;Your Case has been created.&lt;/p&gt;&lt;p&gt;Case #: {!GetNewCaseRecord.CaseRecordURL__c}&lt;/p&gt;&lt;p&gt;Subject: {!GetNewCaseRecord.Subject}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varFileUploadCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileUploadNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varNewCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueMemberRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>Contains Queue Members to send an email to</description>
        <name>varQueueMembersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
