force-app/main/default/flows/Case_Create_Oppty_Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email to the Opportunity Owner using the New Opportunity From Support Alert&quot; email alert</description>
        <name>SendEmailAlert</name>
        <label>SendEmailAlert</label>
        <locationX>793</locationX>
        <locationY>382</locationY>
        <actionName>Opportunity.New_Opportunity_From_Support_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetNewOpportunityNumber</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varNewOpportunityID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Decide whether sufficient information exists in the case to create an opportunity.</description>
        <name>CreateOpportunityDecision</name>
        <label>CreateOpportunityDecision</label>
        <locationX>522</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>NoOpportunityScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Create</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Case_Product_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Module__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Component__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the user has permission to run this Flow via the custom permission called &quot;Create Opportunity From Flow&quot;.</description>
        <name>CreateOpportunityPermission</name>
        <label>CreateOpportunityPermission</label>
        <locationX>73</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>PermissionDeniedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Create_Opportunity_From_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCase</targetReference>
            </connector>
            <label>HasPermission</label>
        </rules>
    </decisions>
    <description>NICC-064430; Create a new opportunity from a case of a Support to Case record type, and close the related case.</description>
    <dynamicChoiceSets>
        <description>Picklist from custom metadata type called &quot;Case Object Picklist Setup&quot;</description>
        <name>ProductFamilyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_ProductFamily__c</picklistField>
        <picklistObject>Case_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>formula to get the account name from the  case record</description>
        <name>formulaAccountName</name>
        <dataType>String</dataType>
        <expression>{!GetCase.Account.Id}</expression>
    </formulas>
    <formulas>
        <description>Opportunity Close Date formula.</description>
        <name>formulaCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(
     MONTH(TODAY())=12,
     DATE(YEAR(TODAY())+2,1,1)-1,
     DATE(YEAR(TODAY()),MONTH(TODAY()) + 2,1) -1
)</expression>
    </formulas>
    <formulas>
        <description>Formula that creates Opportunity Name.</description>
        <name>formulaOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!GetAccount.Name}&amp;&quot; &quot;&amp;&quot;DINameSample&quot;</expression>
    </formulas>
    <formulas>
        <description>formula to get the opportunity owner name</description>
        <name>formulaOpportunityOwnerName</name>
        <dataType>String</dataType>
        <expression>IF({!GetAccount.Owner.IsActive}=false, {!getAlternateOwner.Id}, {!GetAccount.Owner.Id})</expression>
    </formulas>
    <formulas>
        <name>formulaRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!varNewOpportunityID}</expression>
    </formulas>
    <formulas>
        <description>append the case subject to include the new Opportunity</description>
        <name>formulaUpdateCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Opportunity Number&quot;&amp;&quot;- &quot;&amp;{!GetNewOpportunityNumber.Opportunity_Number__c}&amp;&quot;; &quot;&amp;{!GetCase.Subject}</expression>
    </formulas>
    <interviewLabel>Case - Create Oppty Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Oppty Close Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Attach article to related case being closed.</description>
        <name>createCaseArticle</name>
        <label>createCaseArticle</label>
        <locationX>975</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>CloseCase</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KnowledgeArticleId</field>
            <value>
                <elementReference>GetKnowledgeArticle.KnowledgeArticleId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseArticle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new Opportunity.</description>
        <name>CreateOpportunity</name>
        <label>CreateOpportunity</label>
        <locationX>687</locationX>
        <locationY>565</locationY>
        <assignRecordIdToReference>varNewOpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>SendEmailAlert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateOpportunityFaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formulaCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_to_Sales__c</field>
            <value>
                <elementReference>NotestoSalesTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formulaOpportunityOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Potential Opportunity - 0%</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Custom__c</field>
            <value>
                <elementReference>GetAccount.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>Get account information related to the case.</description>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>359</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get an alternate owner in case the account owner is inactive</description>
        <name>getAlternateOwner</name>
        <label>getAlternateOwner</label>
        <locationX>262</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenforOpportunityDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>jstremel@newmarketinc.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case needed to create new Opportunity.</description>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>231</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOpportunityDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Knowledge Article record needed to close the case.</description>
        <name>GetKnowledgeArticle</name>
        <label>GetKnowledgeArticle</label>
        <locationX>100</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAlternateOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative; Closed; Referring Customer to another Amadeus Hospitality department (Sales, SE, Data Services, Project Manager, Subscription Management), opt out of surveys</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lightning_Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>retrieve the new opportunity number to use to insert in the case subject</description>
        <name>GetNewOpportunityNumber</name>
        <label>GetNewOpportunityNumber</label>
        <locationX>998</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseArticle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the id of the Support to Sales Opportunity record type.</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>92</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKnowledgeArticle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support_to_Case_record_type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update case record to Closed.</description>
        <name>CloseCase</name>
        <label>CloseCase</label>
        <locationX>1202</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>ConfirmationOpptyCreatedCasedClosedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CloseCaseFaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue>Sales / Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Push_Back__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pushback_Stopper__c</field>
            <value>
                <stringValue>Amadeus Dependency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaUpdateCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>screen that shows when case cannot be closed</description>
        <name>CloseCaseFaultScreen</name>
        <label>CloseCaseFaultScreen</label>
        <locationX>1194</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseCaseFaultScreenDisplayText</name>
            <fieldText>&lt;p&gt;An opportunity has been created, however the case cannot be closed due to the issue listed below.  Please return to the case to finish closing the case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm to users that an opportunity has been open and the related case has been closed</description>
        <name>ConfirmationOpptyCreatedCasedClosedScreen</name>
        <label>ConfirmationOpptyCreatedCasedClosedScreen</label>
        <locationX>1384</locationX>
        <locationY>552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowConfirmationtext</name>
            <fieldText>&lt;p&gt;A new &lt;a href=&quot;{!formulaRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;opportunity&lt;/a&gt; &lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;has been created and the related case has been closed. Please click on Finish to return to the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen will show an error message to the user if the Opportunity can&apos;t be created</description>
        <name>CreateOpportunityFaultScreen</name>
        <label>CreateOpportunityFaultScreen</label>
        <locationX>572</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpportunityFaultScreenDisplayText</name>
            <fieldText>&lt;p&gt;We are unable to create your Opportunity at this time. Please review and resolve the error message listed below and try your request again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 6, 6);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>screen presented when there is insufficient information to create the new opportunity.</description>
        <name>NoOpportunityScreen</name>
        <label>NoOpportunityScreen</label>
        <locationX>716</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOpportunityScreenDisplayText</name>
            <fieldText>&lt;p&gt;These fields are required: contact, case product line,  module, and component in order to create a new opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PermissionDeniedScreen</name>
        <label>PermissionDeniedScreen</label>
        <locationX>614</locationX>
        <locationY>99</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PermissionDeniedScreenDisplayText</name>
            <fieldText>&lt;p&gt;You do not have the correct permissions to complete this action. Please contact your supervisor for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen that displays details of the opportunity that is to be created.</description>
        <name>ScreenforOpportunityDetails</name>
        <label>ScreenforOpportunityDetails</label>
        <locationX>399</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <fields>
            <name>NewOpportunityDetailsDisplayText</name>
            <fieldText>&lt;p&gt;New Opportunity Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenforOpportunityDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenforOpportunityDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_NameScreenDisplay</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>formulaOpportunityName</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccountLookupScreenInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>formulaAccountName</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Notes_to_SalesScreenInput</name>
                    <fieldText>Notes to Sales</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please keep the Notes to Sales under 2000  characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Notes_to_SalesScreenInput}) &lt; 2000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Close_DateDisplayScreen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>formulaCloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenforOpportunityDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Record_TypeScreenDisplay</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetRecordType.Name</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Record Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_StageScreenDisplay</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Potential Opportunity - 0%</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Stage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_SourceScreenDisplay</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Support</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Product_Family_Screen_Input</name>
                    <choiceReferences>ProductFamilyChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Family</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>135</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateOpportunityPermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotestoSalesTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Product Family: {!Product_Family_Screen_Input}
Notes to Sales: {!Notes_to_SalesScreenInput}</text>
    </textTemplates>
    <variables>
        <description>Holds the list of Case records that meet the criteria of the GetRecords element.</description>
        <name>AllCasesRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the ID of the Case.</description>
        <name>varCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the records of new Opportunity to be created.</description>
        <name>varCreateNewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable to store the new Opportunity record Id.</description>
        <name>varNewOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>store the new opportunity number</description>
        <name>varOpportunityNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
