force-app/main/default/flows/Case_PSCaseClassifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigns the Request Type of &quot;Activate&quot; to the Case record</description>
        <name>AssignActivate</name>
        <label>AssignActivate</label>
        <locationX>374</locationX>
        <locationY>6</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request SubType of &quot;Additional Admin&quot; to the Case record</description>
        <name>AssignAdditionalAdmin</name>
        <label>AssignAdditionalAdmin</label>
        <locationX>761</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Affiliation&quot; to the Case record</description>
        <name>AssignAffiliations</name>
        <label>AssignAffiliations</label>
        <locationX>1138</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affiliation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Cancel&quot; to the Case</description>
        <name>AssignCancel</name>
        <label>AssignCancel</label>
        <locationX>375</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Deployment Instance&quot; to the Case record</description>
        <name>AssignDeploymentInstance</name>
        <label>AssignDeploymentInstance</label>
        <locationX>1167</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployment Instance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;HotSOS&quot; to the Case record</description>
        <name>AssignHotSOS</name>
        <label>AssignHotSOS</label>
        <locationX>889</locationX>
        <locationY>142</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HotSOS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Integration&quot; to the Case record</description>
        <name>AssignIntegration</name>
        <label>AssignIntegration</label>
        <locationX>1001</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Locations&quot; to the Case record</description>
        <name>AssignLocations</name>
        <label>AssignLocations</label>
        <locationX>1018</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Locations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;MeetingBroker&quot;</description>
        <name>AssignMeetingBroker</name>
        <label>AssignMeetingBroker</label>
        <locationX>945</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meetingbroker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Org Details&quot; to the Case record</description>
        <name>AssignOrgDetails</name>
        <label>AssignOrgDetails</label>
        <locationX>922</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Org Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Property Live Date&quot; to the Case record</description>
        <name>AssignPropertyLiveDate</name>
        <label>AssignPropertyLiveDate</label>
        <locationX>908</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Property Live Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Property Name&quot; to the Case record</description>
        <name>AssignPropertyName</name>
        <label>AssignPropertyName</label>
        <locationX>766</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Property Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Reinstate&quot; to the Case</description>
        <name>AssignReinstate</name>
        <label>AssignReinstate</label>
        <locationX>368</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinstate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Salesforce Licenses&quot; to the Case record</description>
        <name>AssignSalesforceLicenses</name>
        <label>AssignSalesforceLicenses</label>
        <locationX>798</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Licenses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Salesforce Org&quot; to the Case record</description>
        <name>AssignSalesforceOrg</name>
        <label>AssignSalesforceOrg</label>
        <locationX>782</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Sub Activations&quot; to the Case record</description>
        <name>AssignSubsActivations</name>
        <label>AssignSubsActivations</label>
        <locationX>1041</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub Activations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Sub-Type of &quot;Support User&quot; to the Case record</description>
        <name>AssignSupportUser</name>
        <label>AssignSupportUser</label>
        <locationX>1121</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Suspend&quot; to the Case</description>
        <name>AssignSuspend</name>
        <label>AssignSuspend</label>
        <locationX>363</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suspend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Transfer&quot; to the Case</description>
        <name>AssignTransfer</name>
        <label>AssignTransfer</label>
        <locationX>366</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Update to the Case</description>
        <name>AssignUpdate</name>
        <label>AssignUpdate</label>
        <locationX>372</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Request Type of &quot;Verify&quot; to the Case</description>
        <name>AssignVerify</name>
        <label>AssignVerify</label>
        <locationX>372</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignRecordValues.PS_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubTypeDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides what Request Type the Case Subject is a match for.</description>
        <name>DecideRequestType</name>
        <label>DecideRequestType</label>
        <locationX>60</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Provision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Corp Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActivate</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CXL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancellation/Migration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deactivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCancel</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Affiliation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cleanup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deflag</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Org Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deployment Instance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Extract\Append</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Property Name</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUBD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update Locations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUpdate</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Verify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>True Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sub Activation Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Misalign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discrepancy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live Date</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Verify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignVerify</targetReference>
            </connector>
            <label>Verify</label>
        </rules>
        <rules>
            <name>Reinstate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reactivate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Redo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reinstate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Restore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReinstate</targetReference>
            </connector>
            <label>Reinstate</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Move</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTransfer</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Suspend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Suspend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSuspend</targetReference>
            </connector>
            <label>Suspend</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the Case is a new Case or an if the Case has been updated</description>
        <name>NewOrUpdatedCase</name>
        <label>NewOrUpdatedCase</label>
        <locationX>47</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecideRequestType</targetReference>
            </connector>
            <label>NewCase</label>
        </rules>
        <rules>
            <name>CaseSubjectUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecideRequestType</targetReference>
            </connector>
            <label>CaseSubjectUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if a Case record needs a Request SubType added</description>
        <name>SubTypeDecision</name>
        <label>SubTypeDecision</label>
        <locationX>599</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdditionalAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Corp Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAdditionalAdmin</targetReference>
            </connector>
            <label>AdditionalAdmin</label>
        </rules>
        <rules>
            <name>SalesforceLicenses</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Provision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Licenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesforceLicenses</targetReference>
            </connector>
            <label>SalesforceLicenses</label>
        </rules>
        <rules>
            <name>HotSOS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mild</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignHotSOS</targetReference>
            </connector>
            <label>HotSOS</label>
        </rules>
        <rules>
            <name>Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIntegration</targetReference>
            </connector>
            <label>Integration</label>
        </rules>
        <rules>
            <name>Locations</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Locations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLocations</targetReference>
            </connector>
            <label>Locations</label>
        </rules>
        <rules>
            <name>Affiliations</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Affiliation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAffiliations</targetReference>
            </connector>
            <label>Affiliations</label>
        </rules>
        <rules>
            <name>SubsActivations</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUBD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSubsActivations</targetReference>
            </connector>
            <label>SubsActivations</label>
        </rules>
        <rules>
            <name>DeploymentInstance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deployment Instance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDeploymentInstance</targetReference>
            </connector>
            <label>DeploymentInstance</label>
        </rules>
        <rules>
            <name>SupportUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSupportUser</targetReference>
            </connector>
            <label>SupportUser</label>
        </rules>
        <rules>
            <name>PropertyName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Property Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPropertyName</targetReference>
            </connector>
            <label>PropertyName</label>
        </rules>
        <rules>
            <name>PropertyLiveDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPropertyLiveDate</targetReference>
            </connector>
            <label>PropertyLiveDate</label>
        </rules>
        <rules>
            <name>OrgDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Org Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOrgDetails</targetReference>
            </connector>
            <label>OrgDetails</label>
        </rules>
        <rules>
            <name>SalesforceOrg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesforceOrg</targetReference>
            </connector>
            <label>SalesforceOrg</label>
        </rules>
        <rules>
            <name>MeetingBroker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MeetingBroker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMeetingBroker</targetReference>
            </connector>
            <label>MeetingBroker</label>
        </rules>
    </decisions>
    <description>NICC-057684; Adds a Request Type and Request Sub-type to PS Escalations Cases</description>
    <interviewLabel>Case - PS Case Classifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - PS Case Classifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCaseRecord</name>
        <label>UpdateCaseRecord</label>
        <locationX>1432</locationX>
        <locationY>239</locationY>
        <inputReference>varAssignRecordValues</inputReference>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>NewOrUpdatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G60000001DCUiEAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012320000009gD7AAI</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to assign Request Type and Request Sub-Type (if applicable) values to the Case record</description>
        <name>varAssignRecordValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
