force-app/main/default/flows/Case_InvokeCRApprovalProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Submits the Case record for approval. Invokes the Case Approval Process called &quot;Case - CR Approval v5&quot;</description>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>855</locationX>
        <locationY>265</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Case_CR_Approval_v5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>This case was submitted for CR approval by an automated process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
<<<<<<< HEAD
                <elementReference>$User.Id</elementReference>
=======
                <elementReference>$Record.Owner:User.Id</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Counts the number of records found in &quot;GetApprovalHistory&quot;</description>
        <name>CountApprovalHistory</name>
        <label>CountApprovalHistory</label>
        <locationX>407</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>varCountOfApprovalHistory</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varProcessInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubmitForApprovalDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides if the Case should be submitted for Approval or not</description>
        <name>SubmitForApprovalDecision</name>
        <label>SubmitForApprovalDecision</label>
<<<<<<< HEAD
        <locationX>610</locationX>
        <locationY>233</locationY>
=======
        <locationX>616</locationX>
        <locationY>230</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOfApprovalHistory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <description>NICC-061167; updated via NICC-061427; updated via NICC-061427

Moved from process builder with the same name. Invokes the Case CR Approval Process</description>
    <environments>Default</environments>
    <interviewLabel>Case - Invoke CR Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Invoke CR Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Approval History for the Case to determine if any Case is currently in an approval process</description>
        <name>GetCaseApprovalHistory</name>
        <label>GetCaseApprovalHistory</label>
        <locationX>194</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountApprovalHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>varProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <start>
        <locationX>69</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetCaseApprovalHistory</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Case&quot; &amp;&amp;
TEXT({!$Record.Status}) &lt;&gt; &quot;Closed&quot; &amp;&amp;
TEXT({!$Record.Approval_Status__c}) &lt;&gt; &quot;Submitted&quot; &amp;&amp;
TEXT({!$Record.Approval_Status__c}) &lt;&gt; &quot;Approved&quot; &amp;&amp;
ISCHANGED({!$Record.Change_Request__c}) &amp;&amp;
NOT(ISBLANK({!$Record.Change_Request__c}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the count of records that have a &quot;Pending Status&quot; in the Case&apos;s approval history</description>
        <name>varCountOfApprovalHistory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Collection resource to hold the Approval History records for a Case</description>
        <name>varProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
</Flow>
