force-app/main/default/flows/Case_PSEscalationsCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email to the &quot;PS Escalations&quot; queue alerting them that a new Case has been created</description>
        <name>EmailAlertToQueue</name>
        <label>EmailAlertToQueue</label>
        <locationX>991</locationX>
        <locationY>135</locationY>
        <actionName>Case.PS_Escalations_Case_Creation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetNewCaseRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varNewCaseRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the Case creator with a link to their new Case</description>
        <name>EmailAlertToRequester</name>
        <label>EmailAlertToRequester</label>
        <locationX>1422</locationX>
        <locationY>178</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NewCaseScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateCaseEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Case Has Been Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignCaseId</name>
        <label>AssignCaseId</label>
        <locationX>950</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailAlertToQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewCaseNumber</name>
        <label>AssignNewCaseNumber</label>
        <locationX>1231</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewCaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailAlertToRequester</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns field values to the new Case record</description>
        <name>AssignNewRecord</name>
        <label>AssignNewRecord</label>
        <locationX>621</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.NI_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductScreenInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Intake Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueueRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityScreenInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLookupInput.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectScreenInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Working With Customer End Date value to a temporary variable to use in a formula so it displays in the description field correctly.</description>
        <name>AssignTempDateVariable</name>
        <label>AssignTempDateVariable</label>
        <locationX>600</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>varTempEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkingWithCustomerEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceDistributionDiagramming</name>
        <choiceText>Distribution and Diagramming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Distribution &amp; Diagramming</stringValue>
        </value>
    </choices>
    <choices>
        <description>Priority choice P1</description>
        <name>choiceP1</name>
        <choiceText>P1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Priority choice P2</description>
        <name>choiceP2</name>
        <choiceText>P2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P2</stringValue>
        </value>
    </choices>
    <choices>
        <description>Priority choice P3</description>
        <name>choiceP3</name>
        <choiceText>P3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P3</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePMS</name>
        <choiceText>Property Management Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property Management Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSC</name>
        <choiceText>Sales and Catering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales &amp; Catering</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSO</name>
        <choiceText>Service Optimization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Optimization</stringValue>
        </value>
    </choices>
    <description>NICC-057654; updated via NICC-059265; updated via NICC-06144
Screen Flow to create PS Escalations Cases</description>
    <dynamicChoiceSets>
        <name>choicesRequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SD_Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaDescription</name>
        <dataType>String</dataType>
        <expression>{!DescriptionScreenInput} &amp;&quot; &quot;&amp;
{!varLineBreak}&amp;
&quot;Vendor: &quot;  &amp;&quot; &quot;&amp; {!VendorInput}  &amp;&quot; &quot;&amp;
{!varLineBreak}&amp;
&quot;I am working with this customer until:&quot; &amp;&quot; &quot;&amp; {!varTempEndDate} &amp;&quot; &quot;&amp;
{!varLineBreak}&amp;
&quot;Product &amp; Version: &quot;  &amp;&quot; &quot;&amp; {!ProductVersionInput} &amp;&quot; &quot;&amp;
{!varLineBreak}&amp;
&quot;How is this issue impacting the customer?&quot; &amp;&quot; &quot;&amp;{!IssueImpactingCustomerScreenInput}</expression>
    </formulas>
    <formulas>
        <name>varLineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Case - PS Escalations Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - PS Escalations Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Case and assigns it to the {queue name}</description>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>779</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>AssignCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreationFaultScreen</targetReference>
        </faultConnector>
        <inputReference>varNewCaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets details of the Account record associated with the Case</description>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>184</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProject</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountInputScreen.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets details of the PS Escalations case record type</description>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>54</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PS_Escalations_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCaseRecord</name>
        <label>GetNewCaseRecord</label>
        <locationX>1108</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewCaseNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets details about the Opportunity that will be associated to the Case</description>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>460</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTempDateVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets details about the Project that will be associated to the Case</description>
        <name>GetProject</name>
        <label>GetProject</label>
        <locationX>299</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectScreenInput.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Id of the Queue for UDC request type</description>
        <name>GetQueueRecord</name>
        <label>GetQueueRecord</label>
        <locationX>36</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseCreationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Q_PS_Escalations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseCreationFaultScreen</name>
        <label>CaseCreationFaultScreen</label>
        <locationX>789</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateCaseFaultScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Your Case cannot be created at this time. Please review the error message below for issues that need to be resolved or contact your system administrator for assistance.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 27, 27);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;Click Previous to return to the wizard to correct your information. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseCreationScreen</name>
        <label>CaseCreationScreen</label>
        <locationX>61</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <fields>
            <name>CaseCreationScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PS Escalations Case Creation Form&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please use this form to report questions, problems or enhancement requests for:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Distribution and Diagramming&lt;/li&gt;&lt;li&gt;Property Management Products&lt;/li&gt;&lt;li&gt;Sales and Catering&lt;/li&gt;&lt;li&gt;Service Optimization&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductScreenInput</name>
            <choiceReferences>choiceDistributionDiagramming</choiceReferences>
            <choiceReferences>choicePMS</choiceReferences>
            <choiceReferences>choiceSC</choiceReferences>
            <choiceReferences>choiceSO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PriorityScreenInput</name>
            <choiceReferences>choiceP3</choiceReferences>
            <choiceReferences>choiceP2</choiceReferences>
            <choiceReferences>choiceP1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceP3</defaultSelectedChoiceReference>
            <fieldText>Priority - For problem requests, please specify your request priority. This field defaults to P3 which is normal priority. Click the circle to see priority descriptions.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;P1 - Critical.&amp;nbsp;Business impacting.&amp;nbsp;Will be reviewed and worked within 1 business day. Resolution may take longer.&lt;/p&gt;&lt;p&gt;P2 - High Importance. Impacting one or more areas of the application.&lt;/p&gt;&lt;p&gt;P3 - Normal Priority. Doesn&apos;t impact the flow of training, typically a workaround exists.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubjectScreenInput</name>
            <dataType>String</dataType>
            <fieldText>Subject - Indicate a brief summary of your question, problem, or enhancement request.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionScreenInput</name>
            <fieldText>Detailed Summary and Steps to Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInputScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactLookupInput</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VendorInput</name>
            <dataType>String</dataType>
            <fieldText>Vendor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProjectScreenInput</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varProjectId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProductVersionInput</name>
            <dataType>String</dataType>
            <fieldText>Product &amp; Version</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;APMA/IDPMS &amp;lt; Please add PMS version installed&amp;gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseCreationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CaseCreationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkingWithCustomerEndDate</name>
                    <dataType>Date</dataType>
                    <fieldText>I am working with this customer until:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CaseCreationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IssueImpactingCustomerScreenInput</name>
            <dataType>String</dataType>
            <fieldText>How is this issue impacting the customer?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&amp;lt;for example, customer not able to login or update records, etc.&amp;gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailCommunicationsDisplayText</name>
            <fieldText>&lt;p&gt;Please attach any email communications or other attachments as a file on the next screen.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the User the Case Number of the Case that was created</description>
        <name>NewCaseScreen</name>
        <label>NewCaseScreen</label>
        <locationX>1461</locationX>
        <locationY>396</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedDisplayText</name>
            <fieldText>&lt;p&gt;Your Case has been created and you can now attach files to your case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not have any files, or you are done adding files, please click &quot;Go to Case&quot; to review your newly-created Case record or &quot;Enter New Case&quot; to return to the form. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUploadScreenInput</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewCaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCaseScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewCaseScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NewCaseScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewCaseScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GoToCaseDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://amadeus-hospitality.my.salesforce.com/{!varNewCaseRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;&lt;u&gt;Go to Case&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amadeus-hospitality.my.salesforce.com/flow/Case_PSEscalationsCaseCreation?retURL=home/home.jsp&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;&lt;u&gt;﻿Enter New Case&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close Form</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>30</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template to send an email alert to the user who created the Case, alerting them their Case has been created and including a link to the Case.</description>
        <name>templateCaseEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;*** NEW PS Escalations CASE ASSIGNMENT NOTIFICATION ***&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;The following case has been assigned to Q-PS Escalations. The Customer Delivery Managers will review the case and ensure it is quickly routed to the right resource to assist.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Case #: &lt;u style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!GetNewCaseRecord.CaseRecordURL__c}&lt;/u&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!AccountInputScreen.recordName}&lt;/p&gt;&lt;p&gt;Subject: {!GetNewCaseRecord.Subject}&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Holds the ID of the Account the Case will be connected to</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileUploadCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileUploadNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varNewCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the Id of an Opportunity record</description>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the Id of a Project record</description>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueMemberRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>Contains Queue Members to send an email to</description>
        <name>varQueueMembersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTempEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTempIssueImpacting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varvarTempEmailCommunications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
