force-app/main/default/flows/Case_SendToSmartQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to the SmartQ ticketing system and to the Case Owner</description>
        <name>Case_Send_to_SmartQ</name>
        <label>Case - Send to SmartQ</label>
        <locationX>556</locationX>
        <locationY>317</locationY>
        <actionName>Case.Case_SendToSmartQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>NICC-061068; Sends an email to the SmartQ ticketing system when a Case for either Demand360 or Agency360 has a Data Discrepancy.</description>
    <interviewLabel>Case - Send to SmartQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Send to SmartQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the Status of the Case to &quot;Paused - Development Team Review&quot;</description>
        <name>UpdateCaseStatus</name>
        <label>UpdateCaseStatus</label>
        <locationX>877</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paused - Development Team Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>68</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Case_Send_to_SmartQ</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
