force-app/main/default/flows/Case_SolutionAdoptionEmailAlertsv2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Closing Reminder Email Alert&quot;</description>
        <name>ASEMClosingReminder</name>
        <label>ASEM Closing Reminder</label>
        <locationX>904</locationX>
        <locationY>513</locationY>
        <actionName>Case.Solution_Adoption_ASEMClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Follow Up 1 Email Alert&quot;</description>
        <name>ASEMFollowUp1</name>
        <label>ASEM Follow Up 1</label>
        <locationX>885</locationX>
        <locationY>161</locationY>
        <actionName>Case.Solution_Adoption_ASEMFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Follow Up 2 Email Alert&quot;</description>
        <name>ASEMFollowUp2</name>
        <label>ASEM Follow Up 2</label>
        <locationX>906</locationX>
        <locationY>274</locationY>
        <actionName>Case.Solution_Adoption_ASEMFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Extending Solution Adoption Reminder Email Alert&quot;</description>
        <name>ASEMSolutionAdoptionReminder</name>
        <label>ASEM Solution Adoption Reminder</label>
        <locationX>904</locationX>
        <locationY>381</locationY>
        <actionName>Case.SolutionAdoptionASEMExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Support Handover Email Alert&quot;</description>
        <name>ASEMSupportHandover</name>
        <label>ASEM Support Handover</label>
        <locationX>931</locationX>
        <locationY>630</locationY>
        <actionName>Case.Solution_Adoption_ASEMSupport_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption ASEM Weclome Email Alert&quot;</description>
        <name>ASEMWelcome</name>
        <label>ASEM Welcome</label>
        <locationX>869</locationX>
        <locationY>42</locationY>
        <actionName>Case.Solution_Adoption_ASEMWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Closing_Reminder</name>
        <label>BI Closing Reminder</label>
        <locationX>1407</locationX>
        <locationY>494</locationY>
        <actionName>Case.SolutionAdoptionBIClosingReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Follow_Up_1</name>
        <label>BI Follow Up 1</label>
        <locationX>1388</locationX>
        <locationY>145</locationY>
        <actionName>Case.SolutionAdoptionBIFollowUp1EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Follow_Up_2</name>
        <label>BI Follow Up 2</label>
        <locationX>1406</locationX>
        <locationY>265</locationY>
        <actionName>Case.SolutionAdoptionBIFollowUp2EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Solution_Adoption_Reminder</name>
        <label>BI Solution Adoption Reminder</label>
        <locationX>1410</locationX>
        <locationY>371</locationY>
        <actionName>Case.SolutionAdoptionBISolutionAdoptionReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Support_Handover</name>
        <label>BI Support Handover</label>
        <locationX>1415</locationX>
        <locationY>615</locationY>
        <actionName>Case.SolutionAdoptionBISupportHandoverEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BI_Welcome</name>
        <label>BI Welcome</label>
        <locationX>1384</locationX>
        <locationY>31</locationY>
        <actionName>Case.SolutionAdoptionBIWelcomeEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Closing_Reminder</name>
        <label>GMS Closing Reminder</label>
        <locationX>1222</locationX>
        <locationY>494</locationY>
        <actionName>Case.SolutionAdoptionGMSClosingReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Follow_Up_1</name>
        <label>GMS Follow Up 1</label>
        <locationX>1203</locationX>
        <locationY>153</locationY>
        <actionName>Case.SolutionAdoptionGMSFollowUp1EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Follow_Up_2</name>
        <label>GMS Follow Up 2</label>
        <locationX>1211</locationX>
        <locationY>269</locationY>
        <actionName>Case.SolutionAdoptionGMSFollowUp2EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Solution_Adoption_Reminder</name>
        <label>GMS Solution Adoption Reminder</label>
        <locationX>1235</locationX>
        <locationY>362</locationY>
        <actionName>Case.SolutionAdoptionGMSSolutionAdoptionReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Support_Handover</name>
        <label>GMS Support Handover</label>
        <locationX>1228</locationX>
        <locationY>615</locationY>
        <actionName>Case.SolutionAdoptionGMSSupportHandoverEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GMS_Welcome</name>
        <label>GMS Welcome</label>
        <locationX>1181</locationX>
        <locationY>35</locationY>
        <actionName>Case.SolutionAdoptionGMSWelcomeEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption PMS Closing Reminder Email Alert&quot;</description>
        <name>PMSClosingReminder</name>
        <label>PMS Closing Reminder</label>
        <locationX>1140</locationX>
        <locationY>481</locationY>
        <actionName>Case.Solution_Adoption_PMSClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption PMS Follow Up 1 Email Alert&quot;</description>
        <name>PMSFollowUp1</name>
        <label>PMS Follow Up 1</label>
        <locationX>1105</locationX>
        <locationY>151</locationY>
        <actionName>Case.Solution_Adoption_PMSFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption PMS Follow Up 2 Email Alert&quot;</description>
        <name>PMSFollowUp2</name>
        <label>PMS Follow Up 2</label>
        <locationX>1108</locationX>
        <locationY>257</locationY>
        <actionName>Case.Solution_Adoption_PMSFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption Extending PMS Solution Adoption Reminder Email Alert&quot;</description>
        <name>PMSSolutionAdoptionReminder</name>
        <label>PMS Solution Adoption Reminder</label>
        <locationX>1141</locationX>
        <locationY>361</locationY>
        <actionName>Case.SolutionAdoptioPMSExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption PMS Support Handover Email Alert&quot;</description>
        <name>PMSSupportHandover</name>
        <label>PMS Support Handover</label>
        <locationX>1140</locationX>
        <locationY>604</locationY>
        <actionName>Case.Solution_Adoption_PMS_Support_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption PMS Welcome Email Alert&quot;</description>
        <name>PMSWelcome</name>
        <label>PMS Welcome</label>
        <locationX>1066</locationX>
        <locationY>33</locationY>
        <actionName>Case.Solution_Adoption_PMSWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Closing_Reminder</name>
        <label>RES Closing Reminder</label>
        <locationX>1310</locationX>
        <locationY>498</locationY>
        <actionName>Case.SolutionAdoptionRESClosingReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Follow_Up_1</name>
        <label>RES Follow Up 1</label>
        <locationX>1303</locationX>
        <locationY>154</locationY>
        <actionName>Case.SolutionAdoptionRESFollowUp1EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Follow_Up_2</name>
        <label>RES Follow Up 2</label>
        <locationX>1314</locationX>
        <locationY>271</locationY>
        <actionName>Case.SolutionAdoptionRESFollowUp2EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Solution_Adoption_Reminder</name>
        <label>RES Solution Adoption Reminder</label>
        <locationX>1319</locationX>
        <locationY>376</locationY>
        <actionName>Case.SolutionAdoptionRESSolutionAdoptionReminderEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Support_Handover</name>
        <label>RES Support Handover</label>
        <locationX>1324</locationX>
        <locationY>610</locationY>
        <actionName>Case.SolutionAdoptionRESSupportHandoverEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RES_Welcome</name>
        <label>RES Welcome</label>
        <locationX>1281</locationX>
        <locationY>37</locationY>
        <actionName>Case.SolutionAdoptionRESWelcomeEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Closing Reminder Email Alert&quot;</description>
        <name>SOClosingReminder</name>
        <label>SO Closing Reminder</label>
        <locationX>1032</locationX>
        <locationY>485</locationY>
        <actionName>Case.Solution_Adoption_SOClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignClosingReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Follow Up 1 Email Alert&quot;</description>
        <name>SOFollowUp1</name>
        <label>SO Follow Up 1</label>
        <locationX>999</locationX>
        <locationY>155</locationY>
        <actionName>Case.Solution_Adoption_SOFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp1Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Follow Up 2 Email Alert&quot;</description>
        <name>SOFollowUp2</name>
        <label>SO Follow Up 2</label>
        <locationX>1024</locationX>
        <locationY>255</locationY>
        <actionName>Case.Solution_Adoption_SOFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentFollowUp2Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Extending Solution Adoption Reminder Email Alert&quot;</description>
        <name>SOSolutionAdoptionReminder</name>
        <label>SO Solution Adoption Reminder</label>
        <locationX>1037</locationX>
        <locationY>362</locationY>
        <actionName>Case.SolutionAdoptionSOExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentSolutionAdoptionReminderDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Support Handover Email Alert&quot;</description>
        <name>SOSupportHandover</name>
        <label>SO Support Handover</label>
        <locationX>1049</locationX>
        <locationY>612</locationY>
        <actionName>Case.Solution_Adoption_SOSupport_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSupportHandoverDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert called &quot;Solution Adoption SO Welcome Email Alert&quot;</description>
        <name>SOWelcome</name>
        <label>SO Welcome</label>
        <locationX>973</locationX>
        <locationY>45</locationY>
        <actionName>Case.Solution_Adoption_SOWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignSentWelcomeDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Adds the case to the collection to send an email and update a Date field</description>
        <name>AddCaseToCollectionUseCase</name>
        <label>AddCaseToCollectionUseCase</label>
        <locationX>425</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>varChosenCaseRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Closing Reminder” Date field on the Case.</description>
        <name>AssignClosingReminderDate</name>
        <label>AssignClosingReminderDate</label>
        <locationX>1512</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Sent_Closing_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Follow Up 1” Date field on the Case.</description>
        <name>AssignSentFollowUp1Date</name>
        <label>AssignSentFollowUp1Date</label>
        <locationX>1500</locationX>
        <locationY>142</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Sent_Follow_up_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Follow Up 2” Date field on the Case.</description>
        <name>AssignSentFollowUp2Date</name>
        <label>AssignSentFollowUp2Date</label>
        <locationX>1513</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Sent_Follow_up_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Solution Adoption Reminder” Date field on the Case.</description>
        <name>AssignSentSolutionAdoptionReminderDate</name>
        <label>AssignSentSolutionAdoptionReminderDate</label>
        <locationX>1514</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Solution_Adoption_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Welcome Email” Date field on the Case.</description>
        <name>AssignSentWelcomeDate</name>
        <label>AssignSentWelcomeDate</label>
        <locationX>1495</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Sent_Welcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a Date Today() to the “Sent Support Handover” Date field on the Case.</description>
        <name>AssignSupportHandoverDate</name>
        <label>AssignSupportHandoverDate</label>
        <locationX>1514</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Sent_Support_Handover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCaseSentDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopChosenCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCaseUpdatesRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateCaseSentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of Cases that were added from the Loop. The number should match the number of records the user chose from the List View.</description>
        <name>CountChosenCases</name>
        <label>CountChosenCases</label>
        <locationX>163</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>varCountOfChosenCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varChosenCaseRecordsCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountOfCaseNoEmails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCasesNoEmailOrDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChosenCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of Ids from the list view</description>
        <name>CountIDsFromListView</name>
        <label>CountIDsFromListView</label>
        <locationX>21</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>varCountOfRecordsFromListView</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of records to be updated</description>
        <name>CountOfUpdateCases</name>
        <label>CountOfUpdateCases</label>
        <locationX>357</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>varCountOfUpdateCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varFinalCaseUpdatesRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseSentDate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceEmailTypeClosingReminder</name>
        <choiceText>Closing Reminder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closing Reminder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmailTypeFollowUp1</name>
        <choiceText>Follow Up 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmailTypeFollowUp2</name>
        <choiceText>Follow Up 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmailTypeSolutionAdoptionReminder</name>
        <choiceText>Solution Adoption Reminder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution Adoption Reminder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmailTypeSupportHandover</name>
        <choiceText>Support Handover</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Handover</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmailTypeWelcomeEmail</name>
        <choiceText>Welcome Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Welcome Email</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decides if the current case in the loop is a Case chosen by the user from the list view</description>
        <name>CaseIdInCollectionDecision</name>
        <label>CaseIdInCollectionDecision</label>
        <locationX>43</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>LoopAllCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UseCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopAllCases.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCaseToCollectionUseCase</targetReference>
            </connector>
            <label>UseCase</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s Closing Reminder email to send</description>
        <name>ClosingReminderProductLineDecision</name>
        <label>ClosingReminderProductLineDecision</label>
        <locationX>774</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMClosingReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMClosingReminder</targetReference>
            </connector>
            <label>ASEMClosingReminderEmail</label>
        </rules>
        <rules>
            <name>SOClosingReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOClosingReminder</targetReference>
            </connector>
            <label>SOClosingReminderEmail</label>
        </rules>
        <rules>
            <name>PMSClosingReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSClosingReminder</targetReference>
            </connector>
            <label>PMSClosingReminderEmail</label>
        </rules>
        <rules>
            <name>GMSClosingReminderEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Closing_Reminder</targetReference>
            </connector>
            <label>GMSClosingReminderEmail</label>
        </rules>
        <rules>
            <name>RESClosingReminderEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Closing_Reminder</targetReference>
            </connector>
            <label>RESClosingReminderEmail</label>
        </rules>
        <rules>
            <name>BIClosingReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Closing_Reminder</targetReference>
            </connector>
            <label>BIClosingReminderEmail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides what type of email the user has chosen to send out based on their choice from screen 1</description>
        <name>EmailTypeDecision</name>
        <label>EmailTypeDecision</label>
        <locationX>411</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>LoopChosenCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WelcomeEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeWelcomeEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WelcomeProductLineDecision</targetReference>
            </connector>
            <label>WelcomeEmail</label>
        </rules>
        <rules>
            <name>FollowUp1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeFollowUp1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FollowUp1ProductLineDecision</targetReference>
            </connector>
            <label>FollowUp1</label>
        </rules>
        <rules>
            <name>FollowUp2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeFollowUp2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FollowUp2ProductLineDecision</targetReference>
            </connector>
            <label>FollowUp2</label>
        </rules>
        <rules>
            <name>SolutionAdoptionReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeSolutionAdoptionReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAReminderProductLineDecision</targetReference>
            </connector>
            <label>SolutionAdoptionReminder</label>
        </rules>
        <rules>
            <name>ClosingReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeClosingReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosingReminderProductLineDecision</targetReference>
            </connector>
            <label>ClosingReminder</label>
        </rules>
        <rules>
            <name>SupportHandover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailSendTypeScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEmailTypeSupportHandover</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupportHandoverProductLineDecision</targetReference>
            </connector>
            <label>SupportHandover</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s Follow Up 1 email to send</description>
        <name>FollowUp1ProductLineDecision</name>
        <label>FollowUp1ProductLineDecision</label>
        <locationX>755</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMFollowUp1Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMFollowUp1</targetReference>
            </connector>
            <label>ASEMFollowUp1Email</label>
        </rules>
        <rules>
            <name>SOFollowUp1Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOFollowUp1</targetReference>
            </connector>
            <label>SOFollowUp1Email</label>
        </rules>
        <rules>
            <name>PMSFollowUp1Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSFollowUp1</targetReference>
            </connector>
            <label>PMSFollowUp1Email</label>
        </rules>
        <rules>
            <name>GMSFollowUp1Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Follow_Up_1</targetReference>
            </connector>
            <label>GMSFollowUp1Email</label>
        </rules>
        <rules>
            <name>RESFollowUp1Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Follow_Up_1</targetReference>
            </connector>
            <label>RESFollowUp1Email</label>
        </rules>
        <rules>
            <name>BIFollowUp1Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Follow_Up_1</targetReference>
            </connector>
            <label>BIFollowUp1Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s Follow Up 2 email to send</description>
        <name>FollowUp2ProductLineDecision</name>
        <label>FollowUp2ProductLineDecision</label>
        <locationX>764</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMFollowUp2Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMFollowUp2</targetReference>
            </connector>
            <label>ASEMFollowUp2Email</label>
        </rules>
        <rules>
            <name>SOFollowUp2Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOFollowUp2</targetReference>
            </connector>
            <label>SOFollowUp2Email</label>
        </rules>
        <rules>
            <name>PMSFollowUp2Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSFollowUp2</targetReference>
            </connector>
            <label>PMSFollowUp2Email</label>
        </rules>
        <rules>
            <name>GMSFollowUp2Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Follow_Up_2</targetReference>
            </connector>
            <label>GMSFollowUp2Email</label>
        </rules>
        <rules>
            <name>RESFollowUp2Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Follow_Up_2</targetReference>
            </connector>
            <label>RESFollowUp2Email</label>
        </rules>
        <rules>
            <name>BIFollowUp2Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Follow_Up_2</targetReference>
            </connector>
            <label>BIFollowUp2Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s Solution Adoption Reminder email to send</description>
        <name>SAReminderProductLineDecision</name>
        <label>SAReminderProductLineDecision</label>
        <locationX>770</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMSAReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMSolutionAdoptionReminder</targetReference>
            </connector>
            <label>ASEMSAReminderEmail</label>
        </rules>
        <rules>
            <name>SOSAReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOSolutionAdoptionReminder</targetReference>
            </connector>
            <label>SOSAReminderEmail</label>
        </rules>
        <rules>
            <name>PMSSAReminderEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSSolutionAdoptionReminder</targetReference>
            </connector>
            <label>PMSSAReminderEmail</label>
        </rules>
        <rules>
            <name>GMSSAReminderEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Solution_Adoption_Reminder</targetReference>
            </connector>
            <label>GMSSAReminderEmail</label>
        </rules>
        <rules>
            <name>RESSAReminderEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Solution_Adoption_Reminder</targetReference>
            </connector>
            <label>RESSAReminderEmail</label>
        </rules>
        <rules>
            <name>BISAReminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Solution_Adoption_Reminder</targetReference>
            </connector>
            <label>BISAReminder</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s SupportHandover email to send</description>
        <name>SupportHandoverProductLineDecision</name>
        <label>SupportHandoverProductLineDecision</label>
        <locationX>780</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMSupportHandoverEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMSupportHandover</targetReference>
            </connector>
            <label>ASEMSupportHandoverEmail</label>
        </rules>
        <rules>
            <name>SOSupportHandoverEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOSupportHandover</targetReference>
            </connector>
            <label>SOSupportHandoverEmail</label>
        </rules>
        <rules>
            <name>PMSSupportHandoverEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSSupportHandover</targetReference>
            </connector>
            <label>PMSSupportHandoverEmail</label>
        </rules>
        <rules>
            <name>GMSSupportHandoverEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Support_Handover</targetReference>
            </connector>
            <label>GMSSupportHandoverEmail</label>
        </rules>
        <rules>
            <name>RESSupportHandoverEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Support_Handover</targetReference>
            </connector>
            <label>RESSupportHandoverEmail</label>
        </rules>
        <rules>
            <name>BISupportHandoverEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Support_Handover</targetReference>
            </connector>
            <label>BISupportHandoverEmail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product line the Case has to determine which product’s welcome email to send</description>
        <name>WelcomeProductLineDecision</name>
        <label>WelcomeProductLineDecision</label>
        <locationX>728</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMWelcomeEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMWelcome</targetReference>
            </connector>
            <label>ASEMWelcomeEmail</label>
        </rules>
        <rules>
            <name>SOWelcomeEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOWelcome</targetReference>
            </connector>
            <label>SOWelcomeEmail</label>
        </rules>
        <rules>
            <name>PMSWelcomeEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSWelcome</targetReference>
            </connector>
            <label>PMSWelcomeEmail</label>
        </rules>
        <rules>
            <name>GMSWelcomeEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Welcome</targetReference>
            </connector>
            <label>GMSWelcomeEmail</label>
        </rules>
        <rules>
            <name>RESWelcomeEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iHotelier CRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Welcome</targetReference>
            </connector>
            <label>RESWelcomeEmail</label>
        </rules>
        <rules>
            <name>BIWelcomeEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demand360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopChosenCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RevenueStrategy360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BI_Welcome</targetReference>
            </connector>
            <label>BIWelcomeEmail</label>
        </rules>
    </decisions>
    <description>NICC-060541; Screen Flow to send email alerts for Solution Adoption Cases. Replaces an existing process builder and Flow with the same name.</description>
    <dynamicChoiceSets>
        <name>collectionChoiceCasesNoEmailOrDate</name>
        <collectionReference>varCasesNoEmailOrDate</collectionReference>
        <dataType>String</dataType>
        <displayField>Account_Name__c</displayField>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Calculates the number of records that did not get updated</description>
        <name>formulaNumberOfRecordsNotUpdated</name>
        <dataType>Number</dataType>
        <expression>{!varCountOfRecordsFromListView} - {!varCountOfUpdateCases}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case - Solution Adoption Email Alerts v2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Solution Adoption Email Alerts v2.0</label>
    <loops>
        <description>Loops through all open Solution Adoption cases to find the Cases the user selected from the List view</description>
        <name>LoopAllCases</name>
        <label>LoopAllCases</label>
        <locationX>27</locationX>
        <locationY>462</locationY>
        <collectionReference>AllSolutionAdoptionCasesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CaseIdInCollectionDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountChosenCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through chosen Cases to send an email alert and update a “Sent...” date field</description>
        <name>LoopChosenCases</name>
        <label>LoopChosenCases</label>
        <locationX>271</locationX>
        <locationY>208</locationY>
        <collectionReference>varChosenCaseRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailTypeDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountOfUpdateCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets a list of all Solution Adoption Cases where the Status of the Case is not Closed</description>
        <name>GetCases</name>
        <label>GetCases</label>
        <locationX>21</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123g0000008cVSAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AllSolutionAdoptionCasesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sent_Closing_Reminder__c</queriedFields>
        <queriedFields>Sent_Follow_up_1__c</queriedFields>
        <queriedFields>Sent_Follow_up_2__c</queriedFields>
        <queriedFields>Sent_Support_Handover__c</queriedFields>
        <queriedFields>Sent_Welcome__c</queriedFields>
        <queriedFields>Solution_Adoption_Reminder__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Product_Line__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the “Sent...” Date on the Case</description>
        <name>UpdateCaseSentDate</name>
        <label>UpdateCaseSentDate</label>
        <locationX>510</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>YourFlowIsDone</targetReference>
        </connector>
        <inputReference>varFinalCaseUpdatesRecordCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>ChooseEmailTypeScreen</name>
        <label>Choose Email Type Screen</label>
        <locationX>28</locationX>
        <locationY>129</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CountIDsFromListView</targetReference>
        </connector>
        <fields>
            <name>EmailSendTypeScreenInput</name>
            <choiceReferences>choiceEmailTypeWelcomeEmail</choiceReferences>
            <choiceReferences>choiceEmailTypeFollowUp1</choiceReferences>
            <choiceReferences>choiceEmailTypeFollowUp2</choiceReferences>
            <choiceReferences>choiceEmailTypeSolutionAdoptionReminder</choiceReferences>
            <choiceReferences>choiceEmailTypeClosingReminder</choiceReferences>
            <choiceReferences>choiceEmailTypeSupportHandover</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of email do you want to send?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>YourFlowIsDone</name>
        <label>YourFlowIsDone</label>
        <locationX>553</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SampleYourFlowIsDone</name>
            <fieldText>&lt;p&gt;our Flow is done and emails have been sent.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Number of records from List View: &lt;strong style=&quot;color: rgb(250, 6, 185);&quot;&gt;{!varCountOfRecordsFromListView}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;﻿-Number of Emails Sent: &lt;/span&gt;&lt;strong style=&quot;color: rgb(250, 10, 162);&quot;&gt;{!varCountOfEmailsSent}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(11, 11, 11);&quot;&gt;-Number of Case Record &quot;Sent...&quot; Dates updated: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 2, 199);&quot;&gt;{!varCountOfUpdateCases}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Number of Records not updated: &lt;strong style=&quot;color: rgb(247, 3, 174);&quot;&gt;{!formulaNumberOfRecordsNotUpdated}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>15</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>ChooseEmailTypeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a collection of open Solution Adoption Cases</description>
        <name>AllSolutionAdoptionCasesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>holds a list of Cases that did not receive an email and didn&apos;t get a Date field updates</description>
        <name>collectionCasesNoEmailOrDate1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the Ids of the records chosen from the List view the user used to launch this Flow</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds a list of Cases that did not receive an email and didn&apos;t get a Date field updates</description>
        <name>varCasesNoEmailOrDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the collection of Cases chosen by the user from the List view</description>
        <name>varChosenCaseRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCountOfCaseNoEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Holds a count of the number of cases found when looping through Cases Ids</description>
        <name>varCountOfChosenCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds a count of the number of emails sent out through the Flow</description>
        <name>varCountOfEmailsSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the number of Ids sent through the list view into the Flow</description>
        <name>varCountOfRecordsFromListView</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the number of records to be updated</description>
        <name>varCountOfUpdateCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varEmailTemplateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>Holds the collection of records to update a &quot;Sent...&quot; Date field</description>
        <name>varFinalCaseUpdatesRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the temporary record that will update one of the &quot;Sent...&quot; dates for Solution Adoption email alerts</description>
        <name>varUpdateCaseSentDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
