force-app/main/default/flows/Case_Flags_Solution_Adoption_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email alert to the Case Owner</description>
        <name>EmailAlertCaseOwner</name>
        <label>EmailAlertCaseOwner</label>
        <locationX>722</locationX>
        <locationY>270</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateSolutionAdoptionEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varCaseRecordOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Email Has Been Received for Your Case</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>For Solution Adoption cases, this Flow sends an email to the Case Owner when a Case Flag of &quot;Email Received&quot; is created for the Case record.</description>
    <formulas>
        <name>varRelatedCaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; {!varCaseRecord.Id}</expression>
    </formulas>
    <interviewLabel>Case Flags - Solution Adoption Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Flags - Solution Adoption Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets details about the Owner of the Case attached to the Case Flag</description>
        <name>GetCaseOwner</name>
        <label>GetCaseOwner</label>
        <locationX>500</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailAlertCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varCaseRecordOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get&apos;s the Solution Adoption Case with a new Case Flag of Email Received to send an email alert to the Case Owner</description>
        <name>GetCaseRecord</name>
        <label>GetCaseRecord</label>
        <locationX>262</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123g0000008cVSAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solution_Adoption</stringValue>
            </value>
        </filters>
        <object>AH_Case_Flags_History_Tracking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateSolutionAdoptionEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A new email has been received for your Case. Case Number and Case URL are listed below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Case#: {!varCaseRecord.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Case URL: {!varRelatedCaseURL}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecordOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
