force-app/main/default/flows/ContractIntakeProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>PMSDocument</name>
        <label>PMSDocument</label>
        <locationX>819</locationX>
        <locationY>197</locationY>
        <actionName>copyQuipDocumentNotFound</actionName>
        <actionType xsi:nil="true"/>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/eGjMACHBZYy8/PMS-PRODUCT-INTAKE-FORM#YEbACAcIokV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/ANcAOAiZCW5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailMergeRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordUrlField</name>
            <value>
                <stringValue>Product_Intake_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SCDoc</name>
        <label>SCDoc</label>
        <locationX>822</locationX>
        <locationY>312</locationY>
        <actionName>copyQuipDocumentNotFound</actionName>
        <actionType xsi:nil="true"/>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/SjmDA5JtFkHY/SC-PRODUCT-INTAKE-FORM#FbAACALnJxM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/ANcAOAiZCW5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailMergeRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordUrlField</name>
            <value>
                <stringValue>Product_Intake_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SODocument</name>
        <label>SODocument</label>
        <locationX>822</locationX>
        <locationY>86</locationY>
        <actionName>copyQuipDocumentNotFound</actionName>
        <actionType xsi:nil="true"/>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/HsWoAesfc6DN/SO-PRODUCT-INTAKE-FORM#GHFACAmZkQI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <stringValue>https://amadeus-hospitality.quip.com/ANcAOAiZCW5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailMergeRecordId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordUrlField</name>
            <value>
                <stringValue>Product_Intake_URL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contract_Request_Exists</name>
        <label>Contract Request Exists</label>
        <locationX>50</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Contract_Intake_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contract Request</defaultConnectorLabel>
        <rules>
            <name>ContractRequestsExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppId.Product_Intake_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotReadyScreen</targetReference>
            </connector>
            <label>ContractRequestsExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>471</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Selection</defaultConnectorLabel>
        <rules>
            <name>SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_and_Catering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales_and_Catering</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Property_Management</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Optimization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCDoc</targetReference>
            </connector>
            <label>SC</label>
        </rules>
        <rules>
            <name>SO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Optimization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Property_Management</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_and_Catering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SODocument</targetReference>
            </connector>
            <label>SO</label>
        </rules>
        <rules>
            <name>PMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Property_Management</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_and_Catering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Optimization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSDocument</targetReference>
            </connector>
            <label>PMS</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PriorityChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <expression>{!GetOppId.Opportunity_Number__c}</expression>
    </formulas>
    <interviewLabel>ContractIntakeProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContractIntakeProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOppId</name>
        <label>GetOppId</label>
        <locationX>60</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Request_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contract_Intake_Process</name>
        <label>Contract Intake Process</label>
        <locationX>300</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>ContactSelectionText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 14px;&quot;&gt;Select one of the following Product Intake Forms&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_and_Catering</name>
            <dataType>Boolean</dataType>
            <fieldText>Sales and Catering</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Optimization</name>
            <dataType>Boolean</dataType>
            <fieldText>Service Optimization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property_Management</name>
            <dataType>Boolean</dataType>
            <fieldText>Property Management</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 94, 184);&quot;&gt;Click Next and go to the Product intake Form tab (in Lightning) or Files (in Classic)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>823</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 18px;&quot;&gt;There is more than one option selected.  Please go back ensure only &lt;/span&gt;&lt;u style=&quot;color: rgb(0, 94, 184); font-size: 18px;&quot;&gt;one&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 18px;&quot;&gt; has been selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotReadyScreen</name>
        <label>NotReadyScreen</label>
        <locationX>475</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotReady</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 94, 184);&quot;&gt;A Product Intake Form has already been created for this Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How2View</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 94, 184);&quot;&gt;Please go to the Product Intake Form tab (if you are in Lightning) or Files (in Classic) to view and update.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>103</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetOppId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
