force-app/main/default/flows/COPYTCSubscriptionActivations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>1002</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSubscriptionActivationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewTCSubscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewSubscriptionRecord</name>
        <label>AssignNewSubscriptionRecord</label>
        <locationX>741</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewTCSubscriptions.TCSubscription_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TravelClick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewTCSubscriptions.TCSubscription_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GMSCollection</name>
        <label>GMSCollection</label>
        <locationX>1340</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSubscriptionActivationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPkgMilestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewGMSSubscription</name>
        <label>NewGMSSubscription</label>
        <locationX>1338</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPkgMilestones.TCSubscription_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TravelClick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPkgMilestones.TCSubscription_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMSCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Notes2SubscriptionMgmt</name>
        <label>Notes2SubscriptionMgmt</label>
        <locationX>933</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppty.Notes_to_Subscription_Management__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBISubActivation</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectType</name>
        <label>ProjectType</label>
        <locationX>754</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>No Additional Action Needed</defaultConnectorLabel>
        <rules>
            <name>GMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOLI</targetReference>
            </connector>
            <label>GMS</label>
        </rules>
        <rules>
            <name>BI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes2SubscriptionMgmt</targetReference>
            </connector>
            <label>BI</label>
        </rules>
        <rules>
            <name>RES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageDetails</targetReference>
            </connector>
            <label>RES</label>
        </rules>
        <rules>
            <name>SO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Optimization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDeploymentInstances</targetReference>
            </connector>
            <label>SO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscriptions</name>
        <label>Subscriptions</label>
        <locationX>513</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>ReviewTCSubscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppty.Notes_to_Fulfillment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReviewTCSubscriptions.TCTranslation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewSubscriptionRecord</targetReference>
            </connector>
            <label>ServiceIncluded</label>
        </rules>
    </decisions>
    <description>Used for testing only!</description>
    <environments>Default</environments>
    <interviewLabel>COPYTCSubscriptionActivations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COPYTCSubscriptionActivations</label>
    <loops>
        <name>LoopOLI</name>
        <label>LoopOLI</label>
        <locationX>703</locationX>
        <locationY>158</locationY>
        <collectionReference>GetOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSubscriptionActivations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPkgMilestones</name>
        <label>LoopPkgMilestones</label>
        <locationX>1173</locationX>
        <locationY>157</locationY>
        <collectionReference>GetPackageMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewGMSSubscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ReviewTCSubscriptions</name>
        <label>ReviewTCSubscriptions</label>
        <locationX>326</locationX>
        <locationY>347</locationY>
        <collectionReference>GetPackageDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subscriptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSubscriptionActivations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSubscriptionActivations</name>
        <label>CreateSubscriptionActivations</label>
        <locationX>619</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>CreateDeploymentInstances</targetReference>
        </connector>
        <inputReference>NewSubscriptionActivationColl</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetGroup</name>
        <label>GetGroup</label>
        <locationX>460</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOLI</name>
        <label>GetOLI</label>
        <locationX>615</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppty</name>
        <label>GetOppty</label>
        <locationX>174</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageDetails</name>
        <label>GetPackageDetails</label>
        <locationX>459</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReviewTCSubscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a373g000000LfNaAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PSA_Product_Package_Milestone__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageMilestones</name>
        <label>GetPackageMilestones</label>
        <locationX>1008</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPkgMilestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProduct.Product_Package__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PSA_Product_Package_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>859</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPackageMilestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOLI.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Package__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBISubActivation</name>
        <label>UpdateBISubActivation</label>
        <locationX>1105</locationX>
        <locationY>21</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>GetOppty.Notes_to_Subscription_Management__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Activation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launches the Flow called CreateDIBundleProductV2</description>
        <name>CreateDeploymentInstances</name>
        <label>CreateDeploymentInstances</label>
        <locationX>1223</locationX>
        <locationY>444</locationY>
        <flowName>COPYCreateDIBundleProductV2</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GroupId</name>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSubscriptionActivationColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>NewSubscriptionActivationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
