force-app/main/default/flows/COPYCreateSubscriptionActivationRecordsFromOpportunityLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>When creating the new Subscription Activation object, the fields from the opportunity detail line item will copy to fields in the Subscription Activation object or default based on information from the project.</description>
        <name>Assignment_Subscription_GoLive</name>
        <label>Assignment Subscription Activation</label>
        <locationX>1450</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.SKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indProduct2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.Contract_Price_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.Contract_Total_Amount_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignSubActProductID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Activity_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Billing_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.Billing_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndActivityLineItem.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indProduct2.Product_Line_Global__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SubscriptionGoLive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In order to update the opportunity line items, the original lines will be copied to a new SO variable and the Synched checkbox will be changed to true.</description>
        <name>Synched_Checkbox</name>
        <label>Synched Checkbox</label>
        <locationX>1032</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>indUPOppLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indOppLineItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indUPOppLineItems.Synched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CollOppLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TCAssignment</name>
        <label>TCAssignment</label>
        <locationX>1806</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTCOli.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTCOli.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Product_Line_Global__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TCSalesCredit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TCSalesCredit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indSubscriptionGoLive.Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTCOli.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TCCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TCCollection</name>
        <label>TCCollection</label>
        <locationX>1391</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>CollSubscriptionGoLive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indSubscriptionGoLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TCUpdates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy all of the SO variable indUPOppLineItem details to a new SO collection variable CollUPOppLineItems</description>
        <name>Update_CollOppLineItem</name>
        <label>Update CollOppLineItem</label>
        <locationX>839</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>CollUPOppLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indUPOppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OppLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the SO variable indSubscriptionGoLive detail to the SO collection variable CollSubscriptionGoLive</description>
        <name>Update_SubscriptionGoLive</name>
        <label>Update SubscriptionGoLive</label>
        <locationX>1243</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>CollSubscriptionGoLive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indSubscriptionGoLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ActivityLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AdditionalSubscriptions</name>
        <label>AdditionalSubscriptions</label>
        <locationX>1497</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>NoAdditionalSubscriptions</defaultConnectorLabel>
        <rules>
            <name>GMSRESBIorSO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Optimization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTCSubscriptionActivations</targetReference>
            </connector>
            <label>GMSRESBIorSO</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupMatch</name>
        <label>GroupMatch</label>
        <locationX>1278</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>LoopTCOli</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest Management Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCAssignment</targetReference>
            </connector>
            <label>GMS</label>
        </rules>
        <rules>
            <name>BI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Intelligence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCAssignment</targetReference>
            </connector>
            <label>BI</label>
        </rules>
        <rules>
            <name>RES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCAssignment</targetReference>
            </connector>
            <label>RES</label>
        </rules>
        <rules>
            <name>Web</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCAssignment</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Solution_Domain_Global__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCAssignment</targetReference>
            </connector>
            <label>Media</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_and_Catering</name>
        <label>Sales and Catering</label>
        <locationX>1028</locationX>
        <locationY>868</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CreateMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2H320000009Ptb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Destination</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Channel</targetReference>
            </connector>
            <label>CreateMilestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCOpportunity</name>
        <label>TCOpportunity</label>
        <locationX>647</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_OppLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AHOpp</defaultConnectorLabel>
        <rules>
            <name>TCOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TravelClick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGroup</targetReference>
            </connector>
            <label>TCOpp</label>
        </rules>
    </decisions>
    <description>Used for testing only!</description>
    <environments>Default</environments>
    <formulas>
        <description>Populates the &quot;Product ID&quot; field on the new Subscription Activation record if Activity Line Item Total Amount &gt; 0. Leave it blank if the amount is = 0.</description>
        <name>AssignSubActProductID</name>
        <dataType>String</dataType>
        <expression>IF(
{!IndActivityLineItem.Contract_Total_Amount_Currency__c} &gt; 0,
{!IndActivityLineItem.Opp_Product_ID__c},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <expression>&quot;Enable Channel - &quot; &amp; {!OppNo}</expression>
    </formulas>
    <formulas>
        <name>ProductName</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!indOppLineItems.Name},(LEN({!indOppLineItems.Name})-LEN({!OppName}))))</expression>
    </formulas>
    <formulas>
        <description>In the TC Org, if a product is purchased for 3 years, there is no way for the team to identify what the first year revenue is.  This formula will assist with this calculation so that revenue is not over inflated</description>
        <name>TCSalesCredit</name>
        <dataType>Currency</dataType>
        <expression>IF({!GetOpportunity.Agreement_Term_End_Date__c} - {!GetOpportunity.Agreement_Term_Begin_Date__c} &lt;= 365, {!LoopTCOli.TotalPrice},
{!LoopTCOli.TotalPrice}/({!GetOpportunity.Agreement_Term_End_Date__c} - {!GetOpportunity.Agreement_Term_Begin_Date__c}) * 365)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>COPYCreateSubscriptionActivationRecordsFromOpportunityLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COPYCreateSubscriptionActivationRecordsFromOpportunityLineItems</label>
    <loops>
        <description>Loop through the SO collection variable CollOppLineItems created in the last step and assign records to SO variable indOppLineItems</description>
        <name>Loop_Through_ActivityLineItems</name>
        <label>Loop Through ActivityLineItems</label>
        <locationX>1068</locationX>
        <locationY>454</locationY>
        <assignNextValueToReference>IndActivityLineItem</assignNextValueToReference>
        <collectionReference>CollActivityLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookupProductDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Synched_Checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the SO collection variable CollOppLineItems created in the last step and assign records to SO variable indOppLineItems</description>
        <name>Loop_Through_OppLineItems</name>
        <label>Loop Through OppLineItems</label>
        <locationX>646</locationX>
        <locationY>451</locationY>
        <assignNextValueToReference>indOppLineItems</assignNextValueToReference>
        <collectionReference>CollOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fast_Lookup_Activity_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Create_SubscriptionGoLive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTCOli</name>
        <label>LoopTCOli</label>
        <locationX>858</locationX>
        <locationY>234</locationY>
        <collectionReference>CollOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateTCCoreProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTCCoreProduct</name>
        <label>CreateTCCoreProduct</label>
        <locationX>1102</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>AdditionalSubscriptions</targetReference>
        </connector>
        <inputReference>CollSubscriptionGoLive</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Enable_Channel</name>
        <label>Enable Channel</label>
        <locationX>1300</locationX>
        <locationY>869</locationY>
        <inputAssignments>
            <field>Milestone_Type__c</field>
            <value>
                <stringValue>Inclusive Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Admin_Global_Edit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Audit_Notes__c</field>
            <value>
                <stringValue>Created Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Override_Project_Practice__c</field>
            <value>
                <stringValue>a2S60000000TN41</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Draft/Tentative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Target_Date__c</field>
            <value>
                <dateValue>2025-12-31</dateValue>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create new Subscription Go-Live records from data in the SO collection variable CollSubscriptionGoLive</description>
        <name>Fast_Create_SubscriptionGoLive</name>
        <label>Fast Create SubscriptionGoLive</label>
        <locationX>644</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>Fast_Update_Original_Line_Items</targetReference>
        </connector>
        <inputReference>CollSubscriptionGoLive</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Look up the activity line associated with the opportunity line item and assign them to the IndlActivityLine SO Variable as we&apos;ll be passing the activity line to the new subscription record.</description>
        <name>Fast_Lookup_Activity_Line_Item</name>
        <label>Fast Lookup Activity Line Item</label>
        <locationX>894</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ActivityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opp_Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indOppLineItems.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Order</stringValue>
            </value>
        </filters>
        <object>Activity_Line_Item__c</object>
        <outputReference>CollActivityLine</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opp_Product_ID__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Billing_Contract__c</queriedFields>
        <queriedFields>Units__c</queriedFields>
        <queriedFields>Contract_Price_Currency__c</queriedFields>
        <queriedFields>Contract_Total_Amount_Currency__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get PSA Groups</description>
        <name>GetGroup</name>
        <label>GetGroup</label>
        <locationX>655</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTCOli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>429</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TCOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Product Info</description>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>856</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopTCOli.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull all subscriptions where the NotServiceSubscription checkbox is not selected, the project opportunity ID equals the opportunity ID on the opportunity line item, the order of delivery date is 1 or blank and the synched checkbox is not selected and store values in a SO collection variable named CollOppLineItems.  Once pull, store the follwowing fields in order to update the Subscription Go-Live detail object: Opportunity ID, Product Code, Name, Unit Price, Total Price, Quanity and Synch.</description>
        <name>Lookup_CollOppLineItems</name>
        <label>Lookup CollOppLineItems</label>
        <locationX>430</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </filters>
        <filters>
            <field>Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MTech</stringValue>
            </value>
        </filters>
        <filters>
            <field>NotServiceSubscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderofDelivery_PSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Synched__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>CollOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupProductDetails</name>
        <label>LookupProductDetails</label>
        <locationX>1271</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Subscription_GoLive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndActivityLineItem.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>indProduct2</outputReference>
        <queriedFields>Product_Line_Global__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the original opportunity line items Synched checkbox to true based on the SO collection variable CollUPOppLineItems</description>
        <name>Fast_Update_Original_Line_Items</name>
        <label>Fast Update Original Line Items</label>
        <locationX>832</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Sales_and_Catering</targetReference>
        </connector>
        <inputReference>CollUPOppLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TCUpdates</name>
        <label>TCUpdates</label>
        <locationX>1256</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>LoopTCOli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopTCOli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Synched__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>Lookup_CollOppLineItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launches the flow called TCSubscriptionActivations</description>
        <name>CreateTCSubscriptionActivations</name>
        <label>CreateTCSubscriptionActivations</label>
        <locationX>1802</locationX>
        <locationY>342</locationY>
        <flowName>COPYTCSubscriptionActivations</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GroupId</name>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegionId</name>
            <value>
                <elementReference>RegionID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CollActivityLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>CollOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CollSubscriptionGoLive</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>CollUPOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CollUPSubscriptionGoLive</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>Destination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndActivityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>indOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>indProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>indSubscriptionGoLive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>indUPOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>indUPSubscriptionGoLive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
