force-app/main/default/flows/CreatePMTTAssignment_TCProjects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>If PM Assignment exist for the current PM, will update assignment schedule</description>
        <name>DateChange</name>
        <label>DateChange</label>
        <locationX>957</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>LoopCurrentAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PMAssignmentDoesNotExist</defaultConnectorLabel>
        <rules>
            <name>PMExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCurrentAssignments.pse__Resource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetProject.pse__Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPMSchedule</targetReference>
            </connector>
            <label>PMExists</label>
        </rules>
    </decisions>
    <decisions>
        <description>For updates to end date, does an assignment already exist</description>
        <name>DoesPMAssignmentExist</name>
        <label>DoesPMAssignmentExist</label>
        <locationX>556</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>CreateSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPMAssignments</defaultConnectorLabel>
        <rules>
            <name>PMAssignmentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAssignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCurrentAssignments</targetReference>
            </connector>
            <label>PMAssignmentExists</label>
        </rules>
    </decisions>
    <description>As a temporary action for the FF PSA TC Migration, we are looking to auto create assignments for time entry.  One the team determines how they will use assignments, we should be able to deactivate the flow and process builder.</description>
    <formulas>
        <name>AssignmentName</name>
        <dataType>String</dataType>
        <expression>{!GetProject.Name} &amp; &quot; - PM Time&quot;</expression>
    </formulas>
    <interviewLabel>CreatePMTTAssignment_TCProjects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePMTTAssignment_TCProjects</label>
    <loops>
        <description>Loop through current PM Assignments</description>
        <name>LoopCurrentAssignments</name>
        <label>LoopCurrentAssignments</label>
        <locationX>766</locationX>
        <locationY>160</locationY>
        <collectionReference>GetAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DateChange</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSchedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new PM Assignment for Time Entry</description>
        <name>CreateNewPMAssignment</name>
        <label>CreateNewPMAssignment</label>
        <locationX>756</locationX>
        <locationY>450</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PMT – PM TT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone__c</field>
            <value>
                <elementReference>GetMilestone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>GetProject.pse__Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Role__c</field>
            <value>
                <stringValue>Implementation Expert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>CreateSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Schedule for PM Assignment</description>
        <name>CreateSchedule</name>
        <label>CreateSchedule</label>
        <locationX>373</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>CreateNewPMAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>GetProject.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>GetProject.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Pull a list of current PM Time Tracking Assignments</description>
        <name>GetAssignments</name>
        <label>GetAssignments</label>
        <locationX>397</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesPMAssignmentExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMilestone.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the PM TT Milestone</description>
        <name>GetMilestone</name>
        <label>GetMilestone</label>
        <locationX>179</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Project Manager Time</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Associated Schedule</description>
        <name>GetPMSchedule</name>
        <label>GetPMSchedule</label>
        <locationX>971</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopCurrentAssignments.pse__Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProject</name>
        <label>GetProject</label>
        <locationX>172</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Schedule for Existing PM Assignment</description>
        <name>UpdateSchedule</name>
        <label>UpdateSchedule</label>
        <locationX>974</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPMSchedule.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>GetProject.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>GetProject.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetMilestone</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Project Id</description>
        <name>varProjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
