force-app/main/default/flows/CreateAndUpdateStatusTrackingRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignNewStatusTrackingRecord</name>
        <label>AssignNewStatusTrackingRecord</label>
        <locationX>939</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>varNewStatusTrackingRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewStatusTrackingRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Decides if the Request record is new or if the Status has changed</description>
        <name>NewOrUpdatedStatusDecision</name>
        <label>NewOrUpdatedStatusDecision</label>
        <locationX>190</locationX>
        <locationY>407</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewStatusTrackingRecord</targetReference>
            </connector>
            <label>NewRecord</label>
        </rules>
        <rules>
            <name>UpdatedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingStatusTrackingRecord</targetReference>
            </connector>
            <label>UpdatedStatus</label>
        </rules>
    </decisions>
    <description>NICC-057681
Creates and updates Status Tracking records for the Request object</description>
    <interviewLabel>Status Tracking - Create and Update Status Tracking Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status Tracking - Create and Update Status Tracking Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewStatusTrackingRecord</name>
        <label>CreateNewStatusTrackingRecord</label>
        <locationX>684</locationX>
        <locationY>81</locationY>
        <connector>
            <targetReference>AssignNewStatusTrackingRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Enter_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Name__c</field>
            <value>
                <elementReference>$Record.Request_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Status tracking record where the Status Name matches the prior Status value on the Request record. Will be used to update the Exit Time on the Status Tracking record</description>
        <name>GetExistingStatusTrackingRecord</name>
        <label>GetExistingStatusTrackingRecord</label>
        <locationX>557</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateExitTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OM_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Request_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Exit time on an existing Status Tracking record</description>
        <name>UpdateExitTime</name>
        <label>UpdateExitTime</label>
        <locationX>821</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>CreateNewStatusTrackingRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExistingStatusTrackingRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exit_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Status_Tracking__c</object>
    </recordUpdates>
    <start>
        <locationX>77</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>NewOrUpdatedStatusDecision</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds a collection of all current Status Tracking records associated with the Request record</description>
        <name>collCurrentStatusTrackingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Status_Tracking__c</objectType>
    </variables>
    <variables>
        <description>Holds the count of existing Status Tracking records</description>
        <name>varCountOfExistingStatusTrackingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNewStatusTrackingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Status_Tracking__c</objectType>
    </variables>
</Flow>
