force-app/main/default/flows/CreateEnableChannelAssignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SubscriptionIDCollectionAssignment</name>
        <label>SubscriptionIDCollectionAssignment</label>
        <locationX>38</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionIDCollectionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Subscriptions_to_be_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupSubscription</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exisiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SelectedSubscriptions</name>
        <label>SelectedSubscriptions</label>
        <locationX>570</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>LoopSubscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>SelectedSubscriptionID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionIDCollectionVariable</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>IndSubscriptions.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSchedule</targetReference>
            </connector>
            <label>SelectedSubscriptionID</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChooseSubscriptionActivations</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Backlog_Quantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>Subscription_Activation__c</object>
        <sortField>Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inclusive Milestone</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Resource</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2H320000009PtbEAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Is_Resource_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Is_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AssignmentName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!IndSubscriptions.Product_Name__c}, 69) &amp;&quot; - &quot; &amp; {!SubscriptionType})</expression>
    </formulas>
    <interviewLabel>CreateEnableChannelAssignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEnableChannelAssignments</label>
    <loops>
        <name>LoopSubscriptions</name>
        <label>LoopSubscriptions</label>
        <locationX>298</locationX>
        <locationY>450</locationY>
        <assignNextValueToReference>IndSubscriptions</assignNextValueToReference>
        <collectionReference>CollAllSubscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SelectedSubscriptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAssignment</name>
        <label>CreateAssignment</label>
        <locationX>478</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>LoopSubscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Description__c</field>
            <value>
                <elementReference>SubscriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Location__c</field>
            <value>
                <stringValue>Remote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone__c</field>
            <value>
                <elementReference>Milestone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>ResourceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Role__c</field>
            <value>
                <stringValue>OnDemand Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>ScheduleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSchedule</name>
        <label>CreateSchedule</label>
        <locationX>711</locationX>
        <locationY>30</locationY>
        <assignRecordIdToReference>ScheduleID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>Assignment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Saturday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>Assignment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Sunday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <elementReference>Scheduled_Hours</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookupSubscription</name>
        <label>LookupSubscription</label>
        <locationX>32</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSubscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Backlog_Quantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>Subscription_Activation__c</object>
        <outputReference>CollAllSubscriptions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateEnableChannelAssignment</name>
        <label>CreateEnableChannelAssignment</label>
        <locationX>35</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectSubscriptions</targetReference>
        </connector>
        <fields>
            <name>ResourceName</name>
            <choiceReferences>Resource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scheduled_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.25</numberValue>
            </defaultValue>
            <fieldText>Scheduled Hours Per Assignment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Assignment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Assignment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Milestone</name>
            <choiceReferences>MilestoneName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Milestone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>291</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>Finished Scheduling</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewOrExisting</name>
        <label>NewOrExisting</label>
        <locationX>36</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SubscriptionIDCollectionAssignment</targetReference>
        </connector>
        <fields>
            <name>NewExisting</name>
            <fieldText>Is this a new or existing subscription?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubscriptionType</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Existing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SubscriptionName</name>
            <dataType>String</dataType>
            <fieldText>Subscription Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectSubscriptions</name>
        <label>SelectSubscriptions</label>
        <locationX>36</locationX>
        <locationY>122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewOrExisting</targetReference>
        </connector>
        <fields>
            <name>Select_Subscriptions_to_be_Scheduled</name>
            <choiceReferences>ChooseSubscriptionActivations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Subscriptions to be Scheduled</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateEnableChannelAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollAllSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>IndSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScheduleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriptionIDCollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
