force-app/main/default/flows/CreateDIBundleProductVersion2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Adds a count of 1 everytime a record is matched in the loop. Used to decide if the record in the loop needs a new DI created.</description>
        <name>AssignMatchingRecordCount</name>
        <label>AssignMatchingRecordCount</label>
        <locationX>1212</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfMatchingRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDIRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns field values to a temporary record</description>
        <name>AssignTempNewDIRecord</name>
        <label>AssignTempNewDIRecord</label>
        <locationX>717</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>varTempNewDIRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDetail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempNewDIRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempNewDIRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempNewDIRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDetail.DI_Name_Preview__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempNewDIRecord.AccountId_DIIndexID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccountId_DIIndexID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempNewDIRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempNewDIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetNumberOfMatchingRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of existing Deployment Instance records on the Account.</description>
        <name>CountExistingDeploymentInstances</name>
        <label>CountExistingDeploymentInstances</label>
        <locationX>58</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>CountDeploymentInstances</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ExistingDeploymentInstancesColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSubscriptionActivation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the total number of DI records waiting to be created</description>
        <name>CountNewDIRecords</name>
        <label>CountNewDIRecords</label>
        <locationX>789</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>CountCreateNewDIRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CreateNewDeploymentInstanceColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDeploymentInstances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of subscription activations records found the &quot;GetSubscriptionActivation&quot; element</description>
        <name>CountSubscriptionActivations</name>
        <label>CountSubscriptionActivations</label>
        <locationX>205</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>varCountSubscriptionActivations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SubscriptionActivationRecordsColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubActRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the total number of records in the TempNewDIRecordCollection</description>
        <name>CountTempDIRecords</name>
        <label>CountTempDIRecords</label>
        <locationX>397</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>varCountTempDIRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varTempNewDIRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SortTempCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates a collection of records to be created at the end of the loop. This list should be a de-duped list based on AccountID_DIIndexID</description>
        <name>FinalCollectionList</name>
        <label>FinalCollectionList</label>
        <locationX>1218</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>CreateNewDeploymentInstanceColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTempNewDIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TempAssignAcctIdIndexID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the count of matching records back to 0 for the next loop</description>
        <name>ResetNumberOfMatchingRecords</name>
        <label>ResetNumberOfMatchingRecords</label>
        <locationX>492</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfMatchingRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubActRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the AccountID_DIIndexID from the current loop item to a temporary variable for comparing against the next record to go through the loop.</description>
        <name>TempAssignAcctIdIndexID</name>
        <label>TempAssignAcctIdIndexID</label>
        <locationX>1070</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>varTempAssignAcctIDDIIndexID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTempNewDIRecord.AccountId_DIIndexID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTempNewDIRecord</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SortTempCollection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortTempCollection</label>
        <locationX>614</locationX>
        <locationY>413</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varTempNewDIRecordCollection</collectionReference>
        <connector>
            <targetReference>LoopTempNewDIRecord</targetReference>
        </connector>
        <sortOptions>
            <sortField>AccountId_DIIndexID__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Decides whether to add the current record to the final collection of records to create. The AccountID_DIIndexID from the current item from the loop will be compared against the AccountID_DIIndexId from the last item that went through and will be excluded if the fields match.</description>
        <name>AddToFinalListDecision</name>
        <label>AddToFinalListDecision</label>
        <locationX>1100</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>LoopTempNewDIRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Add</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTempAssignAcctIDDIIndexID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoopTempNewDIRecord.AccountId_DIIndexID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalCollectionList</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the current Subscription Activation record in the loop needs a DI created for it. If the number of matching records is = 0, a new DI record is needed. If the count is greater than 0, no DI is needed as a DI already exists.</description>
        <name>CreateNewDIRecordDecision</name>
        <label>CreateNewDIRecordDecision</label>
        <locationX>1102</locationX>
        <locationY>161</locationY>
        <defaultConnector>
            <targetReference>ResetNumberOfMatchingRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfMatchingRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTempNewDIRecord</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Account has existing DI records, the Flow will loop through to see if an existing DI record has a DI Index that matches a DI Index of a new record that needs to be created. If the Flow finds an existing DI Index on an Account, the current item in the loop is discarded and the path will take the Flow back to &quot;Loop SA records&quot;. If no existing DI records are found, the Flow continues to the next part.</description>
        <name>DecisionHasExistingDIRecords</name>
        <label>DecisionHasExistingDIRecords</label>
        <locationX>849</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>AssignTempNewDIRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDIRecordsFound</defaultConnectorLabel>
        <rules>
            <name>HasDIRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountDeploymentInstances</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDIRecords</targetReference>
            </connector>
            <label>HasDIRecords</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides whether a Deployment Instance record exists for the new record to be created. If it exists, the loop will skip to the next Subscription Activation record. If it doesn&apos;t exist, the new record will be added to the collection of records to create.</description>
        <name>DIRecordCompareDecision</name>
        <label>DIRecordCompareDecision</label>
        <locationX>1252</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>LoopDIRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMatchingDIRecord</defaultConnectorLabel>
        <rules>
            <name>DIRecordExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DI_Index_Details.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopDIRecords.Product2.DI_Index__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMatchingRecordCount</targetReference>
            </connector>
            <label>DIRecordExists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides whether a Product has a DI Index or not. If not, the Flow is sent back to the next loop. If it does, it continues on. If a Product does not have a DI Index populated, no DI is needed.</description>
        <name>ProductHasDI_IndexDecision</name>
        <label>Product Has DI Index Decision</label>
        <locationX>473</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>LoopSubActRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DI Index</defaultConnectorLabel>
        <rules>
            <name>ProductHasDI_Index</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductDetail.DI_Index__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductDI_IndexDetails</targetReference>
            </connector>
            <label>ProductHasDI_Index</label>
        </rules>
    </decisions>
    <description>NICC-053482; NICC-053773; NICC-053660; NICC-057398; NICC-058163

Creates a Deployment Instance record for each product in a bundle that doesn&apos;t have a corresponding Opportunity Line Item. This is a subloop on the TCSubscriptionActivations flow.</description>
    <formulas>
        <description>Stores the 18 digit ID of the Index</description>
        <name>DI_Index_18DigitID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID( {!DI_Index_Details.Id} )</expression>
    </formulas>
    <formulas>
        <description>Concatenates the Account ID and DI Index ID</description>
        <name>formulaAccountId_DIIndexID</name>
        <dataType>String</dataType>
        <expression>{!AccountId}&amp;{!DI_Index_Details.Id}</expression>
    </formulas>
    <interviewLabel>CreateDIBundleProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateDIBundleProductV2</label>
    <loops>
        <description>Loops through all existing Deployment Instance records and compare the DI Index on the new record to existing DI Indexes on the Account to avoid creating duplicate DI Indexes.</description>
        <name>LoopDIRecords</name>
        <label>LoopDIRecords</label>
        <locationX>1013</locationX>
        <locationY>42</locationY>
        <collectionReference>ExistingDeploymentInstancesColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DIRecordCompareDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewDIRecordDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSubActRecords</name>
        <label>LoopSubActRecords</label>
        <locationX>275</locationX>
        <locationY>387</locationY>
        <collectionReference>SubscriptionActivationRecordsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProductPkgMilestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountTempDIRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTempNewDIRecord</name>
        <label>LoopTempNewDIRecord</label>
        <locationX>931</locationX>
        <locationY>477</locationY>
        <collectionReference>varTempNewDIRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToFinalListDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountNewDIRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateDeploymentInstances</name>
        <label>CreateDeploymentInstances</label>
        <locationX>545</locationX>
        <locationY>576</locationY>
        <inputReference>CreateNewDeploymentInstanceColl</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the existing Deployment Instances on the Account record</description>
        <name>GetDeploymentInstances</name>
        <label>GetDeploymentInstances</label>
        <locationX>64</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountExistingDeploymentInstances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId_DIIndexID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>ExistingDeploymentInstancesColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>DI_Index_Name__c</queriedFields>
        <queriedFields>AccountId_DIIndexID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Name of the Deployment Instance Index associated with the Product. This will be used for comparing potential new records against existing DI records on the Account. Only one DI Index can exist on an Account record.</description>
        <name>GetProductDI_IndexDetails</name>
        <label>GetProductDI_IndexDetails</label>
        <locationX>641</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionHasExistingDIRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductDetail.DI_Index__c</elementReference>
            </value>
        </filters>
        <object>NI_DeploymentInstanceIndex__c</object>
        <outputReference>DI_Index_Details</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Product Package Milestone record that matches the Product Name from the Subscription Activation record. We need this record to find the Id of the Product to create a Deployment Instance record.</description>
        <name>GetProductPkgMilestone</name>
        <label>GetProductPkgMilestone</label>
        <locationX>234</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TCSubscription_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopSubActRecords.Product_Name__c</elementReference>
            </value>
        </filters>
        <object>PSA_Product_Package_Milestone__c</object>
        <outputReference>ProductPackageMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Milestone_Name_Prefix__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TCSubscription_Name__c</queriedFields>
        <queriedFields>Total_Package_Percent__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Product record that corresponds to the Product Package Milestone in the preceding &quot;GetProductPkgMilestone&quot; node.</description>
        <name>GetProducts</name>
        <label>GetProducts</label>
        <locationX>395</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductHasDI_IndexDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductPackageMilestone.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DI_Index__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DI_Name_Preview__c</queriedFields>
        <queriedFields>X18_Character_Salesforce_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Subscription Activation records attached to the Opportunity. Does not include any SA record where the Product Name contains &quot;Core4&quot;, &quot;Core 4&quot;, or &quot;Guest Portal&quot;.</description>
        <name>GetSubscriptionActivation</name>
        <label>GetSubscriptionActivation</label>
        <locationX>63</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSubscriptionActivations</targetReference>
        </connector>
        <filterLogic>(1) and (4) and (5) and (NOT(2)) AND (NOT(3) AND NOT(6))</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecordFlow3.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Core4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Guest Portal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroupRecordFlow3.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Core 4</stringValue>
            </value>
        </filters>
        <object>Subscription_Activation__c</object>
        <outputReference>SubscriptionActivationRecordsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_ID__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>38</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>GetDeploymentInstances</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds a count of new DI records waiting to be created</description>
        <name>CountCreateNewDIRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountDeploymentInstances</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CreateNewDeploymentInstanceColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItem_CollectionFilter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>Holds the details of the DI Index record attached to the Product</description>
        <name>DI_Index_Details</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NI_DeploymentInstanceIndex__c</objectType>
    </variables>
    <variables>
        <name>ExistingDeploymentInstancesColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Milestone Name Prefix from the Product Package Milestone record. This value used to find the corresponding Product record.</description>
        <name>MilestoneNamePrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewDeploymentInstanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the details of the Product that will be used to create a new DI record</description>
        <name>ProductDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductPackageMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PSA_Product_Package_Milestone__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionActivationRecordsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>TempExistingVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the count of Subscription Activation records</description>
        <name>varCountSubscriptionActivations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountTempDIRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds the Group record passed in from the second flow</description>
        <name>varGroupRecordFlow3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Grp__c</objectType>
    </variables>
    <variables>
        <name>varNumberOfMatchingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Holds the Opportunity record passed in from the 2nd Flow</description>
        <name>varOpportunityRecordFlow3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTempAssignAcctIDDIIndexID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This temporary record will be added to a temporary record collection for looping and eliminating duplicate DI Indexes</description>
        <name>varTempNewDIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>Temporarily holds a collection of potential new DI records. Will be used to loop through the collection and remove any duplicates.</description>
        <name>varTempNewDIRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
