force-app/main/default/flows/Create_Contract_Validation_Request_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign an error message to the strReturnedMessage variable.</description>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>1250</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>strReturnedMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign an error message to the strReturnedMessage variable.</description>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>986</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>strReturnedMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Updates the Stage of the Opportunity to &quot;Closed Won&quot; and then creates a Contract Validation Request in the Request object that can be executed via the Salesforce API.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Create Contract Validation Request for API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create Contract Validation Request for API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Request record with record type of &quot;&quot; and sets record owner to a Queue.</description>
        <name>Create_Request_Record</name>
        <label>Create Request Record</label>
        <locationX>722</locationX>
        <locationY>446</locationY>
        <assignRecordIdToReference>RequestId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varOpportunityRecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOpportunityRecord.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123g0000004KLyAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordCreates>
    <recordLookups>
        <description>Query for Opportunity record using OpportunityId variable&apos;s value</description>
        <name>getOpportunityRecord</name>
        <label>Get Opportunity Record</label>
        <locationX>722</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_StageName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Opportunity record&apos;s StageName to &quot;Closed Won&quot;</description>
        <name>Update_Opportunity_StageName</name>
        <label>Update Opportunity StageName</label>
        <locationX>722</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Create_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>596</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of targeted opportunity record</description>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Request Queue named &quot;Order Mgmt Contract Validation Request&quot;.</description>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G3g000000NcAyEAK</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the Request Record Type called &quot;Contract Validation Request&quot;.</description>
        <name>Request_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123g0000004KLyAAM</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to store Request__c record Id that this flow inserts.</description>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A string variable that stores a message that can be returned via the API</description>
        <name>strReturnedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the Opportunity record that started the Flow</description>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
