force-app/main/default/flows/Delete_Zero_Dollar_Billing_Contract_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Used in conjunction with the Activity Line Item - Update Complimentary Line Items process builder</description>
    <interviewLabel>Delete Zero Dollar Billing Contract Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Zero Dollar Billing Contract Line Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Zero_Dollar_Billing_Contract_Line_Item</name>
        <label>Delete Zero Dollar Billing Contract Line Item</label>
        <locationX>50</locationX>
        <locationY>457</locationY>
        <inputReference>Get_Zero_Dollar_Billing_Contract_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Zero_Dollar_Billing_Contract_Line_Items</name>
        <label>Get Zero Dollar Billing Contract Line Items</label>
        <locationX>48</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Zero_Dollar_Billing_Contract_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varALIId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Contract_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Zero_Dollar_Billing_Contract_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varALIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
