force-app/main/default/flows/HRMConfigurationCloning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_NewCollHRMRequirement</name>
        <label>Assignment NewCollHRMRequirement</label>
        <locationX>541</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>NewCollHRMRequirement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewIndHRMRequirement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateHRMRequirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentNewCollHRMConfigurations</name>
        <label>AssignmentNewCollHRMConfigurations</label>
        <locationX>1059</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>NewCollHRMConfigurations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewIndHRMConfigurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHRMConfigurations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentNewIndHRMConfigurations</name>
        <label>AssignmentNewIndHRMConfigurations</label>
        <locationX>1309</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Business_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Business_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Configuration_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Configuration_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Configuration_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Configuration_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Field_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Field_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Level_Of_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Level_Of_Access__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Share_With__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Share_With__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Shared_to_Role_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Shared_to_Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Time_to_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Time_to_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Workflow_Action_Time_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Workflow_Action_Time_Trigger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Workflow_Evaluation_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Workflow_Evaluation_Criteria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Configuration_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Configuration_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.Configuration_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMConfigurations.Configuration_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMConfigurations.HRM_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHRMRequirementID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentNewCollHRMConfigurations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentNewIndHRMRequirements</name>
        <label>AssignmentNewIndHRMRequirements</label>
        <locationX>535</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>NewIndHRMRequirement.HRM_Configuration_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NIDocId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIndHRMRequirement.Object_or_Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateIndHRMRequirements.Object_or_Function__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewCollHRMRequirement</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>TemplateToUse</name>
        <dataType>String</dataType>
        <displayField>Document_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NI_Documentation__c</object>
        <outputAssignments>
            <assignToReference>TemplateDocId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TemplateDocName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Document_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>HRMConfigurationCloning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HRMConfigurationTemplate</label>
    <loops>
        <name>LoopHRMConfigurations</name>
        <label>LoopHRMConfigurations</label>
        <locationX>1208</locationX>
        <locationY>29</locationY>
        <assignNextValueToReference>TemplateIndHRMConfigurations</assignNextValueToReference>
        <collectionReference>TemplateCollHRMConfigurations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentNewIndHRMConfigurations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopHRMRequirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopHRMRequirements</name>
        <label>LoopHRMRequirements</label>
        <locationX>302</locationX>
        <locationY>30</locationY>
        <assignNextValueToReference>TemplateIndHRMRequirements</assignNextValueToReference>
        <collectionReference>TemplateCollHRMRequirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookupHRMConfigurations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewHRMConfigurations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHRMRequirement</name>
        <label>CreateHRMRequirement</label>
        <locationX>542</locationX>
        <locationY>517</locationY>
        <assignRecordIdToReference>NewHRMRequirementID</assignRecordIdToReference>
        <connector>
            <targetReference>LoopHRMConfigurations</targetReference>
        </connector>
        <inputAssignments>
            <field>HRM_Configuration_Document__c</field>
            <value>
                <elementReference>NIDocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_or_Function__c</field>
            <value>
                <elementReference>TemplateIndHRMRequirements.Object_or_Function__c</elementReference>
            </value>
        </inputAssignments>
        <object>HRM_Requirement__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewHRMConfigurations</name>
        <label>CreateNewHRMConfigurations</label>
        <locationX>301</locationX>
        <locationY>252</locationY>
        <inputReference>NewCollHRMConfigurations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>LookupHRMConfigurations</name>
        <label>LookupHRMConfigurations</label>
        <locationX>534</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentNewIndHRMRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRM_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateIndHRMRequirements.Id</elementReference>
            </value>
        </filters>
        <object>HRM_Configuration__c</object>
        <outputReference>TemplateCollHRMConfigurations</outputReference>
        <queriedFields>Configuration_Name__c</queriedFields>
        <queriedFields>Configuration_Action__c</queriedFields>
        <queriedFields>Configuration_Type__c</queriedFields>
        <queriedFields>Field_Type__c</queriedFields>
        <queriedFields>Time_to_Complete__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Business_Reason__c</queriedFields>
        <queriedFields>Rule_Type__c</queriedFields>
        <queriedFields>Records_Owned_By__c</queriedFields>
        <queriedFields>Owned_By_Role_Name__c</queriedFields>
        <queriedFields>Level_Of_Access__c</queriedFields>
        <queriedFields>Share_With__c</queriedFields>
        <queriedFields>Shared_to_Role_Name__c</queriedFields>
        <queriedFields>Workflow_Evaluation_Criteria__c</queriedFields>
        <queriedFields>Workflow_Action_Time_Trigger__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Configuration_Details__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HRM_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupHRMRequirements</name>
        <label>LookupHRMRequirements</label>
        <locationX>105</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopHRMRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HRM_Configuration_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateDocId</elementReference>
            </value>
        </filters>
        <object>HRM_Requirement__c</object>
        <outputReference>TemplateCollHRMRequirements</outputReference>
        <queriedFields>Object_or_Function__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>SearchForTemplate</name>
        <label>SearchForTemplate</label>
        <locationX>101</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupHRMRequirements</targetReference>
        </connector>
        <fields>
            <name>TemplateOptions</name>
            <choiceReferences>TemplateToUse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select the Template to Apply&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SearchForTemplate</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewCollHRMConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Configuration__c</objectType>
    </variables>
    <variables>
        <name>NewCollHRMRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Requirement__c</objectType>
    </variables>
    <variables>
        <name>NewHRMRequirementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewIndHRMConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Configuration__c</objectType>
    </variables>
    <variables>
        <name>NewIndHRMRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Requirement__c</objectType>
    </variables>
    <variables>
        <description>Variable to auto populate the NI Document ID</description>
        <name>NIDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateCollHRMConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Configuration__c</objectType>
    </variables>
    <variables>
        <name>TemplateCollHRMRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Requirement__c</objectType>
    </variables>
    <variables>
        <name>TemplateDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateDocName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateIndHRMConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Configuration__c</objectType>
    </variables>
    <variables>
        <name>TemplateIndHRMRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HRM_Requirement__c</objectType>
    </variables>
</Flow>
