force-app/main/default/flows/lightning_experience_rollout_survey_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_4a5a996e_8800_4449_b2c8_daa80c5d7e3e</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_509763b4_a859_43d1_b8c1_fe5b0cd867c1</name>
        <choiceText>Ability to Customize Home Page for your Team&apos;s Business Needs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ability to Customize Home Page for your Team&apos;s Business Needs</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_751f51de_9429_4266_b696_10392f64f4bb</name>
        <choiceText>Modern Design for Ease of Use and Increased Productivity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modern Design for Ease of Use and Increased Productivity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9dc882d5_b8c0_4f03_9bea_31e4b1d0db3d</name>
        <choiceText>Drag and Drop Status Change with Kanban View, Favorite your List Views That You Want to Jump Right Too</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drag and Drop Status Change with Kanban View, Favorite your List Views That You Want to Jump Right Too</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ed340402_dc77_43d6_b538_861133a08221</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fd1a920b_d22e_4536_a092_4b7864dbb76f</name>
        <choiceText>File Management and Collaboration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>File Management and Collaboration</stringValue>
        </value>
    </choices>
    <interviewLabel>Lightning Experience - Rollout Survey_V2</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Lightning Experience - Rollout Survey_V2</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_lightning_experience_rollout_s_1b613b70_f83f_4830_aa03_7abfaca2a278</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_175db456_10e5_4b37_9ad2_5f1be624f3d6</name>
        <label>Additional Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d3e187ae_ca6a_4609_89d4_9b2c80545509</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please let us know if there is anything you want to be taken into consideration&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9995736e_5a93_4ad1_b6a5_8eb73f03ddb0</name>
        <label>Objects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b6986c65_e78e_4820_9598_972a2681b1a9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d67abfba_f5e2_47ff_b742_833ccfda4e7d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What objects do you use for your job role(s) in Lightning Experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Don&apos;t forget those little objects you may only use once a month or year.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b01eaf42_1326_4528_9028_9ec0047848e5</name>
        <label>Looking forwards to</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_175db456_10e5_4b37_9ad2_5f1be624f3d6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b92c5d4c_2d3c_4957_abe2_2011147aafa8</name>
            <choiceReferences>c_751f51de_9429_4266_b696_10392f64f4bb</choiceReferences>
            <choiceReferences>c_509763b4_a859_43d1_b8c1_fe5b0cd867c1</choiceReferences>
            <choiceReferences>c_9dc882d5_b8c0_4f03_9bea_31e4b1d0db3d</choiceReferences>
            <choiceReferences>c_fd1a920b_d22e_4536_a092_4b7864dbb76f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;What about Lightning are you Looking forwards to?&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7669668a_a665_4e49_bbd4_3cd887670e1f</name>
            <choiceReferences>c_ed340402_dc77_43d6_b538_861133a08221</choiceReferences>
            <choiceReferences>c_4a5a996e_8800_4449_b2c8_daa80c5d7e3e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Would you like to learn more about what you selected?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a34571c0_c300_4844_83b6_b9c24ef7b318</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;This link will tell you more about Lightning and the new locations of classic tools:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://trailhead.salesforce.com/en/content/learn/modules/lightning-experience-for-salesforce-classic-users/get-your-bearings&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://trailhead.salesforce.com/en/content/learn/modules/lightning-experience-for-salesforce-classic-users/get-your-bearings&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7669668a_a665_4e49_bbd4_3cd887670e1f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed340402_dc77_43d6_b538_861133a08221</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b92c5d4c_2d3c_4957_abe2_2011147aafa8</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_751f51de_9429_4266_b696_10392f64f4bb</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6bb221bc_e893_482a_9523_b75d2aead7fc</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;This link goes over list views in the lightning experience and introduces the new Kanban view:&lt;/p&gt;&lt;p&gt;https://trailhead.salesforce.com/content/learn/modules/lightning-experience-for-salesforce-classic-users/work-with-list-views&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7669668a_a665_4e49_bbd4_3cd887670e1f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed340402_dc77_43d6_b538_861133a08221</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b92c5d4c_2d3c_4957_abe2_2011147aafa8</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_9dc882d5_b8c0_4f03_9bea_31e4b1d0db3d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8fbfc0d9_420f_4d48_9bd5_f09c2934e680</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;Here is an example home page with various custom links and a chatter panel:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://amadeus-hospitality--trevor--c.documentforce.com/file-asset-public/home_page1?oid=00Df0000003dEHp&amp;amp;v=1&quot; alt=&quot;home page&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7669668a_a665_4e49_bbd4_3cd887670e1f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed340402_dc77_43d6_b538_861133a08221</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b92c5d4c_2d3c_4957_abe2_2011147aafa8</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_509763b4_a859_43d1_b8c1_fe5b0cd867c1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bc63819b_a626_45dd_8994_37fe27810adb</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;This link goes over a few tips and tricks that lightning brings, including file management and collaboration, chatter and custom themes, and branding.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://trailhead.salesforce.com/content/learn/modules/lex_migration_whatsnew/lex_migration_whatsnew_more?trail_id=lex_admin_migration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://trailhead.salesforce.com/content/learn/modules/lex_migration_whatsnew/lex_migration_whatsnew_more?trail_id=lex_admin_migration&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7669668a_a665_4e49_bbd4_3cd887670e1f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ed340402_dc77_43d6_b538_861133a08221</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b92c5d4c_2d3c_4957_abe2_2011147aafa8</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_fd1a920b_d22e_4536_a092_4b7864dbb76f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b6986c65_e78e_4820_9598_972a2681b1a9</name>
        <label>Classic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b01eaf42_1326_4528_9028_9ec0047848e5</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_78fb269f_b31a_4d15_8c22_65c19374ac25</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What about Classic gives you that warm Classic feel?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_9995736e_5a93_4ad1_b6a5_8eb73f03ddb0</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;Please let us know if there is anything you want to be taken into consideration.&lt;/b&gt;&lt;img src=&quot;https://amadeus-hospitality--sbfull--c.documentforce.com/file-asset-public/Salesforce1?oid=00D110000002sNK&amp;amp;v=1&quot; alt=&quot;Salesforce&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>A brief survey for us to help make your team&apos;s migration to Lightning personalized.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 26px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif;&quot;&gt;Lightning Rollout Survey&lt;/b&gt;&lt;img src=&quot;https://amadeus-hospitality--sbfull--c.documentforce.com/file-asset-public/lightning?oid=00D110000002sNK&amp;amp;v=1&quot; alt=&quot;lightning&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
