force-app/main/default/flows/LimitedServiceEmailAlerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends a welcome email to a Contact Role</description>
        <name>newOrgWelcomeEmail</name>
        <label>New Org Welcome Email</label>
        <locationX>469</locationX>
        <locationY>163</locationY>
        <actionName>OpportunityContactRole.Standard_Or_Essentials_Welcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>pauseToSendTenDayEmails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>contactRoleId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send10DayEmail</name>
        <label>Send 10 Day Email</label>
        <locationX>739</locationX>
        <locationY>201</locationY>
        <actionName>OpportunityContactRole.Standard_Or_Essentials_Follow_Up_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>pauseToSend17DayEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>contactRoleId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send17DayEmail</name>
        <label>Send 17 Day Email</label>
        <locationX>1112</locationX>
        <locationY>203</locationY>
        <actionName>OpportunityContactRole.Standard_Or_Essentials_Final_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>contactRoleId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendAdditionalUserEmail</name>
        <label>Send Additional User Email</label>
        <locationX>469</locationX>
        <locationY>528</locationY>
        <actionName>OpportunityContactRole.Standard_Or_Essentials_Additional_Users_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>contactRoleId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>checkForEmailAddress</name>
        <label>Check for Email Address</label>
        <locationX>82</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>Email Absent</defaultConnectorLabel>
        <rules>
            <name>emailPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunity</targetReference>
            </connector>
            <label>Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine the Provision Type on the Opportunity and which path to take to send out emails</description>
        <name>provisionTypeEmailPath</name>
        <label>Provision Type Email Path</label>
        <locationX>421</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>sendAdditionalUserEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Org - Additional License(s)</defaultConnectorLabel>
        <rules>
            <name>newOrgFirstAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.Provision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Org - First Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newOrgWelcomeEmail</targetReference>
            </connector>
            <label>New Org - First Account</label>
        </rules>
    </decisions>
    <description>NICC-051987 - Sends the email alerts for the S&amp;EM Limited Service Opportunities. See Process Builder called &quot;Opportunity - Limited Service Email Alerts&quot; for the process that launches this flow.</description>
    <interviewLabel>Opportunity - Limited Service Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Limited Service Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContactRecord</name>
        <label>Get Contact Record</label>
        <locationX>80</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForEmailAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Contact Role from the Opportunity</description>
        <name>getContactRole</name>
        <label>Get Contact Role</label>
        <locationX>87</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>License (Admin) Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>219</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>provisionTypeEmailPath</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContactRole</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the ID of the Contact in the Contact Role record</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>provisionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>pauseToSend17DayEmail</name>
        <label>Pause to Send 17 Day Email</label>
        <locationX>933</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>seventeenDaysAfterEffectiveDate</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>send17DayEmail</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Effective_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>opportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>17.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>17 Days After Effective Date</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Adds a pause of 10 Days past Effective Date to send the next email in the path</description>
        <name>pauseToSendTenDayEmails</name>
        <label>Pause to Send 10 Day Email</label>
        <locationX>613</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>texDaysAfterEffectiveDate</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>send10DayEmail</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Effective_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>opportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>10 Days After Effective Date</label>
        </waitEvents>
    </waits>
</Flow>
