force-app/main/default/flows/MassUpdateTentativeAssignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignmentAssignment</name>
        <label>AssignmentAssignment</label>
        <locationX>55</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>VarCollectSelectedAssignments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TentativeAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastLookupAssigments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SelectAssignments</name>
        <label>SelectAssignments</label>
        <locationX>528</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>LoopAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SelectTetativeAssignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCollectSelectedAssignments</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOAssignments.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAssignment</targetReference>
            </connector>
            <label>SelectTetativeAssignments</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChooseTentativeAssignments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <outputAssignments>
            <assignToReference>VarCollectSelectedAssignments</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>MassUpdateTentativeAssignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MassUpdateTentativeAssignments</label>
    <loops>
        <name>LoopAssignments</name>
        <label>LoopAssignments</label>
        <locationX>240</locationX>
        <locationY>282</locationY>
        <assignNextValueToReference>SOAssignments</assignNextValueToReference>
        <collectionReference>SOCollAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SelectAssignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>FastLookupAssigments</name>
        <label>FastLookupAssigments</label>
        <locationX>43</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <outputReference>SOCollAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Closed_for_Expense_Entry__c</queriedFields>
        <queriedFields>pse__Closed_for_Time_Entry__c</queriedFields>
        <queriedFields>pse__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssignment</name>
        <label>UpdateAssignment</label>
        <locationX>422</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>LoopAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOAssignments.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>236</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assignments have been updated&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenTentativeAssignments</name>
        <label>ScreenTentativeAssignments</label>
        <locationX>50</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentAssignment</targetReference>
        </connector>
        <fields>
            <name>TentativeAssignments</name>
            <choiceReferences>ChooseTentativeAssignments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select the assignments that have been confirmed&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ScreenTentativeAssignments</startElementReference>
    <status>Active</status>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>SOCollAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>SOCollUpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>VarCollectSelectedAssignments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
