force-app/main/default/flows/MilestoneTotalRecalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MilestoneTotalRecalc</label>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteMilestone</name>
        <label>DeleteMilestone</label>
        <locationX>97</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>RecalcMilestoneTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMilestoneId</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
    </recordDeletes>
    <screens>
        <name>Delete_Confirmation</name>
        <label>DeleteConfirmation</label>
        <locationX>100</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteMilestone</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>Are you sure you want to delete the milestone record - please confirm</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Delete_Confirmation</startElementReference>
    <status>Active</status>
    <subflows>
        <name>RecalcBacklogTotal</name>
        <label>RecalcBacklogTotal</label>
        <locationX>98</locationX>
        <locationY>442</locationY>
        <flowName>MilestoneBacklogProjectTotal</flowName>
        <inputAssignments>
            <name>varProjectId</name>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProjectId</assignToReference>
            <name>varProjectId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RecalcMilestoneTotal</name>
        <label>RecalcMilestoneTotal</label>
        <locationX>102</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>RecalcBacklogTotal</targetReference>
        </connector>
        <flowName>MilestoneTotal</flowName>
        <inputAssignments>
            <name>varProjectId</name>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProjectId</assignToReference>
            <name>varProjectId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
