force-app/main/default/flows/MilestoneTotal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>IndMilestoneTotal</name>
        <label>IndMilestoneTotal</label>
        <locationX>422</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varMilestoneTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndMilestones.Contracted_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMilestone</targetReference>
        </connector>
    </assignments>
    <description>Invoked by onBefore and onAfter update triggers on the PSA Milestone object, this flow will summarize the total count of billable and complimentary milestones on the Project to be used for a validation rule.</description>
    <interviewLabel>MilestoneTotal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MilestoneTotal</label>
    <loops>
        <name>LoopMilestone</name>
        <label>LoopMilestone</label>
        <locationX>197</locationX>
        <locationY>214</locationY>
        <assignNextValueToReference>IndMilestones</assignNextValueToReference>
        <collectionReference>CollMilestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IndMilestoneTotal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateMilestoneTotal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupMilestones</name>
        <label>LookupMilestones</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contracted_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>CollMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contracted_Milestone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMilestoneTotal</name>
        <label>UpdateMilestoneTotal</label>
        <locationX>196</locationX>
        <locationY>375</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Count__c</field>
            <value>
                <elementReference>varMilestoneTotal</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LookupMilestones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>IndMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>varMilestoneTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
