force-app/main/default/flows/MilestoneBacklogProjectTotal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignMilestoneStatustoVariable</name>
        <label>AssignMilestoneStatustoVariable</label>
        <locationX>430</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>varMilestoneIsActive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndMilestone.IsActive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMilestones</targetReference>
        </connector>
    </assignments>
    <description>Invoked by onBefore and onAfter update triggers on the PSA Milestone object, this flow will pull the value of the PSA Milestone IsActive field and add a sum on the Project to be used for a validation rule.</description>
    <interviewLabel>MilestoneBacklogProjectTotal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MilestoneBacklogProjectTotal</label>
    <loops>
        <description>Loop through the variable collection and then look at each individual milestone</description>
        <name>LoopMilestones</name>
        <label>LoopMilestones</label>
        <locationX>194</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>IndMilestone</assignNextValueToReference>
        <collectionReference>CollIMilestoneStatus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMilestoneStatustoVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup the milestones related to the project id the user is on and save the IsActive value to a collection variable.</description>
        <name>LookupMilestone</name>
        <label>LookupMilestone</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopMilestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>CollIMilestoneStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <queriedFields>Milestone_Type__c</queriedFields>
        <queriedFields>pse__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>194</locationX>
        <locationY>402</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Backlog_Milestone_Total__c</field>
            <value>
                <elementReference>varMilestoneIsActive</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <startElementReference>LookupMilestone</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection variable for milestones related to the milestone</description>
        <name>CollIMilestoneStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <description>Individual Milestone Record</description>
        <name>IndMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <description>From the milestones on the project, assign the value of the IsActive field to the variable</description>
        <name>varMilestoneIsActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
