force-app/main/default/flows/NI_Doc_PLCMBE4UpgradeEmailAlerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Post-Upgrade Check-In&quot;</description>
        <name>PostUpgradeCheckIn</name>
        <label>PostUpgradeCheckIn</label>
        <locationX>984</locationX>
        <locationY>20</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4PostUpgrade_CheckIn</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM BE4 Upgrade 1 Day Reminder A&amp;B&quot;</description>
        <name>Upgrade1DayReminderABEmail</name>
        <label>Upgrade1DayReminderABEmail</label>
        <locationX>470</locationX>
        <locationY>218</locationY>
        <actionName>NI_Documentation__c.PLCM_BE4Upgrade1DayReminderAB</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade 1 Day Reminder C1&quot;</description>
        <name>Upgrade1DayReminderC1Email</name>
        <label>Upgrade1DayReminderC1Email</label>
        <locationX>609</locationX>
        <locationY>166</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4Upgrade1DayReminderC1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade 1 Day Reminder C2&quot;</description>
        <name>Upgrade1DayReminderC2Email</name>
        <label>Upgrade1DayReminderC2Email</label>
        <locationX>826</locationX>
        <locationY>110</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4Upgrade1DayReminderC2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade Complete A&amp;B&quot;</description>
        <name>UpgradeCompleteABEmail</name>
        <label>UpgradeCompleteABEmail</label>
        <locationX>551</locationX>
        <locationY>565</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4UpgradeCompleteAB</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateCompleteDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade Complete C1&quot;</description>
        <name>UpgradeCompleteC1Email</name>
        <label>UpgradeCompleteC1Email</label>
        <locationX>690</locationX>
        <locationY>566</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4UpgradeCompleteC1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateCompleteDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade Complete C2&quot;</description>
        <name>UpgradeCompleteC2Email</name>
        <label>UpgradeCompleteC2Email</label>
        <locationX>876</locationX>
        <locationY>589</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_BE4UpgradeCompleteC2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateCompleteDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM BE4 Upgrade Date Scheduled A&amp;B&quot;</description>
        <name>UpgradeScheduledABEmail</name>
        <label>UpgradeScheduledABEmail</label>
        <locationX>49</locationX>
        <locationY>516</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_UpgradeDateScheduledAB</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade Date Scheduled C1&quot;</description>
        <name>UpgradeScheduledC1Email</name>
        <label>UpgradeScheduledC1Email</label>
        <locationX>156</locationX>
        <locationY>554</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_UpgradeDateScheduledC1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends the email alert &quot;PLCM - BE4 Upgrade Date Scheduled C2&quot;</description>
        <name>UpgradeScheduledC2Email</name>
        <label>UpgradeScheduledC2Email</label>
        <locationX>232</locationX>
        <locationY>497</locationY>
        <actionName>NI_Documentation__c.AH_PLCM_UpgradeDateScheduledC2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CountOfEmailMessages</name>
        <label>CountOfEmailMessages</label>
        <locationX>1374</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>varCountOfEmailMessages</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varEmailMessageCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateEmailMessages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates an Email Message to attach to the Project Contact and Project record</description>
        <name>EmailOneProjectContact_Project</name>
        <label>EmailProjectContact+Project</label>
        <locationX>1245</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hospitality.plcm@amadeus.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amadeus Migration Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaHTMLBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewEmailMessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailMessageCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewEmailMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOfEmailMessages</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides which product the record is for and which reminder email to send (day before or after migration/upgrade follow up)</description>
        <name>ReminderEmailProductDecision</name>
        <label>ReminderEmailProductDecision</label>
        <locationX>484</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DayBefore</name>
            <conditionLogic>1 AND (2 or 3) and  4 and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Reminder_2_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B-Med</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE5_Publish_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE4_Upgrade_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade1DayReminderABEmail</targetReference>
            </connector>
            <label>DayBeforeA&amp;B</label>
        </rules>
        <rules>
            <name>DayBeforeC1</name>
            <conditionLogic>((1 AND 2) or (1 AND 3 AND 4)) and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE4_Upgrade_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade1DayReminderC1Email</targetReference>
            </connector>
            <label>DayBeforeC1</label>
        </rules>
        <rules>
            <name>DayBeforeC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE4_Upgrade_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade1DayReminderC2Email</targetReference>
            </connector>
            <label>DayBeforeC2</label>
        </rules>
        <rules>
            <name>BE5PublishFU</name>
            <conditionLogic>1 AND (2 or 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE4 to BE5 Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B-Med</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE5_Publish_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostUpgradeCheckIn</targetReference>
            </connector>
            <label>BE5PublishFU</label>
        </rules>
        <rules>
            <name>BE5UpgradeFU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE4 to BE5 Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BE4_Upgrade_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostUpgradeCheckIn</targetReference>
            </connector>
            <label>BE5UpgradeFU</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the NI Doc has a scheduled upgrade date in the Migration Date field or if the upgrade has been marked as complete.</description>
        <name>UpgradeScheduleOrComplete</name>
        <label>UpgradeScheduleOrComplete</label>
        <locationX>38</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpgradeScheduledAB</name>
            <conditionLogic>1 AND (2 or 3) AND 4 AND 5 and 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE4 to BE5 Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B-Med</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaDaysTilMigrationDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeScheduledABEmail</targetReference>
            </connector>
            <label>UpgradeScheduledAB</label>
        </rules>
        <rules>
            <name>UpgradeScheduledC1</name>
            <conditionLogic>1 and 2 and 3 and 8 and ((4 and 5) or (4 and 6 and 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE4 to BE5 Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaDaysTilMigrationDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeScheduledC1Email</targetReference>
            </connector>
            <label>UpgradeScheduledC1</label>
        </rules>
        <rules>
            <name>UpgradeScheduledC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BE4 to BE5 Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_Migration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaDaysTilMigrationDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeScheduledC2Email</targetReference>
            </connector>
            <label>UpgradeScheduledC2</label>
        </rules>
        <rules>
            <name>UpgradeCompleteAB</name>
            <conditionLogic>(1 or 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B-Med</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeCompleteABEmail</targetReference>
            </connector>
            <label>UpgradeCompleteAB</label>
        </rules>
        <rules>
            <name>UpgradeCompleteC1</name>
            <conditionLogic>1 AND 2 AND ((3 and 4) or (3 and 5 and 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeCompleteC1Email</targetReference>
            </connector>
            <label>UpgradeCompleteC1</label>
        </rules>
        <rules>
            <name>UpgradeCompleteC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AH_PLCM_MigrationProgress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C-Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vanity_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpgradeCompleteC2Email</targetReference>
            </connector>
            <label>UpgradeCompleteC2</label>
        </rules>
    </decisions>
    <description>NICC-062947; Flow to send out email alerts for BE4 upgrade projects for PLCM</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the number of days until the Migration Date.</description>
        <name>formulaDaysTilMigrationDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.AH_PLCM_Migration_Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaHTMLBody</name>
        <dataType>String</dataType>
        <expression>IF({!UpgradeScheduledAB}, {!template1H_BEUpgradeScheduled},
IF({!UpgradeScheduledC1}, {!template1L_BEUpgradeScheduled},
IF({!UpgradeScheduledC2}, {!template1LV_BEUpgradeScheduled},
IF({!DayBefore}, {!template2H_BE1DayReminder},
IF({!DayBeforeC1}, {!template2L_BE1DayReminder},
IF({!DayBeforeC2}, {!template2LV_BE1DayReminder},
IF({!UpgradeCompleteAB}, {!template3H_BEUpgradeComplete},
IF({!UpgradeCompleteC1}, {!template3L_BEUpgradeComplete},
IF({!UpgradeCompleteC2}, {!template3LV_BEUpgradeComplete}, {!templateFollowUp}
)
)
)
)
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>formulaSubject</name>
        <dataType>String</dataType>
        <expression>IF(OR({!UpgradeScheduledAB},{!UpgradeScheduledC1},{!UpgradeScheduledC2}), {!$Record.Account__r.Name} &amp; &quot;- Please Read: Upgrade to iHotelier New Booking Engine&quot;, 
IF(OR({!Upgrade1DayReminderABEmail},{!Upgrade1DayReminderC1Email},{!Upgrade1DayReminderC2Email} ), &quot;Please Read:  Upgrade to Amadeus iHotelier New Booking Engine&quot;,
IF(OR({!UpgradeCompleteAB} ,{!UpgradeCompleteC1} ,{!UpgradeCompleteC2} ), &quot;Action Required: Review New Booking Engine Configurations for &quot;&amp;{!$Record.Account__r.Name}, {!$Record.Account__r.Name}&amp;&quot; is moving forward with New Booking Engine!&quot;
)
)
)</expression>
    </formulas>
    <interviewLabel>NI Doc - PLCM BE4 Upgrade Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NI Doc - PLCM BE4 Upgrade Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates additional email message to relate the email just sent to the Project Contact and the Project</description>
        <name>CreateEmailMessages</name>
        <label>CreateEmailMessages</label>
        <locationX>1380</locationX>
        <locationY>63</locationY>
        <inputReference>varEmailMessageCollection</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>Updates the &quot;BE4 Upgrade Complete Date&quot; to the current date</description>
        <name>UpdateCompleteDate</name>
        <label>UpdateCompleteDate</label>
        <locationX>963</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>EmailOneProjectContact_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>BE4_Upgrade_Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>20</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>UpgradeScheduleOrComplete</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;PLCM_Migrations&quot; &amp;&amp;
ISPICKVAL({!$Record.AH_PLCM_Product__c}, &quot;BE4 to BE5 Upgrade&quot;) &amp;&amp;
{!$Record.Stop_Email_Notifications__c}= FALSE</filterFormula>
        <object>NI_Documentation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>DayBeforeMigration</name>
            <connector>
                <targetReference>ReminderEmailProductDecision</targetReference>
            </connector>
            <label>DayBeforeMigration</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AH_PLCM_Migration_Reminder_2_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>BE5Publish_3DaysA_B</name>
            <connector>
                <targetReference>ReminderEmailProductDecision</targetReference>
            </connector>
            <label>BE5Publish+3DaysA&amp;B</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>BE5_Publish_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>BE4Upgrade_3Days</name>
            <connector>
                <targetReference>ReminderEmailProductDecision</targetReference>
            </connector>
            <label>BE4Upgrade+3Days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>BE4_Upgrade_Complete_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>template1H_BEUpgradeScheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Hello&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt; {!$Record.Account__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! We look forward to partnering with you to upgrade your existing Booking Engine to this new solution.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Your New Booking Engine upgrade is scheduled for {!$Record.AH_PLCM_Migration_Date__c}.&amp;nbsp;Once the configuration steps have been completed, we will let you know by email that your Booking Engine is ready for review.&amp;nbsp;If everything meets your satisfaction, you&apos;ll be ready to publish and begin using your New Booking Engine!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;If you are not an Amadeus Web Solutions customer with a Vanity URL, you will need to complete the following steps &lt;/span&gt;&lt;strong style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;&lt;u&gt;before publishing&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt; color: rgb(5, 99, 193);&quot;&gt;&lt;u&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&lt;u&gt;Click here to view a recording from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&lt;u&gt;Click here to view the presentation slides from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&lt;u&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&lt;u&gt;Online Help Resources&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;We very much appreciate your choice to partner with Amadeus as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Thank you,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 15pt; color: rgb(0, 94, 184);&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 15pt; color: rgb(0, 94, 184);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(0, 0, 255);&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(33, 33, 33);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 8px; color: rgb(33, 33, 33); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template1L_BEUpgradeScheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! We look forward to partnering with you to upgrade your existing Booking Engine to this new solution.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Your New Booking Engine upgrade is scheduled for &lt;/span&gt;{!$Record.AH_PLCM_Migration_Date__c}&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;Once this upgrade has been completed, we will publish the New Booking Engine and you can begin working with it. We will let you know by email that the upgrade was successful and that the New Booking Engine has been published.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view a recording from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view the presentation slides from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Online Help Resources&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template1LV_BEUpgradeScheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! Your New Booking Engine upgrade is scheduled for &lt;/span&gt;{!$Record.AH_PLCM_Migration_Date__c}&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;Once this upgrade has been completed, we will let you know by email that the upgrade was successful.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Because you were a non-integrated Amadeus Web Solutions customer using a &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Vanity URL&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;, you will need to complete the following steps &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&lt;u&gt;before publishing&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; color: rgb(5, 99, 193);&quot;&gt;&lt;u&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view a recording from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view the presentation slides from customer training&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;Online Help Resources&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template2H_BE1DayReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;span style=&quot;color: rgb(0, 32, 96); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! We look forward to partnering with you to upgrade your existing Booking Engine to this new solution.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Your New Booking Engine upgrade configuration is scheduled for &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;tomorrow!&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; Once the configuration steps have been completed, we will let you know by email that your Booking Engine is ready for review. If everything meets your satisfaction, you&apos;ll be ready to publish and begin using your New Booking Engine!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;If you are not an Amadeus Web Solutions customer with a Vanity URL, you will need to complete the following steps before publishing the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; color: rgb(5, 99, 193);&quot;&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template2L_BE1DayReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! We look forward to partnering with you to upgrade your existing Booking Engine to this new solution.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Your New Booking Engine upgrade configuration is scheduled for &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;tomorrow!&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; Once this upgrade has been completed, we will publish the New Booking Engine and you can begin working with it.&amp;nbsp;We will let you know by email that the upgrade was successful and New Booking Engine has been published.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template2LV_BE1DayReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;span style=&quot;color: rgb(0, 32, 96); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Congratulations on your upcoming upgrade to the iHotelier New Booking Engine! We look forward to partnering with you to upgrade your existing Booking Engine to this new solution.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Your New Booking Engine upgrade configuration is scheduled for &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;tomorrow!&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; Once this upgrade has been completed, we will let you know by email that the upgrade was successful.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Because you were a non-integrated Amadeus Web Solutions customer using a &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Vanity URL&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;, you will need to complete the following steps &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&lt;u&gt;before publishing&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; color: rgb(0, 0, 255);&quot;&gt;&lt;u&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Upgrade Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.amadeus-hospitality.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template3H_BEUpgradeComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;span style=&quot;color: rgb(0, 32, 96); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We are pleased to inform you that we have completed your New Booking Engine upgrade. Please review your New Booking Engine and if you are satisfied with the results, then please proceed to publish your New Booking Engine. Once published, please inform your Account Manager or Customer Success Manager that this has been completed. Also, you have any questions, please feel free to reach out to your Account Manager or Customer Success Manager.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;If you are not an Amadeus Web Solutions customer with a Vanity URL, you will need to complete the following steps before publishing the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; color: rgb(5, 99, 193);&quot;&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; If you wish to create a Customer Care case for assistance, please include the keywords ‘BE5 Upgrade’ in the subject line of the case.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(31, 73, 125);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Migration Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://clicktime.symantec.com/33RhQy8CKttS9hoqwi2uEDi6H2?u=http%3A%2F%2Fwww.amadeus-hospitality.com%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template3L_BEUpgradeComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;span style=&quot;color: rgb(0, 32, 96); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We are pleased to inform you that we have completed your New Booking Engine upgrade!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; If you wish to create a Customer Care case for assistance, please include the keywords ‘BE5 Upgrade’ in the subject line of the case.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(31, 73, 125);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Migration Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://clicktime.symantec.com/33RhQy8CKttS9hoqwi2uEDi6H2?u=http%3A%2F%2Fwww.amadeus-hospitality.com%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>template3LV_BEUpgradeComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;},&lt;span style=&quot;color: rgb(0, 32, 96); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We are pleased to inform you that we have completed your New Booking Engine upgrade!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;IMPORTANT:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Because you were a non-integrated Amadeus Web Solutions customer using a &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Vanity URL&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;, you will need to complete the following steps &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&lt;u&gt;before publishing&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt; the New Booking Engine.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Configuring Vanity URL Settings&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.travelclick.com%2Fhelp%2FIH_Online_Help%2FDefault_CSH.htm%23200900&amp;amp;data=05%7C01%7C%7C84b8ec996e9644553e2508daa15a6bfd%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C637999706969992710%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=tcmPcNZlIND6nYPHDNnUgiOnhTR3maMFQR0QAGW%2Bx6w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; color: rgb(0, 0, 255);&quot;&gt;&lt;u&gt;https://training.travelclick.com/help/IH_Online_Help/Default_CSH.htm#200900&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(68, 68, 68);&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 112, 192); font-size: 11.5pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt; If you wish to create a Customer Care case for assistance, please include the keywords ‘BE5 Upgrade’ in the subject line of the case.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(31, 73, 125);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 15pt; font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;Migration Team&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 11pt; font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://clicktime.symantec.com/33RhQy8CKttS9hoqwi2uEDi6H2?u=http%3A%2F%2Fwww.amadeus-hospitality.com%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 8px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateFollowUp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Hello &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;,&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(0, 32, 96);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;We are hoping you are pleased with your New Booking Engine!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;To learn more about these upgrades and how to use this next-level booking engine, please reference the following resources below:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI_MSFontService&amp;quot;, sans-serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJRN3lLBGV1-WJV7CgBWsV9kH8M3JzBYBW7Wg49n4x7D88W71PHmY1WSkC3W5JJpcW4WKHP2W54r15M267fHZW4qqVR76Pd4WsW5xbLDS99z3MGN5BRCpkVyZKwW2V1ZMC48kjPgW3MB6fs9j555jW8HzxT97YlvnKW4YDsjh8rJspzW8lbbpQ7D1tvyW1rx5vy5nxPBvW1kKsSt8zVJhFW51Z1lt7JgCyQF9c3z3_Jd48W3w5Phb4HNwPGW4ZMJ1G1NhLrLVlb6G86fj6ZkV5tVB04c9yn2W2dCL6C4gwRp-W6qDpB043cVTVW3YbzX69h455J3fvj1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=nfS4QMzSu5E%2F6LvIdQEYQDiVwd4GOyugDUZydZ113xU%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;Click here to view a recording from customer training&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJSG3lLCyV1-WJV7CgQbfW4JHvlg1B03zgN5FW-2m5KTqkW2Qz4Hd5_2-91W4-dBVf22chQ-W3QRJr_1LLgvpW7TzBn87QzzQcMRFsH8wGBMJW3W69kn8n25GJVHyNhr8z6fd6W9jZDK_7Y46B4W7KLdVz2zXJ_MN67qR5n5HNxkW7W61rK1PL5QLW6pBy5J4L__FwW5fl8mT2Pw4YSW3t1Mzy5qc8fFW7q0L1w7n3HcjW5rFDqM5NKj1zW5PYKQ06tkBMwW8PRRhg7lWLZwVzxf_Z3G9L_GW50VDwC203j-SW2m16vh61NDPgV49Sf85w4RQ7N8yTThS4MWD8W5z4kB27Wh_68W8HqnYr1C0y6vN4W9FGQFcP1BW6K1X0b3-XmwsW6-LGSR87P3rl3blR1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=GdjQQbf0B9tu3o4lQeBs%2Frmbl39GywwmBP4uPAYLTBc%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;Click here to view the presentation slides from customer training&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJS33lLBZV1-WJV7CgMQNW80QZV-5yNKRSW65znHn6BJ3dHW8QnXsg5M_04MN5yGWSd7LJ7DW5VwGwh3HfDhNW2M8M_Q3NZK6-W1yW6gj7fmLLLW42X9G56s3z5dW3KChKr8gVz6cW8zxRDB3lQ5k4W2876W_8wmD7qW99WLYG1Wbp59W3dcFVT2V8-XVN6TN6P_Nj09rMMpLjYgtmpPW5-p-MJ31Wjp1W3rLbgd3n4j40W4rtFws6rQTnrW4w4shC1H4x9wW2Vj4sg6zgj5wW5vhbyg4Cl2ZMW1D7drk8hxlLWW97KR3Z6SZ0g0W5t9x5K2XlhsFN3WbpDm6HXp6W9lh_QY2Vg7Jb3h5m1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=zTWHslMBNZ5Usa7F7NeCAxBTEbqFrxkelR6T0TUxyWs%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;Click here to view a detailed FAQ of iHotelier’s New Booking Engine&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fconnect.amadeus-hospitality.com%2Fe3t%2FCtc%2FF9%2B113%2Fc38P504%2FVWZYSY2f7kp4W6Y7F6W755TrbV7Wb0N4QR5l7McSJQV5kh3ZV3Zsc37CgN4DN7-8b5WCHc7zN7c9jPqX-BrDW1dxJTG1lzGZ7V6sQPK81Kc-rW51DkQ-4Kk1LtW26gdFl18GkgPW7RDHnv214PkFW1w2_4y41FhLwW3ktgXk1-qcB0W1KxTCY7Q-L9gW1NrDz65kKMRDW2bdssY7NQbQDN8dg56TlMdRZW1FX0sR3VT-_NW3j3fsC47GdbcW70pP502WC3vgW8yzzxL7jbKvCN7bFS_KtZgMjW19kJM61t0PbpW76Ck8V1KT5fTW6CJnkC7ht4CDW2S1Zbx8G8bDxW4LwZzw8gvS90W4fd4kQ3n49kYW42bwLw4JKpWyMZNrkNGwK3bW3rhgLb5nW__wW3Kvx8p8xB9GtN2MGSsSd8mzHW3zQ-HC1XHXm0W5bkxRX645XfKW1jKbDF2qMTNkW81x1Hx46lp9yW6gDr1b9m2x3s37_B1&amp;amp;data=05%7C01%7C%7C7dc48711da58414bf8e008daabcc3e66%7Cb3f4f7c272ce4192aba4d6c7719b5766%7C0%7C0%7C638011190947126937%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=0KWdDOxz6%2B655COyZjen9QBSVyxE0uX%2BBbPR%2BImox7w%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;Online Help Resources&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11.5pt; color: rgb(0, 112, 192);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt; If you wish to create a Customer Care case for assistance, please include the keywords ‘BE5 Upgrade’ in the subject line of the case.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;We very much appreciate your choice to partner with Amadeus, as we shape the future of travel together. We look forward to working with you to ensure that the Amadeus iHotelier New Booking Engine meets your business needs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(31, 73, 125); font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 15pt; color: rgb(0, 94, 184);&quot;&gt;Migration Team&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, &amp;quot;Calibri Light&amp;quot;, &amp;quot;Calibri Light_EmbeddedFont&amp;quot;, &amp;quot;Calibri Light_MSFontService&amp;quot;, sans-serif; font-size: 11pt; color: rgb(0, 94, 184);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Platform Life Cycle Management&lt;/strong&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Hospitality&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;75 New Hampshire Avenue&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;Portsmouth, New Hampshire 03801&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;United States&lt;/span&gt;&lt;span style=&quot;font-family: WordVisiCarriageReturn_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(50, 50, 50);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://clicktime.symantec.com/33RhQy8CKttS9hoqwi2uEDi6H2?u=http%3A%2F%2Fwww.amadeus-hospitality.com%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(5, 99, 193);&quot;&gt;&lt;u&gt;www.amadeus-hospitality.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(33, 33, 33);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 8px; color: rgb(33, 33, 33);&quot;&gt;Email Ref ID: {!$Record.Email_Ref_Id__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>varCountOfEmailMessages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Collection to create related email messages</description>
        <name>varEmailMessageCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Holds the details of an Email Template to pass through the Subject and Body</description>
        <name>varEmailTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>Record to create a related email messge</description>
        <name>varNewEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
