force-app/main/default/flows/ni_finance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_04a4bc83_32ad_4446_b4a9_c904a0bcce57</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74874a02_3dcb_400a_8d74_8b3b64111811</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8abbd95e_943f_48a8_a5d4_c5c6fcdf81e4</name>
        <choiceText>File Management and Collaboration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>File Management and Collaboration</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9769f5d7_8474_4569_be2f_632c0be833f9</name>
        <choiceText>Drag and Drop Status Change with Kanban View, Favorite your List Views That You Want to Jump Right Too</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drag and Drop Status Change with Kanban View, Favorite your List Views That You Want to Jump Right Too</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d33a5ff7_9bd2_47f0_af8e_3a2aa7725adb</name>
        <choiceText>Ability to Customize Home Page for your Team&apos;s Business Needs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Ability to Customize Home Page for your Team&apos;s Business Needs</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e8cbf1e7_ca89_46f0_b840_94710322c5e0</name>
        <choiceText>Modern Design for Ease of Use and Increased Productivity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Modern Design for Ease of Use and Increased Productivity</stringValue>
        </value>
    </choices>
    <interviewLabel>NI Finance</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>NI Finance</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_ni_finance_2a90bf8a_710e_49ce_9da2_15d05b557220</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_24dd6a5a_dac5_4551_9831_f763d2eb4065</name>
        <label>Objects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a23f33a6_3ba7_4b7c_92af_a5a64474e487</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_50325715_df41_4bc5_a85c_30354fe5bd04</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What objects do you use for your job role(s) in Lightning Experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Don&apos;t forget those little objects you may only use once a month or year.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8bcf1a44_2533_425d_9509_938278fc3d6b</name>
        <label>Looking forwards to</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ec06425c_ebff_44e3_bf98_107c6cd474f7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3def89f7_c705_45b6_8787_2ffd975da1cd</name>
            <choiceReferences>c_e8cbf1e7_ca89_46f0_b840_94710322c5e0</choiceReferences>
            <choiceReferences>c_d33a5ff7_9bd2_47f0_af8e_3a2aa7725adb</choiceReferences>
            <choiceReferences>c_9769f5d7_8474_4569_be2f_632c0be833f9</choiceReferences>
            <choiceReferences>c_8abbd95e_943f_48a8_a5d4_c5c6fcdf81e4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What about Lightning are you Looking forwards to?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8195bceb_af5c_4a7d_a5be_f7ff8fe89ea6</name>
            <choiceReferences>c_74874a02_3dcb_400a_8d74_8b3b64111811</choiceReferences>
            <choiceReferences>c_04a4bc83_32ad_4446_b4a9_c904a0bcce57</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you like to learn more about what you selected?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_e8cbf1e7_ca89_46f0_b840_94710322c5e0</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_d33a5ff7_9bd2_47f0_af8e_3a2aa7725adb</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_9769f5d7_8474_4569_be2f_632c0be833f9</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_8abbd95e_943f_48a8_a5d4_c5c6fcdf81e4</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_627bb491_a52d_4743_9d79_d6bdccb7b2a8</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;This link will tell you more about Lightning and the new locations of classic tools:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://trailhead.salesforce.com/en/content/learn/modules/lightning-experience-for-salesforce-classic-users/get-your-bearings&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://trailhead.salesforce.com/en/content/learn/modules/lightning-experience-for-salesforce-classic-users/get-your-bearings&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_e8cbf1e7_ca89_46f0_b840_94710322c5e0</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8195bceb_af5c_4a7d_a5be_f7ff8fe89ea6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_74874a02_3dcb_400a_8d74_8b3b64111811</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6086859b_83cd_42f7_a26d_7449b2a5d3cb</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;This link goes over list views in the lightning experience and introduces the new Kanban view:&lt;/p&gt;&lt;p&gt;https://trailhead.salesforce.com/content/learn/modules/lightning-experience-for-salesforce-classic-users/work-with-list-views &lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8195bceb_af5c_4a7d_a5be_f7ff8fe89ea6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_74874a02_3dcb_400a_8d74_8b3b64111811</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_9769f5d7_8474_4569_be2f_632c0be833f9</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0cb3cb97_158a_467b_91b9_c9a2d1524dbd</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Here is an example home page with various custom links and a chatter panel:&lt;img src=&quot;https://amadeus-hospitality--trevor--c.documentforce.com/file-asset-public/home_page1?oid=00Df0000003dEHp&amp;amp;v=1&quot; alt=&quot;home page&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_d33a5ff7_9bd2_47f0_af8e_3a2aa7725adb</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8195bceb_af5c_4a7d_a5be_f7ff8fe89ea6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_74874a02_3dcb_400a_8d74_8b3b64111811</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7ccc176a_6f12_415e_822e_527cef072bfc</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;This link goes over a few tips and tricks that lightning brings, including file management and collaboration, chatter and custom themes, and branding.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://trailhead.salesforce.com/content/learn/modules/lex_migration_whatsnew/lex_migration_whatsnew_more?trail_id=lex_admin_migration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://trailhead.salesforce.com/content/learn/modules/lex_migration_whatsnew/lex_migration_whatsnew_more?trail_id=lex_admin_migration&lt;/a&gt;&lt;/p&gt;&lt;h3&gt;&lt;br&gt;&lt;/h3&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>You can leave this question blank, it is purely a resource for you.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3def89f7_c705_45b6_8787_2ffd975da1cd</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_8abbd95e_943f_48a8_a5d4_c5c6fcdf81e4</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8195bceb_af5c_4a7d_a5be_f7ff8fe89ea6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_74874a02_3dcb_400a_8d74_8b3b64111811</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a23f33a6_3ba7_4b7c_92af_a5a64474e487</name>
        <label>Classic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8bcf1a44_2533_425d_9509_938278fc3d6b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d3c28d0d_0f00_4ecf_83ec_07ab21042b7f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What about Classic gives you that warm Classic feel?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ec06425c_ebff_44e3_bf98_107c6cd474f7</name>
        <label>Adiitional Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_22a71703_88d4_4b9d_9548_8d9801f1c8eb</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please let us know if there is anything you want to be taken into consideration&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_24dd6a5a_dac5_4551_9831_f763d2eb4065</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thank you for participating in this survey. We look forward to your feedback helping us build a great Lightning experience for you!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://amadeus-hospitality--trevor--c.documentforce.com/file-asset-public/image1?oid=00Df0000003dEHp&amp;amp;v=1&quot; alt=&quot;image&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>A brief survey for us to help make your team&apos;s migration to Lightning personalized.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Lightning Rollout Survey&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://amadeus-hospitality--trevor--c.documentforce.com/file-asset-public/lightning3?oid=00Df0000003dEHp&amp;amp;v=1&quot; alt=&quot;lightning&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
