force-app/main/default/flows/NI_Project_Backlog_Task_Assignment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChatterNotification</name>
        <label>ChatterNotification</label>
        <locationX>828</locationX>
        <locationY>251</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>templateChatterNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NewTaskEmailNotification</name>
        <label>NewTaskEmailNotification</label>
        <locationX>596</locationX>
        <locationY>246</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ChatterNotification</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Assigned_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New NI Project Backlog Task Assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>NICC-#059390; Sends an email and Chatter notification to the &quot;Assigned To&quot; user on an NI Project Backlog Task record. Task notifications do NOT include notifications for new &quot;Realized Benefits Audit #&quot; Task records created, as those Task have separate notifications via another Flow.</description>
    <formulas>
        <name>formulaTaskRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>NI Project Backlog Task Assignment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NI Project Backlog Task Assignment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>85</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>NewTaskEmailNotification</targetReference>
        </connector>
        <object>NI_Project_Backlog_Tasks__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateChatterNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!$Record.Assigned_To__r.Id}] You have been assigned to this NI Project Backlog Task.</text>
    </textTemplates>
    <textTemplates>
        <description>Template for the email notification that a user has been assigned a new Task</description>
        <name>templateEmailNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Assigned_To__r.FirstName},&lt;/p&gt;&lt;p&gt;You have been assigned a new NI Project Backlog Task. The task can be viewed &lt;a href=&quot;{!formulaTaskRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Process Improvement Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
