force-app/main/default/flows/Notify_PM_that_Target_HRM_Org_field_updated_on_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_sent_to_PM_on_Project</name>
        <label>Email sent to PM on Project</label>
        <locationX>944</locationX>
        <locationY>327</locationY>
        <actionName>pse__Proj__c.Email_Alert_Target_HRM_Org_updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Project_Loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_of_Projects</name>
        <label>Count of Projects</label>
        <locationX>526</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>varCountofProjects</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_projects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if the Project Mgr field is NULL on the Project. If it is, go back to the Loop. If it is not null, send email.</description>
        <name>Project_Mgr_not_NULL</name>
        <label>Project Mgr not NULL</label>
        <locationX>755</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Project_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_MgrNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Loop.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_sent_to_PM_on_Project</targetReference>
            </connector>
            <label>Project Mgr not NULL</label>
        </rules>
    </decisions>
    <description>NICC-063040 - When the Target HRM Org field is updated on an Opp, an email alert will trigger to send an email to the Project Manager on any related Projects.</description>
    <environments>Default</environments>
    <interviewLabel>Notify PM that Target HRM Org field updated on Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify PM that Target HRM Org field updated on Opp</label>
    <loops>
        <name>Project_Loop</name>
        <label>Project Loop</label>
        <locationX>593</locationX>
        <locationY>342</locationY>
        <collectionReference>Get_projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Mgr_not_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_projects</name>
        <label>Get projects</label>
        <locationX>428</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>503</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_HRM_Org__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountofProjects</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
