force-app/main/default/flows/Notify_PM_that_Target_HRM_Org_field_updated_on_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
<<<<<<< HEAD
        <name>Email_sent_to_PM_on_Project</name>
        <label>Email sent to PM on Project</label>
        <locationX>944</locationX>
        <locationY>327</locationY>
        <actionName>pse__Proj__c.Email_Alert_Target_HRM_Org_updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Project_Loop</targetReference>
=======
        <description>Email Alert name: Target HRM Org updated</description>
        <name>Email_sent_to_PM_on_Project</name>
        <label>Email sent to PM on Project</label>
        <locationX>977</locationX>
        <locationY>341</locationY>
        <actionName>pse__Proj__c.Email_Alert_Target_HRM_Org_updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CountOfEmailsSent</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Project_Loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_of_Projects</name>
        <label>Count of Projects</label>
<<<<<<< HEAD
        <locationX>526</locationX>
        <locationY>533</locationY>
=======
        <locationX>544</locationX>
        <locationY>604</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <assignmentItems>
            <assignToReference>varCountofProjects</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_projects</elementReference>
            </value>
        </assignmentItems>
<<<<<<< HEAD
=======
        <assignmentItems>
            <assignToReference>varFinalCountOfEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberOfEmailsSent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Counts the number of emails sent in the loop</description>
        <name>CountOfEmailsSent</name>
        <label>CountOfEmailsSent</label>
        <locationX>728</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfEmailsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
    </assignments>
    <decisions>
        <description>Check if the Project Mgr field is NULL on the Project. If it is, go back to the Loop. If it is not null, send email.</description>
        <name>Project_Mgr_not_NULL</name>
        <label>Project Mgr not NULL</label>
<<<<<<< HEAD
        <locationX>755</locationX>
        <locationY>416</locationY>
=======
        <locationX>726</locationX>
        <locationY>511</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <defaultConnector>
            <targetReference>Project_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
<<<<<<< HEAD
            <name>Project_MgrNotNULL</name>
=======
            <name>Project_MgrnotNULL</name>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Loop.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_sent_to_PM_on_Project</targetReference>
            </connector>
            <label>Project Mgr not NULL</label>
        </rules>
    </decisions>
    <description>NICC-063040 - When the Target HRM Org field is updated on an Opp, an email alert will trigger to send an email to the Project Manager on any related Projects.</description>
    <environments>Default</environments>
<<<<<<< HEAD
=======
    <formulas>
        <name>formulaEmailFromName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp;&quot; &quot;&amp; {!$User.LastName}</expression>
    </formulas>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
    <interviewLabel>Notify PM that Target HRM Org field updated on Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify PM that Target HRM Org field updated on Opp</label>
    <loops>
        <name>Project_Loop</name>
        <label>Project Loop</label>
<<<<<<< HEAD
        <locationX>593</locationX>
        <locationY>342</locationY>
=======
        <locationX>460</locationX>
        <locationY>373</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <collectionReference>Get_projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Mgr_not_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
<<<<<<< HEAD
            <targetReference>Count_of_Projects</targetReference>
=======
            <targetReference>Email_Message</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
<<<<<<< HEAD
    <recordLookups>
        <name>Get_projects</name>
        <label>Get projects</label>
        <locationX>428</locationX>
        <locationY>342</locationY>
=======
    <recordCreates>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>367</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Count_of_Projects</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>formulaEmailFromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>templateBodyofEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target HRM Org has been updated.</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_projects</name>
        <label>Get projects</label>
        <locationX>230</locationX>
        <locationY>378</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>503</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_HRM_Org__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
<<<<<<< HEAD
=======
    <textTemplates>
        <name>templateBodyofEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is to notify you that the &quot;Target HRM Org&quot; field has been changed on the related Projects for this Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please take appropriate action to ensure your project is successful. Thank you!&lt;/p&gt;</text>
    </textTemplates>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
    <variables>
        <name>varCountofProjects</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
<<<<<<< HEAD
=======
    <variables>
        <name>varEmailMessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varEmailMessageRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varFinalCountOfEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the number of email sent in the loop</description>
        <name>varNumberOfEmailsSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
</Flow>
