force-app/main/default/flows/ProjectMilestoneRecalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Flow triggered by a button on the project object when the project isn&apos;t calculating completion correctly.</description>
    <interviewLabel>ProjectMilestoneRecalc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProjectMilestoneRecalc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecalcMilestoneTotal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>RecalcBacklogTotal</name>
        <label>RecalcBacklogTotal</label>
        <locationX>56</locationX>
        <locationY>365</locationY>
        <flowName>MilestoneBacklogProjectTotal</flowName>
        <inputAssignments>
            <name>varProjectId</name>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RecalcMilestoneTotal</name>
        <label>RecalcMilestoneTotal</label>
        <locationX>65</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>RecalcBacklogTotal</targetReference>
        </connector>
        <flowName>MilestoneTotal</flowName>
        <inputAssignments>
            <name>varProjectId</name>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
