force-app/main/default/flows/Project_PSAPMAssignmentAutocreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Counts the number of Assignments found in the &quot;GetAssignments&quot; element</description>
        <name>CountAssignments</name>
        <label>CountAssignments</label>
        <locationX>587</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>varCountOfAssignment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeNeeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the Start and End Dates on the Assignment Schedule record</description>
        <name>UpdateSchedule</name>
        <label>UpdateSchedule</label>
        <locationX>1102</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>varUpdateScheduleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAssignments.pse__Schedule__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateScheduleRecord.pse__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateScheduleRecord.pse__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateScheduleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides what kind of change is necessary: creating a new assignment or updating existing assignments</description>
        <name>ChangeNeeded</name>
        <label>ChangeNeeded</label>
<<<<<<< HEAD
        <locationX>709</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>No Changes Needed</defaultConnectorLabel>
        <rules>
            <name>NewProjectPMAssignment</name>
            <conditionLogic>and</conditionLogic>
=======
        <locationX>710</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>No Changes Needed</defaultConnectorLabel>
        <rules>
            <name>NewProjectPMAssignment</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.pse__Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.pse__End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSchedule</targetReference>
            </connector>
            <label>NewProjectPMAssignment</label>
        </rules>
        <rules>
<<<<<<< HEAD
            <name>ChangeToPMSameStart_EndDates</name>
=======
            <name>ChangeToPMSameStartEndDates</name>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.pse__Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.pse__End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSchedule</targetReference>
            </connector>
            <label>ChangeToPMSameStart/EndDates</label>
        </rules>
        <rules>
<<<<<<< HEAD
            <name>ChangeToStartOrEndDate</name>
            <conditionLogic>1 AND 4 and (2 or 3)</conditionLogic>
=======
            <name>ChangeToStartOrEndDateSamePM</name>
            <conditionLogic>1 and 2 and ((3 and 4) or (5 and 6))</conditionLogic>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
<<<<<<< HEAD
=======
                <leftValueReference>$Record__Prior.pse__Project_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <leftValueReference>$Record.pse__Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
<<<<<<< HEAD
=======
                <leftValueReference>$Record.pse__Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <leftValueReference>$Record.pse__End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>$Record__Prior.pse__Project_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Project_Manager__c</elementReference>
=======
                <leftValueReference>$Record.pse__End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAssignments</targetReference>
            </connector>
<<<<<<< HEAD
            <label>ChangeToStartOrEndDate</label>
        </rules>
    </decisions>
    <description>NICC-062687; Replacing the process Builder and Flow that used to auto-create PM TT assignments.</description>
    <environments>Default</environments>
=======
            <label>ChangeToStartOrEndDateSamePM</label>
        </rules>
    </decisions>
    <description>NICC-######; Replacing the process Builder and Flow that used to auto-create PM TT assignments.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to populate the End Date on the &quot;End Date&quot; field on the Schedule record when creating a new Assignment</description>
        <name>formulaScheduleEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.pse__End_Date__c})), 
{!$Record.pse__End_Date__c}, 
DATE(1900,01,01)
)</expression>
    </formulas>
    <formulas>
        <description>Formula to populate the Start Date on the &quot;Start Date&quot; field on the Schedule record when creating a new Assignment</description>
        <name>formulaStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.pse__Start_Date__c})), 
{!$Record.pse__Start_Date__c}, 
DATE(1900,01,01)
)</expression>
    </formulas>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
    <interviewLabel>Project - PSA PM Assignment Autocreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - PSA PM Assignment Autocreation</label>
    <loops>
        <description>Loops through all applicable assignments to make an update to the Start Date and End Date</description>
        <name>LoopAssignments</name>
        <label>LoopAssignments</label>
        <locationX>852</locationX>
        <locationY>357</locationY>
        <collectionReference>GetAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateSchedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateSchedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an assignment for the PM</description>
        <name>CreatePMAssignment</name>
        <label>CreatePMAssignment</label>
        <locationX>1058</locationX>
        <locationY>55</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PMT – PM TT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone__c</field>
            <value>
                <elementReference>GetMilestone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>$Record.pse__Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Role__c</field>
            <value>
                <stringValue>Implementation Expert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>CreateSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Schedule record that will be used to create a new Assignment for the PM</description>
        <name>CreateSchedule</name>
        <label>CreateSchedule</label>
        <locationX>888</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>CreatePMAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>$Record.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>$Record.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Pull a list of current PM Time Tracking Assignments</description>
        <name>GetAssignments</name>
        <label>GetAssignments</label>
        <locationX>437</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMilestone.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT – PM TT</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project_Manager__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the PM TT Milestone</description>
        <name>GetMilestone</name>
        <label>GetMilestone</label>
        <locationX>230</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Project Manager Time</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Start/End Dates of the Schedule records in the collection</description>
        <name>UpdateSchedules</name>
        <label>UpdateSchedules</label>
        <locationX>1293</locationX>
        <locationY>247</locationY>
        <inputReference>varScheduleUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
<<<<<<< HEAD
        <locationY>24</locationY>
=======
        <locationY>23</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <connector>
            <targetReference>GetMilestone</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.pse__Project_Type__c}, &quot;Customer Project&quot;) &amp;&amp;
OR(ISCHANGED({!$Record.pse__Project_Manager__c}),ISCHANGED({!$Record.pse__Start_Date__c}),ISCHANGED({!$Record.pse__End_Date__c}))</filterFormula>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
<<<<<<< HEAD
    <status>Active</status>
=======
    <status>Obsolete</status>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
    <variables>
        <description>Holds a count of Assignments from the &quot;GetAssignments&quot; element</description>
        <name>varCountOfAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varScheduleUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Schedule__c</objectType>
    </variables>
    <variables>
        <description>Record variable to update the Start and End Dates of the Assignment</description>
        <name>varUpdateScheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Schedule__c</objectType>
    </variables>
</Flow>
