force-app/main/default/flows/Request_PS_Request_Creation_Owner_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email Account Owner of New PS Request</description>
        <name>EmailAccountOwner</name>
        <label>EmailAccountOwner</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Request__c.Delivery_Request_New_Owner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email Opportunity Owner of new PS Request</description>
        <name>EmailOpportunityOwner</name>
        <label>EmailOpportunityOwner</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Request__c.Delivery_Request_New_Owner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>If the Opportunity owner is active, Request should be assigned to this person
If the Opportunity owner is inactive, Request should be assigned to Account Owner</description>
        <name>NewRequestOwnerdesicion</name>
        <label>NewRequestOwnerdesicion</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityOwnerInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRequestAccountOwner</targetReference>
            </connector>
            <label>OpportunityOwnerInactive</label>
        </rules>
        <rules>
            <name>OpportunityOwnerActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigntoOpportunityOwner</targetReference>
            </connector>
            <label>OpportunityOwnerActive</label>
        </rules>
    </decisions>
    <description>When a PS Request type: Change Order or Customer Engagement is created, auto assign to Opportunity Owner, if active
If Opportunity owner is inactive, assign to Account Owner and send email alert of new PS Request</description>
    <interviewLabel>Request - PS Request Creation - Owner Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - PS Request Creation - Owner Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Auto assign request to Account Owner</description>
        <name>AssignRequestAccountOwner</name>
        <label>AssignRequestAccountOwner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>EmailAccountOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AssigntoOpportunityOwner</name>
        <label>AssigntoOpportunityOwner</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>EmailOpportunityOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Related_Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewRequestOwnerdesicion</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
