force-app/main/default/flows/Request_Assign_Queue_to_PS_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Change Owner to Professional Services Queue</description>
        <name>AssignRequesttoQueue</name>
        <label>AssignRequesttoQueue</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>When a PS Request for Project Office is created change owner to Professional Services Queue</description>
    <environments>Default</environments>
    <interviewLabel>Request - Assign Queue to PS Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - PS Request Change Owner to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQueue</name>
        <label>GetQueue</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRequesttoQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional_Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&quot;Professional_Service_Request&quot;&amp;&amp;
ISPICKVAL({!$Record.PS_Request_Type__c}, &quot;Project Office Requests&quot;)</filterFormula>
        <object>Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ProfessionalServices</stringValue>
        </value>
    </variables>
</Flow>
