force-app/main/default/flows/Request_Delivery_Request_to_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>CountAllRequirements</name>
        <label>CountAllRequirements</label>
        <locationX>539</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>AllProjectManagementRequirements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetRequirementRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RelatedPracticeDesicion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RelatedPracticeDesicion</name>
        <label>RelatedPracticeDesicion</label>
        <locationX>682</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedPracticeProjectManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Project Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestStatus</targetReference>
            </connector>
            <label>RelatedPracticeProjectManagement</label>
        </rules>
        <rules>
            <name>Equals2Pending</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>AllProjectManagementRequirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Project Management</stringValue>
                </rightValue>
            </conditions>
            <label>Equals2Pending</label>
        </rules>
    </decisions>
    <description>When a PM Requirement status is set to complete, Not Needed or Canceled change the Delivery Request Status to close</description>
    <environments>Default</environments>
    <interviewLabel>Request - Delivery Request to Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Delivery Request to Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRequirementRecords</name>
        <label>GetRequirementRecords</label>
        <locationX>376</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAllRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestStatus</name>
        <label>UpdateRequestStatus</label>
        <locationX>692</locationX>
        <locationY>374</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordUpdates>
    <start>
        <locationX>1</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>GetRequirementRecords</targetReference>
        </connector>
        <filterFormula>{!$Record.Related_Practice__r.Name}=&quot;Project Management&quot;&amp;&amp;
ISCHANGED({!$Record.Status__c})&amp;&amp;
NOT(ISPICKVAL({!$Record.Status__c}, &quot;Pending&quot;))</filterFormula>
        <object>Requirement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllProjectManagementRequirements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>colFilteredRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
    <variables>
        <name>colProjectManagement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
    <variables>
        <name>varCountRequirement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProjectManagementRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
</Flow>
