force-app/main/default/flows/Request_CreativeTeamIntakeForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SendLargeRequestNotification</name>
        <label>SendLargeRequestNotification</label>
        <locationX>779</locationX>
        <locationY>37</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FileUploadScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateLargeRequestEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kimberly.contreraz@amadeus.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Large Request Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assigns the length of the uploaded file to a variable for decision making</description>
        <name>AssignFileUploadLength</name>
        <label>AssignFileUploadLength</label>
        <locationX>1104</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>varFileUploadLength</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFileIDLength</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreativeBriefUploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the new Request number to a variable for display on the last screen</description>
        <name>AssignRequestNumber</name>
        <label>AssignRequestNumber</label>
        <locationX>1000</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varNewRequestNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewRequest.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendLargeRequestEmail</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpdate</name>
        <choiceText>Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decides if the Request needs to have a Creative Brief attached. If not, the Request bypasses the file upload screen and goes to the last screen. If yes, the Request will be taken to the file upload screen.</description>
        <name>CreativeBriefNeededDecision</name>
        <label>CreativeBriefNeededDecision</label>
        <locationX>1296</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>FileUploadScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GMSRequestTypeInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Troubleshooting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GMSRequestTypeInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestSuccessScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if the Creative Brief was attached to the Request record. If it, the user will be re-directed back to the file upload screen</description>
        <name>CreativeBriefUploaded</name>
        <label>CreativeBriefUploaded</label>
        <locationX>1266</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>CreativeBriefMissingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOrNotNeedd</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formulaFileIDLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HaveCreativeBriefScreenInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestSuccessScreen</targetReference>
            </connector>
            <label>YesOrNotNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which product the Requestor chose to determine which screen to go to next</description>
        <name>ProductDecision</name>
        <label>ProductDecision</label>
        <locationX>151</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebInputScreen</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>GMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMSInputScreen</targetReference>
            </connector>
            <label>GMS</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Audience (TA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MediaInputScreen</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>RES_iH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES/iH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_iH_InputScreen</targetReference>
            </connector>
            <label>RES/iH</label>
        </rules>
        <rules>
            <name>Internal_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRequestRecord</targetReference>
            </connector>
            <label>Internal Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if a Creative team member needs to be notified of a large request</description>
        <name>SendLargeRequestEmail</name>
        <label>SendLargeRequestEmail</label>
        <locationX>870</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>CreativeBriefNeededDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberInput</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendLargeRequestNotification</targetReference>
            </connector>
            <label>SendEmail</label>
        </rules>
    </decisions>
    <description>NICC-057703; Screen flow for the Global Creative team to create new Request records</description>
    <dynamicChoiceSets>
        <description>Populated from the field called “Video Banner Add-Ons” on the custom object called “Request”</description>
        <name>BannerAddOnsPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Banner_Add_Ons__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called &quot;Digital Request Type&quot; on the custom metadata type &quot;Request Object Pickslist Setup&quot;</description>
        <name>DigitialRequestTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_DigitalRequest__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the picklist field called &quot;GDS Request Type&quot; on the custom metadata type &quot;Request Object Picklist Setup&quot;</description>
        <name>GDSPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_GDSRequest__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the picklist field called &quot;GMS Request Type&quot; on the custom metadata type &quot;Request Object Picklist Setup&quot;</description>
        <name>GMSRequestTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_GMSRequestType__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populates from the field called &quot;Product&quot; on the custom metadata type &quot;Request Object Picklist Setup&quot;</description>
        <name>ProductPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_Product__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called &quot;Property Type&quot; on the custom object called &quot;Request&quot;</description>
        <name>PropertyTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Type__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called “Region” on the custom object called “Request”</description>
        <name>RegionPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region_picklist__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called “RES/iH Request Type” on the custom object called “Request”</description>
        <name>RESiHSubRequestTypePicklistChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RES_iH_Request_Type__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field &quot;Template&quot; on the Request object</description>
        <name>TemplateChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Template__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field &quot;Travel Audience/Advertising Request Type&quot; on the custom metadata type &quot;Request Object Picklist Setup&quot;</description>
        <name>TravelAudienceAdvertisingPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_TravelAudienceAdvertisingRequest__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Populated from the field called “Web Request Type” on the custom custom metadata type called “Request Object Picklist Setup”</description>
        <name>WebRequestTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AH_WebRequestType__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Determines the value for the Comments field</description>
        <name>formulaComments</name>
        <dataType>String</dataType>
        <expression>IF(
{!ProductInput} = &quot;Media&quot;, {!CommentsMediaScreenInput},
IF(
 OR({!GMSRequestTypeInput} = &quot;Troubleshooting&quot;,{!GMSRequestTypeInput} = &quot;Other&quot;) , 
   {!GMSDescriptionInput} , 
  IF({!ProductInput} = &quot;Internal Request&quot;, {!Page1CommentsInput}, 
 IF( NOT( ISBLANK({!CommentsGMSScreenInput})) , {!CommentsGMSScreenInput}, 
 IF(NOT( ISBLANK({!WebScreenDescriptionOfRequestScreenInput})), {!WebScreenDescriptionOfRequestScreenInput}, 
&quot;&quot;
) 
) 
) 
) 
)</expression>
    </formulas>
    <formulas>
        <description>Stores the length of the variable &quot;varUploadedFileID&quot;</description>
        <name>formulaFileIDLength</name>
        <dataType>Number</dataType>
        <expression>LEN( {!varUploadedFileID} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaMediaRequestType</name>
        <dataType>String</dataType>
        <expression>IF({!NewCampaignOrUpdateScreenInput} = {!choiceUpdate}, &quot;Update&quot;, 
IF({!ProductInput} = &quot;Digital&quot;, {!DigitalTypeScreenInput}, 
IF({!ProductInput} = &quot;GDS&quot;, {!GDSRequestScreenInput}, 
IF({!ProductInput} = &quot;Travel Audience (TA)&quot;, {!TravelAudienceTravelAdvertisingRequestScreenInput}, 
IF({!ProductInput} = &quot;Travel Advertising&quot;, {!TravelAudienceTravelAdvertisingRequestScreenInput},
&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <description>Determines the picklist value for the &quot;Priority&quot; field</description>
        <name>formulaPriority</name>
        <dataType>String</dataType>
        <expression> IF({!IsThisUrgentInput} = {!choiceYes},  &quot;Urgent&quot; , &quot;Normal&quot;)</expression>
    </formulas>
    <formulas>
        <description>Defines the high level Request type for the Creative Request</description>
        <name>formulaRequestType</name>
        <dataType>String</dataType>
        <expression>IF({!ProductInput} = &quot;Internal Request&quot;,&quot;Internal Request&quot;, 
IF({!ProductInput} = &quot;GMS&quot;, &quot;GMS Request&quot;, 
IF({!ProductInput} = &quot;Digital&quot;, &quot;Digital Request&quot;,
IF({!ProductInput} = &quot;GDS&quot;, &quot;GDS Request&quot;,
IF({!ProductInput} = &quot;Travel Audience (TA)&quot;, &quot;Travel Audience Request&quot;, 
IF({!ProductInput} = &quot;Travel Advertising&quot;, &quot;Travel Advertising Request&quot;, 
IF({!ProductInput} = &quot;RES/iH&quot;, &quot;RES/iH Request&quot;, 
IF({!ProductInput} = &quot;Web&quot;, &quot;Web Request&quot;, 
&quot;Breakout&quot;
))))))))</expression>
    </formulas>
    <formulas>
        <description>This formula determines which of the 2 &quot;Website URL&quot; fields to pass through to the new Request record. There are 2 screens on which appear a field called &quot;Website URL&quot; and this formula determines which one to use, if applicable.</description>
        <name>formulaWebsiteUrl</name>
        <dataType>String</dataType>
        <expression> IF(
NOT( ISBLANK({!WebsiteURLWebScreenInput}) ), 
{!WebsiteURLWebScreenInput}, 
 IF(NOT( ISBLANK({!WebsiteURLRESiHScreenInput}) ), {!WebsiteURLRESiHScreenInput}, &quot;&quot;) 
)</expression>
    </formulas>
    <interviewLabel>Request - Creative Team Intake Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Creative Team Intake Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a new Request record</description>
        <name>CreateRequestRecord</name>
        <label>CreateRequestRecord</label>
        <locationX>607</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>varNewRequestRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewRequest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRequestRecordFaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AH_GMSRequestType__c</field>
            <value>
                <elementReference>GMSRequestTypeInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AH_MediaRequestType__c</field>
            <value>
                <elementReference>formulaMediaRequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>PropertyLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdPiler_URL__c</field>
            <value>
                <elementReference>AdPilerURL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Banner_Add_Ons__c</field>
            <value>
                <elementReference>BannerAddOnsScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseScreenInput.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formulaComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Send_Date__c</field>
            <value>
                <elementReference>DesiredDueDateInpit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Languages__c</field>
            <value>
                <elementReference>LanguagesScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Items__c</field>
            <value>
                <elementReference>NumberInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Languages__c</field>
            <value>
                <elementReference>NumberOfLanguagesScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>formulaPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <stringValue>Creative Requests</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>ProductInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Or_Chain_ID__c</field>
            <value>
                <elementReference>PropertyChainIdScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>PropertyTypeScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_iH_Request_Type__c</field>
            <value>
                <elementReference>RESiHRequestSubTypeScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_picklist__c</field>
            <value>
                <elementReference>RegionInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Contact__c</field>
            <value>
                <elementReference>RequestorNameLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>formulaRequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template__c</field>
            <value>
                <elementReference>TemplateScreenInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>formulaWebsiteUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the newly created Request record details</description>
        <name>GetNewRequest</name>
        <label>GetNewRequest</label>
        <locationX>760</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRequestNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewRequestRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the details of the Queue called &quot;Q-Creative&quot;</description>
        <name>GetQueue</name>
        <label>GetQueue</label>
        <locationX>94</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Q_Creative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the details of the record type called &quot;Creative Requests&quot;</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>96</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreativeFormPage1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creative_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateRequestRecordFaultScreen</name>
        <label>CreateRequestRecordFaultScreen</label>
        <locationX>525</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateRequestFaultScreenText</name>
            <fieldText>&lt;p&gt;We are unable to create your Request at this time. Please review the error message below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(240, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreativeBriefMissingScreen</name>
        <label>CreativeBriefMissingScreen</label>
        <locationX>1485</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Add Creative Brief</backButtonLabel>
        <connector>
            <targetReference>FileUploadScreen</targetReference>
        </connector>
        <fields>
            <name>CreativeBriefMissingDisplayText</name>
            <fieldText>&lt;p&gt;This Request requires a Creative Brief to be attached. Please click the &quot;Add a Creative Brief&quot; button to be returned to the file upload screen and attach the required document.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Page 1 for all Global Creative teams.</description>
        <name>CreativeFormPage1</name>
        <label>CreativeFormPage1</label>
        <locationX>90</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ProductDecision</targetReference>
        </connector>
        <fields>
            <name>PageOneDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Creative Intake Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreativeFormPage1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreativeFormPage1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreativeFormPage1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestorNameLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Request_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requestor Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PropertyLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RegionInput</name>
                    <choiceReferences>RegionPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ProductInput</name>
                    <choiceReferences>ProductPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CaseScreenInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Case__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Case #</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Page1CommentsInput</name>
                    <fieldText>Description of Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Internal Request</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreativeFormPage1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FileUploadScreen</name>
        <label>FileUploadScreen</label>
        <locationX>931</locationX>
        <locationY>39</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignFileUploadLength</targetReference>
        </connector>
        <fields>
            <name>FileUploadScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileUploadScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUploadScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HaveCreativeBriefScreenInput</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have the Creative Brief and/or any creative assets to attach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FileUploadInput</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Creative Brief and/or Creative Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varNewRequestRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>collectionUploadedFileName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varUploadedFileID</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ZipMessage</name>
                    <fieldText>&lt;p&gt;Please zip all image assets together prior to uploading.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUploadScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GMSInputScreen</name>
        <label>GMSInputScreen</label>
        <locationX>268</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRequestRecord</targetReference>
        </connector>
        <fields>
            <name>GMSPageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;GMS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GMSInputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GMSInputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GMSInputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsThisUrgentInput</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choiceNo</defaultSelectedChoiceReference>
                    <fieldText>Is this Urgent? (Revenue Impacting ONLY)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GMSRequestTypeInput</name>
                    <choiceReferences>GMSRequestTypePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommonTermsDefined</name>
                    <fieldText>&lt;p&gt;Common Terms Defined:&lt;/p&gt;&lt;p&gt;Templates – contain placeholder images and lorem-ipsum type&amp;nbsp;&lt;/p&gt;&lt;p&gt;Emails – contain desired images and copy&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DesiredDueDateInpit</name>
                    <dataType>Date</dataType>
                    <fieldText>Desired Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NumberInput</name>
                    <dataType>Number</dataType>
                    <fieldText>Total number of emails, templates, etc. needed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Troubleshooting</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GMSDescriptionInput</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Enter a description here&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Troubleshooting</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CommentsGMSScreenInput</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Troubleshooting</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GMSRequestTypeInput</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GMSInputScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MediaInputScreen</name>
        <label>MediaInputScreen</label>
        <locationX>391</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRequestRecord</targetReference>
        </connector>
        <fields>
            <name>MediaDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Media&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MediaInputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MediaInputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MediaInputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCampaignOrUpdateScreenInput</name>
                    <choiceReferences>choiceNew</choiceReferences>
                    <choiceReferences>choiceUpdate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New Campaign or Update?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UpdateDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;Update (Image swaps or text edits ONLY)﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PropertyTypeScreenInput</name>
                    <choiceReferences>PropertyTypePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Property Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AdPilerURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>AdPiler URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>http://</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCampaignOrUpdateScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceUpdate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AdPilerURLDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(102, 102, 102);&quot;&gt;﻿If no design is specified, the Creative team will use the last campaign on file&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCampaignOrUpdateScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceUpdate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DigitalTypeScreenInput</name>
                    <choiceReferences>DigitialRequestTypePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Digital Request</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>NewCampaignOrUpdateScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceNew</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TemplateScreenInput</name>
                    <choiceReferences>TemplateChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Template</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DigitalTypeScreenInput</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Template (Tiers 2, 3 &amp; 4)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TemplateURLDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://origin.amadeus.com/assets-service/distributions/media_creative/Websites/creative_display_offering/#/ &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Americas Templates&lt;/u&gt;&lt;/a&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://origin.amadeus.com/assets-service/distributions/media_creative/Websites/creative_display_offering_EMEA-APAC/index.html &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;International Templates&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DigitalTypeScreenInput</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Template (Tiers 2, 3 &amp; 4)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GDSRequestScreenInput</name>
                    <choiceReferences>GDSPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>GDS Request</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>GDS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>NewCampaignOrUpdateScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceNew</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TravelAudienceTravelAdvertisingRequestScreenInput</name>
                    <choiceReferences>TravelAudienceAdvertisingPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Travel Audience or Travel Advertising Request</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>3 and (1 or 2)</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Travel Audience (TA)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProductInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Travel Advertising</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>NewCampaignOrUpdateScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceNew</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BannerYesNoScreenInput</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Any Banner Add-Ons?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TravelAudienceTravelAdvertisingRequestScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Standard Banner</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BannerAddOnsScreenInput</name>
                    <choiceReferences>BannerAddOnsPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What Add-On?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BannerYesNoScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CommentsMediaScreenInput</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MediaInputScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestSuccessScreen</name>
        <label>RequestSuccessScreen</label>
        <locationX>1476</locationX>
        <locationY>24</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestSuccessScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestSuccessScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestSuccessScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestSuccessDisplayText</name>
                    <fieldText>&lt;p&gt;Your Request has been created. Click the link below to go to your Request, create a new Request or upload creative assets to Sharepoint.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Request # {!varNewRequestNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amadeus-hospitality.my.salesforce.com/{!varNewRequestRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(42, 104, 228);&quot;&gt;&lt;u&gt;Go To Request&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amadeus-hospitality.my.salesforce.com/flow/Request_CreativeTeamIntakeForm?retURL=a05/o&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(42, 104, 228);&quot;&gt;&lt;u&gt;Create New Request&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestSuccessScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RES_iH_InputScreen</name>
        <label>RES/iHInputScreen</label>
        <locationX>431</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRequestRecord</targetReference>
        </connector>
        <fields>
            <name>RESiHPageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;RES/iH&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RES_iH_InputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RES_iH_InputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RES_iH_InputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RESiHRequestTypeScreenInput</name>
                    <choiceReferences>choiceNew</choiceReferences>
                    <choiceReferences>choiceUpdate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New or Update?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RESiHRequestSubTypeScreenInput</name>
                    <choiceReferences>RESiHSubRequestTypePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>RES/iH Request Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NumberOfLanguagesScreenInput</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Languages</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RESiHRequestSubTypeScreenInput</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Booking Engine Look and Feel (BE L&amp;F)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RESiHRequestSubTypeScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Basic Email Wrapper</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LanguagesScreenInput</name>
                    <fieldText>Languages</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RESiHRequestSubTypeScreenInput</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Booking Engine Look and Feel (BE L&amp;F)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RESiHRequestSubTypeScreenInput</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Basic Email Wrapper</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PropertyChainIdScreenInput</name>
                    <dataType>String</dataType>
                    <fieldText>Property or Chain ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WebsiteURLRESiHScreenInput</name>
                    <dataType>String</dataType>
                    <fieldText>Website/BETA URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RES_iH_InputScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WebInputScreen</name>
        <label>WebInputScreen</label>
        <locationX>436</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRequestRecord</targetReference>
        </connector>
        <fields>
            <name>WebPageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Web&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WebInputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WebInputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WebInputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WebRequestTypeScreenInput</name>
                    <choiceReferences>WebRequestTypePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CaseScreenInputDNU</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Case__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>WebRequestTypeScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Quote</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>WebRequestTypeScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Work to be done</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>WebRequestTypeScreenInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WebsiteURLWebScreenInput</name>
                    <dataType>String</dataType>
                    <fieldText>Website URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>WebScreenDescriptionOfRequestScreenInput</name>
                    <fieldText>Description of Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WebInputScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>62</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email template to send large request notification</description>
        <name>templateLargeRequestEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Melissa,&lt;/p&gt;&lt;p&gt;A large request has been received.&lt;/p&gt;&lt;p&gt;Request Number: {!varNewRequestNumber}&lt;/p&gt;&lt;p&gt;Link to Request record: {!GetNewRequest.Request_URL__c}&lt;/p&gt;&lt;p&gt;Account: {!PropertyLookup.recordName}&lt;/p&gt;&lt;p&gt;Request Type: {!GMSRequestTypeInput}&lt;/p&gt;&lt;p&gt;Number of Items: {!NumberInput}&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collectionUploadedFileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the length of the uploaded file</description>
        <name>varFileUploadLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNewCreativeRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>varNewlyCreatedRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>varNewMediaRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>varNewRequestCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>varNewRequestNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewRequestRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUploadedFileID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
