force-app/main/default/flows/Request_Requirement_Chatter_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>1015</locationX>
        <locationY>519</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>LoopNewRequirementRecords</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>LoopNewRequirementRecords.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>All our Resources that have matched are added to a Collection that we will use later to create the records</description>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>756</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>colFilterListResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LooptoFilterResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LooptoFilterResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserToChatterNotification</name>
        <label>AddUserToChatterNotification</label>
        <locationX>1339</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>varChatterRecipientIdsTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFilteredResources.Resource__r.pse__Salesforce_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFilteredResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Requirement - Project Management</description>
        <name>AssignRequirement</name>
        <label>AssignRequirement</label>
        <locationX>595</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>varRequirementResource.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Related_Practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProjectManagementRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRequirementResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRequirementResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewRequirementRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign a Requirement for all the practices that matches the subtype</description>
        <name>AssignRequirementforPractices</name>
        <label>AssignRequirementforPractices</label>
        <locationX>392</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>varRequirementResource.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Related_Practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LooparoundPractices.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementResource.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRequirementResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRequirementResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LooparoundPractices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of recipients in the collection to send a Chatter notification to</description>
        <name>CountOfChatterRecipients</name>
        <label>CountOfChatterRecipients</label>
        <locationX>1151</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>varCountOfChatterRecipients</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varChatterRecipientIdsTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountOfNewRequirementRecords</name>
        <label>CountOfNewRequirementRecords</label>
        <locationX>876</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>varCountOfNewRequirements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colRequirementResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNewRequirementRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the number of Resources that we find to confirm at the end that we are creating the correct number</description>
        <name>CountResource</name>
        <label>CountResource</label>
        <locationX>134</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>varResourcescount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colFilterListResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllPractices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clears out all collection items to create empty collection for next loop</description>
        <name>RemoveCollectionItems</name>
        <label>RemoveCollectionItems</label>
        <locationX>1127</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>varChatterRecipientIdsTextCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varChatterRecipientIdsTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFilteredResources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If we find Resources that match the Practice Subtype - We will move it through the next step
We also move Resources that equals Project Management</description>
        <name>DecideResourcePracticeMatchSubtype</name>
        <label>DecideResourcePracticeMatchSubtype</label>
        <locationX>820</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>LooptoFilterResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResourcePracticeMatchSubtype</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LooptoFilterResources.Practice__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LooptoFilterResources.Practice__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddtoCollection</targetReference>
            </connector>
            <label>ResourcePracticeMatchSubtype</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the resource practice matches the New Requirement Record practice we move forward to creation</description>
        <name>IfResourcePracticeMatchRequirementRecord</name>
        <label>IfResourcePracticeMatchRequirementRecord</label>
        <locationX>1492</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>LoopFilteredResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchResourcePracticeConsulting_Traning</name>
            <conditionLogic>(1 and 3 and 5) or (2 and 4 and 5)</conditionLogic>
            <conditions>
                <leftValueReference>LoopNewRequirementRecords.Related_Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopNewRequirementRecords.Related_Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopFilteredResources.Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopFilteredResources.Practice__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopFilteredResources.Resource_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopNewRequirementRecords.Request__r.Region_picklist__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToChatterNotification</targetReference>
            </connector>
            <label>MatchResourcePracticeConsulting&amp;Traning</label>
        </rules>
        <rules>
            <name>ResourcePracticeMatchesNewRequirementPractice</name>
            <conditionLogic>1 AND (NOT(2)) and (NOT(3))</conditionLogic>
            <conditions>
                <leftValueReference>LoopFilteredResources.Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopNewRequirementRecords.Related_Practice__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopFilteredResources.Practice_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopFilteredResources.Practice_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToChatterNotification</targetReference>
            </connector>
            <label>ResourcePracticeMatchesNewRequirementPractice</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the record on the Loop matches a practice, continue the process
If not, stop</description>
        <name>SubtypeMatchesPractice</name>
        <label>SubtypeMatchesPractice</label>
        <locationX>683</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>LooparoundPractices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ifthereisamatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LooparoundPractices.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRequirementforPractices</targetReference>
            </connector>
            <label>Ifthereisamatch</label>
        </rules>
    </decisions>
    <description>Sends a Chatter notification to specified resources that Requirements are ready to be actioned</description>
    <formulas>
        <name>formulaChatterMentionIds</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varChatterRecipientIdsTextCollection},&quot;]&quot;,&quot;]&quot;),&quot;[&quot;,&quot;@[&quot;),&quot;,&quot;,&quot;], @[&quot;)</expression>
    </formulas>
    <interviewLabel>Request - Requirement Chatter Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Requirement Chatter Notifications</label>
    <loops>
        <description>Loop goes around the active practices, to match the ones that contain the PS Request Subtype</description>
        <name>LooparoundPractices</name>
        <label>LooparoundPractices</label>
        <locationX>394</locationX>
        <locationY>445</locationY>
        <collectionReference>GetAllPractices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SubtypeMatchesPractice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignRequirement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Now it is time to Loop around again through the collection of filtered resources that we found at the beginning and match them to the requirements that we just created</description>
        <name>LoopFilteredResources</name>
        <label>LoopFilteredResources</label>
        <locationX>1285</locationX>
        <locationY>97</locationY>
        <collectionReference>colFilterListResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IfResourcePracticeMatchRequirementRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountOfChatterRecipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We loop into the requirements to see the practices and find out the resources needed for each practice</description>
        <name>LoopNewRequirementRecords</name>
        <label>LoopNewRequirementRecords</label>
        <locationX>992</locationX>
        <locationY>192</locationY>
        <collectionReference>colRequirementResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemoveCollectionItems</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Filter Resources</description>
        <name>LooptoFilterResources</name>
        <label>LoopToFilterResources</label>
        <locationX>586</locationX>
        <locationY>125</locationY>
        <collectionReference>GetResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecideResourcePracticeMatchSubtype</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a New Requirement Record and for each related practice and always one for Project Management</description>
        <name>CreateNewRequirementRecord</name>
        <label>CreateNewRequirementRecord</label>
        <locationX>763</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>CountOfNewRequirementRecords</targetReference>
        </connector>
        <inputReference>colRequirementResources</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Records for All Active Practices</description>
        <name>GetAllPractices</name>
        <label>GetAllPractices</label>
        <locationX>135</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProjectManagementRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Only Get Record for Project Management Practice</description>
        <name>GetProjectManagementRecords</name>
        <label>GetProjectManagementRecords</label>
        <locationX>277</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LooparoundPractices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Resources Records from the Requirement Resource Notification custom object to identify the practices</description>
        <name>GetResources</name>
        <label>GetResources</label>
        <locationX>444</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LooptoFilterResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requirement_Resource_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetResources</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!formulaChatterMentionIds} A new Requirement has been created</text>
    </textTemplates>
    <variables>
        <name>colFilterListResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Resource_Notification__c</objectType>
    </variables>
    <variables>
        <name>colRequirementResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
    <variables>
        <name>colResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Resource_Notification__c</objectType>
    </variables>
    <variables>
        <name>RelatedPractice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourcesandRequirements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varChatterRecipientIdsTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the number of recipients in the text collection to send Chatter notifications to</description>
        <name>varCountOfChatterRecipients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountOfNewRequirements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRequirementResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
    <variables>
        <name>varResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Resource_Notification__c</objectType>
    </variables>
    <variables>
        <name>varResourcescount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varResourceSubtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Resource_Notification__c</objectType>
    </variables>
    <variables>
        <name>varTempCollectionToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
