force-app/main/default/flows/Request_Creative_Team_Record_Handoff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <description>NICC-057703; updated via NICC-062907; Screen flow to enable Creative Team members to enter time spent on a Creative Request</description>
    <dynamicChoiceSets>
        <name>StatusForDesignTime</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_for_Design_Time__c</picklistField>
        <picklistObject>Request_Object_Picklist_Setup__mdt</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Request - Creative Team Record Handoff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Creative Team Record Handoff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Status Tracking record to record the time the user spent working on the Requst</description>
        <name>CreateStatusTrackingRecord</name>
        <label>CreateStatusTrackingRecord</label>
        <locationX>478</locationX>
        <locationY>219</locationY>
        <faultConnector>
            <targetReference>RecordUpdateErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Design_Time_Spent__c</field>
            <value>
                <elementReference>DesignTimeInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OM_Request__c</field>
            <value>
                <elementReference>GetRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Name__c</field>
            <value>
                <elementReference>GetRequest.Request_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Request record the user is updating</description>
        <name>GetRequest</name>
        <label>GetRequest</label>
        <locationX>132</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeEntryRequestRecordUpdateScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RecordUpdateErrorScreen</name>
        <label>RecordUpdateErrorScreen</label>
        <locationX>751</locationX>
        <locationY>129</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordUpdateErrorScreenDisplayText</name>
            <fieldText>&lt;p&gt;We are unable to complete the update at this time. Please address the issue listed below then try your change again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeEntryRequestRecordUpdateScreen</name>
        <label>Time Entry and Request Record Update</label>
        <locationX>333</locationX>
        <locationY>170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateStatusTrackingRecord</targetReference>
        </connector>
        <fields>
            <name>TimeEntryRequestRecordUpdateScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TimeEntryRequestRecordUpdateScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TimeEntryDisplayText</name>
                    <fieldText>&lt;p&gt;Enter Time&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DesignTimeInput</name>
                    <dataType>Number</dataType>
                    <fieldText>Time Spent in Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>TimeEntryStatusInput</name>
                    <choiceReferences>StatusForDesignTime</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TimeEntryRequestRecordUpdateScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>GetRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
