force-app/main/default/flows/Response_Medallia_Update_RecordTypeId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>support_service_adoption</name>
        <label>support and service and adoption</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>support_condition</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services - Installer Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services - Consulting Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services - Project Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education - eLearning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education - Webinar &amp; Recorded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Adoption</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.medallia_xm_Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services - Training Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_type_from_Survey_type</targetReference>
            </connector>
            <label>Survey Type condition</label>
        </rules>
    </decisions>
    <description>Used for Medallia Survey integration</description>
    <environments>Default</environments>
    <interviewLabel>Response (Medallia) - Update RecordTypeId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Response (Medallia) - Update RecordTypeId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DTS_Logs</name>
        <label>Create DTS Logs</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>DTS_Notes__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Name__c</field>
            <value>
                <stringValue>Response flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>DTS_Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_record_type_from_Survey_type</name>
        <label>get record type from Survey type</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.medallia_xm_Survey_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>medallia_xm__Medallia_Feedback__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_record_type</name>
        <label>update record type</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <faultConnector>
            <targetReference>Create_DTS_Logs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_from_Survey_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>support_service_adoption</targetReference>
        </connector>
        <object>medallia_xm__Medallia_Feedback__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
