force-app/main/default/flows/SolutionAdoptionEmailAlerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ASEMClosingReminder</name>
        <label>ASEM Closing Reminder</label>
        <locationX>569</locationX>
        <locationY>442</locationY>
        <actionName>Case.Solution_Adoption_ASEMClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>closingReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ASEMExtendingReminder</name>
        <label>ASEMExtendingReminder</label>
        <locationX>573</locationX>
        <locationY>676</locationY>
        <actionName>Case.SolutionAdoptionASEMExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ASEMFollowUp1</name>
        <label>ASEM Follow Up 1</label>
        <locationX>572</locationX>
        <locationY>163</locationY>
        <actionName>Case.Solution_Adoption_ASEMFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp1EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ASEMFollowUp2</name>
        <label>ASEM Follow Up 2</label>
        <locationX>562</locationX>
        <locationY>308</locationY>
        <actionName>Case.Solution_Adoption_ASEMFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp2EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ASEMSupportHandover</name>
        <label>ASEM Support Handover</label>
        <locationX>559</locationX>
        <locationY>599</locationY>
        <actionName>Case.Solution_Adoption_ASEMSupport_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>supportHandoverEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ASEMWelcome</name>
        <label>ASEM Welcome</label>
        <locationX>571</locationX>
        <locationY>37</locationY>
        <actionName>Case.Solution_Adoption_ASEMWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>welcomeEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSClosingReminder</name>
        <label>PMS Closing Reminder</label>
        <locationX>942</locationX>
        <locationY>443</locationY>
        <actionName>Case.Solution_Adoption_PMSClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>closingReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSExtendingReminder</name>
        <label>PMSExtendingReminder</label>
        <locationX>994</locationX>
        <locationY>791</locationY>
        <actionName>Case.SolutionAdoptioPMSExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSFollowUp1</name>
        <label>PMS Follow Up 1</label>
        <locationX>927</locationX>
        <locationY>157</locationY>
        <actionName>Case.Solution_Adoption_PMSFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp1EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSFollowUp2</name>
        <label>PMS Follow Up 2</label>
        <locationX>939</locationX>
        <locationY>317</locationY>
        <actionName>Case.Solution_Adoption_PMSFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp2EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSSupportHandover</name>
        <label>PMS Support Handover</label>
        <locationX>942</locationX>
        <locationY>597</locationY>
        <actionName>Case.Solution_Adoption_PMS_Support_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>supportHandoverEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMSWelcome</name>
        <label>PMS Welcome</label>
        <locationX>928</locationX>
        <locationY>22</locationY>
        <actionName>Case.Solution_Adoption_PMSWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>welcomeEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOClosingReminder</name>
        <label>SO Closing Reminder</label>
        <locationX>772</locationX>
        <locationY>436</locationY>
        <actionName>Case.Solution_Adoption_SOClosing_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>closingReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOExtendingReminder</name>
        <label>SOExtendingReminder</label>
        <locationX>1001</locationX>
        <locationY>699</locationY>
        <actionName>Case.SolutionAdoptionSOExtendingProgram</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReminderEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOFollowUp1</name>
        <label>SO Follow Up 1</label>
        <locationX>769</locationX>
        <locationY>162</locationY>
        <actionName>Case.Solution_Adoption_SOFollowUp1_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp1EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOFollowUp2</name>
        <label>SO Follow Up 2</label>
        <locationX>777</locationX>
        <locationY>297</locationY>
        <actionName>Case.Solution_Adoption_SOFollowUp2_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>followUp2EmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOSupportHandover</name>
        <label>SO Support Handover</label>
        <locationX>773</locationX>
        <locationY>584</locationY>
        <actionName>Case.Solution_Adoption_SOSupport_Handover_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>supportHandoverEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SOWelcome</name>
        <label>SO Welcome</label>
        <locationX>767</locationX>
        <locationY>34</locationY>
        <actionName>Case.Solution_Adoption_SOWelcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>welcomeEmailAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>closingReminderEmailAssignment</name>
        <label>Closing Reminder Email Assignent</label>
        <locationX>1332</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>caseSentClosingReminderEmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateClosingReminderEmailSentDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>followUp1EmailAssignment</name>
        <label>Follow Up 1 Email Assignment</label>
        <locationX>1313</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>caseSentFollowUp1EmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFollowUp1EmailSentDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>followUp2EmailAssignment</name>
        <label>Follow Up 2 Email Assignment</label>
        <locationX>1321</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>caseSentFollowUp2EmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFollowUp2EmailSentDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReminderEmailAssignment</name>
        <label>ReminderEmailAssignment</label>
        <locationX>1331</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>caseSentReminderEmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateReminderEmailSentDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>supportHandoverEmailAssignment</name>
        <label>Support Handover Email Assignment</label>
        <locationX>1318</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>caseSentSupportHandoverEmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSupportHandoverEmailSentDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>welcomeEmailAssignment</name>
        <label>Welcome Email Assignment</label>
        <locationX>1310</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>caseSentWelcomeEmailRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSentWelcomeDateField</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>nullSendEmailType</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>closingReminderEmailProductDecision</name>
        <label>Closing Reminder Email Product Decision</label>
        <locationX>350</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEM_Closing_Reminder_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMClosingReminder</targetReference>
            </connector>
            <label>ASEM Closing Reminder Email</label>
        </rules>
        <rules>
            <name>SOClosingReminderEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOClosingReminder</targetReference>
            </connector>
            <label>SO Closing Reminder Email</label>
        </rules>
        <rules>
            <name>PMSClosingReminderDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSClosingReminder</targetReference>
            </connector>
            <label>PMS Closing Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>emailTypeDecision</name>
        <label>Email Type Decision</label>
        <locationX>39</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>welcomeEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>welcomeProductLineDecision</targetReference>
            </connector>
            <label>Welcome Email Decision</label>
        </rules>
        <rules>
            <name>followUpEmail1Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>followUpEmail1ProductDecision</targetReference>
            </connector>
            <label>Follow Up Email 1 Decision</label>
        </rules>
        <rules>
            <name>followUpEmail2Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>followUpEmail2ProductDecision</targetReference>
            </connector>
            <label>Follow Up Email 2 Decision</label>
        </rules>
        <rules>
            <name>closingReminderEmailDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closingReminderEmailProductDecision</targetReference>
            </connector>
            <label>Closing Reminder Email Decision</label>
        </rules>
        <rules>
            <name>supportHandoverDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>supportHandoverProductDecision</targetReference>
            </connector>
            <label>Support Handover Decision</label>
        </rules>
        <rules>
            <name>Extending_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Solution_Adoption_Send_Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Adoption Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtendingReminderProductDecision</targetReference>
            </connector>
            <label>Extending Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExtendingReminderProductDecision</name>
        <label>ExtendingReminderProductDecision</label>
        <locationX>346</locationX>
        <locationY>766</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEM_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMExtendingReminder</targetReference>
            </connector>
            <label>ASEM Reminder</label>
        </rules>
        <rules>
            <name>SO_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOExtendingReminder</targetReference>
            </connector>
            <label>SO Reminder</label>
        </rules>
        <rules>
            <name>PMS_Reminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSExtendingReminder</targetReference>
            </connector>
            <label>PMS Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>followUpEmail1ProductDecision</name>
        <label>Follow Up Email 1 Product Decision</label>
        <locationX>359</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEM_Follow_Up_1_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMFollowUp1</targetReference>
            </connector>
            <label>ASEM Follow Up 1 Email</label>
        </rules>
        <rules>
            <name>SOFollowUp1EmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOFollowUp1</targetReference>
            </connector>
            <label>SO Follow up 1 Email</label>
        </rules>
        <rules>
            <name>PMSFollowUp1EmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSFollowUp1</targetReference>
            </connector>
            <label>PMS Follow Up 1 Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>followUpEmail2ProductDecision</name>
        <label>Follow Up Email 2 Product Decision</label>
        <locationX>352</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEM_Follow_Up_2_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMFollowUp2</targetReference>
            </connector>
            <label>ASEM Follow Up 2 Email</label>
        </rules>
        <rules>
            <name>SOFollowUp2EmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOFollowUp2</targetReference>
            </connector>
            <label>SO Follow Up 2 Email</label>
        </rules>
        <rules>
            <name>PMSFollowUp2EmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSFollowUp2</targetReference>
            </connector>
            <label>PMS Follow Up 2 Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>supportHandoverProductDecision</name>
        <label>Support Handover Production Decision</label>
        <locationX>349</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEM_Support_Handover_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMSupportHandover</targetReference>
            </connector>
            <label>ASEM Support Handover Email</label>
        </rules>
        <rules>
            <name>SOSupportHandoverEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOSupportHandover</targetReference>
            </connector>
            <label>SO Support Handover Email</label>
        </rules>
        <rules>
            <name>PMSSupportHandoverDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSSupportHandover</targetReference>
            </connector>
            <label>PMS Support Handover</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends Email Alerts for ASEM products</description>
        <name>welcomeProductLineDecision</name>
        <label>Welcome Product Line Decision</label>
        <locationX>363</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASEMWelcomeEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Essentials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASEM Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASEMWelcome</targetReference>
            </connector>
            <label>ASEM Welcome Email</label>
        </rules>
        <rules>
            <name>SOWelcomeEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HotSOS Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOWelcome</targetReference>
            </connector>
            <label>SO Welcome Email</label>
        </rules>
        <rules>
            <name>PMSWelcomeEmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Case_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMSWelcome</targetReference>
            </connector>
            <label>PMS Welcome Email</label>
        </rules>
    </decisions>
    <description>Flow to send out Solution Adoption Email Alerts</description>
    <environments>Default</environments>
    <interviewLabel>Case - Solution Adoption Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Solution Adoption Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCases</name>
        <label>Get Cases</label>
        <locationX>47</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>emailTypeDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateClosingReminderEmailSentDate</name>
        <label>Update Closing Reminder Email Sent Date</label>
        <locationX>1486</locationX>
        <locationY>459</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentClosingReminderEmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Closing_Reminder__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateFollowUp1EmailSentDate</name>
        <label>Update Follow Up 1 Email Sent Date</label>
        <locationX>1477</locationX>
        <locationY>172</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentFollowUp1EmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Follow_up_1__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateFollowUp2EmailSentDate</name>
        <label>Update Follow Up 2 Email Sent Date</label>
        <locationX>1485</locationX>
        <locationY>319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentFollowUp2EmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Follow_up_2__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReminderEmailSentDate</name>
        <label>UpdateReminderEmailSentDate</label>
        <locationX>1521</locationX>
        <locationY>746</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentReminderEmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Adoption_Reminder__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSentWelcomeDateField</name>
        <label>Update Sent Welcome Date Field</label>
        <locationX>1470</locationX>
        <locationY>24</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentWelcomeEmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Welcome__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupportHandoverEmailSentDate</name>
        <label>Update Support Handover Email Sent Date</label>
        <locationX>1499</locationX>
        <locationY>597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseSentSupportHandoverEmailRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Support_Handover__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Adoption_Send_Email_Type__c</field>
            <value>
                <elementReference>nullSendEmailType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>23</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>getCases</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentClosingReminderEmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentFollowUp1EmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentFollowUp2EmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentReminderEmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentSupportHandoverEmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseSentWelcomeEmailRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
