force-app/main/default/flows/SubscriptionTotalRecalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Flow used to recalculate the Subscription Complete % field on a project when a subscription activation record is deleted.</description>
    <interviewLabel>SubscriptionTotalRecalc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubscriptionTotalRecalc</label>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteSubscription</name>
        <label>DeleteSubscription</label>
        <locationX>153</locationX>
        <locationY>174</locationY>
        <connector>
            <targetReference>RecalSubscriptionBacklogProjectTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscriptionActivationId</elementReference>
            </value>
        </filters>
        <object>Subscription_Activation__c</object>
    </recordDeletes>
    <screens>
        <name>DeleteConfirmation</name>
        <label>DeleteConfirmation</label>
        <locationX>159</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteSubscription</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>Are you sure you want to delete the subscription record - please confirm</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>DeleteConfirmation</startElementReference>
    <status>Active</status>
    <subflows>
        <name>RecalSubscriptionBacklogProjectTotal</name>
        <label>RecalSubscriptionBacklogProjectTotal</label>
        <locationX>157</locationX>
        <locationY>285</locationY>
        <flowName>SubscriptionActivationBacklogProjectTotal</flowName>
        <inputAssignments>
            <name>varProjectId</name>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProjectId</assignToReference>
            <name>varProjectId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscriptionActivationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
