force-app/main/default/flows/SubscriptionActivationBacklogProjectTotal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignSubscriptionBacklogTotal</name>
        <label>AssignSubscriptionBacklogTotal</label>
        <locationX>273</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>varBacklogSubscriptionTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndSubscriptionActivation.Backlog_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractedSubscriptionTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndSubscriptionActivation.Contracted_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubscriptionActvations</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SubscriptionActivationBacklogProjectTotal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubscriptionActivationBacklogProjectTotal</label>
    <loops>
        <name>LoopSubscriptionActvations</name>
        <label>LoopSubscriptionActvations</label>
        <locationX>52</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>IndSubscriptionActivation</assignNextValueToReference>
        <collectionReference>CollSubscriptionBacklogTotals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSubscriptionBacklogTotal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupSubscriptionBacklogTotals</name>
        <label>LookupSubscriptionBacklogTotals</label>
        <locationX>53</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSubscriptionActvations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <object>Subscription_Activation__c</object>
        <outputReference>CollSubscriptionBacklogTotals</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Backlog_Quantity__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Contracted_Quantity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>50</locationX>
        <locationY>248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Backlog_Subscription_Total__c</field>
            <value>
                <elementReference>varBacklogSubscriptionTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_Subscription_Total__c</field>
            <value>
                <elementReference>varContractedSubscriptionTotal</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <startElementReference>LookupSubscriptionBacklogTotals</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollSubscriptionBacklogTotals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>IndSubscriptionActivation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>varBacklogSubscriptionTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractedSubscriptionTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
