force-app/main/default/flows/Support_Case_Flow_for_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Case_Record</name>
        <label>Open Case Record</label>
        <locationX>1063</locationX>
        <locationY>426</locationY>
        <actionName>c:AH_RedirectRecordPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>case_priority_high_choice</name>
        <choiceText>{!high_choice_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>high_choice_value</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_priority_low_choice</name>
        <choiceText>{!low_choice_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>low_choice_value</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_priority_medium_choice</name>
        <choiceText>{!medium_choice_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>medium_choice_value</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_priority_urgent_choice</name>
        <choiceText>{!urgent_choice_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>urgent_choice_value</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_severity_major_option</name>
        <choiceText>{!severity_major_option_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>severity_major_option_label</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_severity_minor_option</name>
        <choiceText>{!severity_minor_option_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>severity_minor_option_label</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_severity_procedural_option</name>
        <choiceText>{!severity_procedural_option_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>severity_procedural_option_label</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_severity_specify_option</name>
        <choiceText>{!severity_please_specify_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>severity_please_specify_label</elementReference>
        </value>
    </choices>
    <choices>
        <name>case_severity_system_down_option</name>
        <choiceText>{!severity_system_down_label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>severity_system_down_label</elementReference>
        </value>
    </choices>
    <choices>
        <name>testChoice</name>
        <choiceText>{!rcsCasePriority}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>pcsPriority</elementReference>
        </value>
    </choices>
    <constants>
        <name>high_choice_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2-High</stringValue>
        </value>
    </constants>
    <constants>
        <name>high_choice_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - High</stringValue>
        </value>
    </constants>
    <constants>
        <name>low_choice_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4-Low</stringValue>
        </value>
    </constants>
    <constants>
        <name>low_choice_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Low</stringValue>
        </value>
    </constants>
    <constants>
        <name>medium_choice_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Medium</stringValue>
        </value>
    </constants>
    <constants>
        <name>medium_choice_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Medium</stringValue>
        </value>
    </constants>
    <constants>
        <name>severity_major_option_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Major</stringValue>
        </value>
    </constants>
    <constants>
        <name>severity_minor_option_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Minor</stringValue>
        </value>
    </constants>
    <constants>
        <name>severity_please_specify_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please Specify</stringValue>
        </value>
    </constants>
    <constants>
        <name>severity_procedural_option_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Procedural</stringValue>
        </value>
    </constants>
    <constants>
        <name>severity_system_down_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - System Down</stringValue>
        </value>
    </constants>
    <constants>
        <name>urgent_choice_label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Urgent</stringValue>
        </value>
    </constants>
    <constants>
        <name>urgent_choice_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Urgent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Severity</name>
        <label>Case Severity</label>
        <locationX>854</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>CreateSupportCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sev1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Severity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - System Down</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSEV1_RCA</targetReference>
            </connector>
            <label>Sev1</label>
        </rules>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Severity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>case_severity_specify_option</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Severity_Is_Blank</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credit_Status_of_Account_From_Contact_Flow</name>
        <label>Check Credit Status of Account From Contact Flow</label>
        <locationX>436</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Status</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>selectedAccount.Credit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAccount.Credit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow Pay History/Warning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAccount.Credit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAccount.Credit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Corporate_Product_Group_for_DI.Corporate_Product_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TravelClick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_On_Hold</targetReference>
            </connector>
            <label>Credit Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_DI_Selection</name>
        <label>Missing DI Selection</label>
        <locationX>557</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_DI_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_DI_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDeploymentInstanceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_DI_Selected_Screen</targetReference>
            </connector>
            <label>No DI Selected</label>
        </rules>
        <rules>
            <name>DI_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>No_DI_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDeploymentInstanceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Corporate_Product_Group_for_DI</targetReference>
            </connector>
            <label>DI Selected</label>
        </rules>
    </decisions>
    <description>Create new support Case from Contact record page.</description>
    <dynamicChoiceSets>
        <name>accountsPresent</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccount.c2g__CollectionsOnHoldReason__c</assignToReference>
            <field>c2g__CollectionsOnHoldReason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccount.c2g__CollectionsOnHold__c</assignToReference>
            <field>c2g__CollectionsOnHold__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsCaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsCaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsAccountContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsAccountDeploymentInstances</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sunset</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vDeploymentInstanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDeploymentInstanceProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCaseOriginValues</name>
        <dataType>String</dataType>
        <displayField>Picklist_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Picklist_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Origin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>AH_Picklists_by_Object_and_Record_Type__mdt</object>
        <outputAssignments>
            <assignToReference>vCaseOrigin</assignToReference>
            <field>Picklist_Field_Value__c</field>
        </outputAssignments>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Picklist_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCasePriority</name>
        <dataType>String</dataType>
        <displayField>Picklist_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Picklist_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Priority</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sort_Order_Alphabetical__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AH_Picklists_by_Object_and_Record_Type__mdt</object>
        <outputAssignments>
            <assignToReference>vCasePriority</assignToReference>
            <field>Picklist_Field_Value__c</field>
        </outputAssignments>
        <sortField>Sort_Order_Alphabetical__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Picklist_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCaseSeverity</name>
        <dataType>String</dataType>
        <displayField>Picklist_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Picklist_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Severity__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>AH_Picklists_by_Object_and_Record_Type__mdt</object>
        <outputAssignments>
            <assignToReference>vCaseSeverity</assignToReference>
            <field>Picklist_Field_Value__c</field>
        </outputAssignments>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Picklist_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCaseType</name>
        <dataType>String</dataType>
        <displayField>Picklist_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Picklist_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>AH_Picklists_by_Object_and_Record_Type__mdt</object>
        <outputAssignments>
            <assignToReference>vTypeValue</assignToReference>
            <field>Picklist_Field_Value__c</field>
        </outputAssignments>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Picklist_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsDependentPickListCaseReason</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>AH_Dependent_Picklists_by_Object__mdt</object>
        <outputAssignments>
            <assignToReference>vCaseReason</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsDependentPickListSEV_1_RCA</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Severity__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>AH_Dependent_Picklists_by_Object__mdt</object>
        <outputAssignments>
            <assignToReference>vSEV_1_RCA</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fDI_Status</name>
        <dataType>String</dataType>
        <expression>IF({!vDI_Status} = &quot;Installed&quot;,&quot;Installed&quot;,
IF({!vDI_Status} = &quot;Purchased&quot;,&quot;Purchased&quot;,
&quot;DO NOT DISPLAY&quot;
)
)</expression>
    </formulas>
    <interviewLabel>Support Case Flow for Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Case Flow for Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>867</locationX>
        <locationY>430</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>vDeploymentInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <elementReference>vCaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Severity__c</field>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DI_to_be_tagged__c</field>
            <value>
                <elementReference>No_DI_Found</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEV_1_RCA__c</field>
            <value>
                <elementReference>vSEV_1_RCA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vTypeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Support_Hold_Create_Case_NMI</name>
        <label>Support Hold Create Case NMI</label>
        <locationX>876</locationX>
        <locationY>635</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Open_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>vDeploymentInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue>Customer Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Severity__c</field>
            <value>
                <stringValue>4-Procedural</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DI_to_be_tagged__c</field>
            <value>
                <elementReference>No_DI_Found</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>tCaseDescriptionSupportHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>3-Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEV_1_RCA__c</field>
            <value>
                <elementReference>vSEV_1_RCA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>tCaseSubjectSupportHold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vTypeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Corporate_Product_Group_for_DI</name>
        <label>Get Corporate Product Group for DI</label>
        <locationX>507</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Credit_Status_of_Account_From_Contact_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDeploymentInstanceProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Selected_Account</name>
        <label>Selected Account</label>
        <locationX>241</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deployment_Instance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>selectedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit_Status__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Case_Details</name>
        <label>Case Details</label>
        <locationX>742</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Priority</name>
        <label>Case Priority</label>
        <locationX>715</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Severity</targetReference>
        </connector>
        <fields>
            <name>CasePriority</name>
            <choiceReferences>case_priority_medium_choice</choiceReferences>
            <choiceReferences>case_priority_high_choice</choiceReferences>
            <choiceReferences>case_priority_urgent_choice</choiceReferences>
            <choiceReferences>case_priority_low_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>case_priority_medium_choice</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;This represents the priority the customer has placed on the case.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Severity</name>
            <choiceReferences>case_severity_system_down_option</choiceReferences>
            <choiceReferences>case_severity_major_option</choiceReferences>
            <choiceReferences>case_severity_minor_option</choiceReferences>
            <choiceReferences>case_severity_procedural_option</choiceReferences>
            <choiceReferences>case_severity_specify_option</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>case_severity_specify_option</defaultSelectedChoiceReference>
            <fieldText>Severity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SeverityDisplayText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 94, 184);&quot;&gt;Priority - This represents the priority the customer has placed on the case.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 94, 184);&quot;&gt;Severity - This represents Support’s assessment of the severity of the case.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactScreen</name>
        <label>ContactScreen</label>
        <locationX>153</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactSelectionText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Search For A Contact﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateSupportCase</name>
        <label>CreateSupportCase</label>
        <locationX>866</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>CreateCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 94, 184);&quot;&gt;Click Next to Create the Support Case and Generate a Case Number&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deployment_Instance</name>
        <label>Deployment Instance</label>
        <locationX>289</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Missing_DI_Selection</targetReference>
        </connector>
        <fields>
            <name>DI_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 14px;&quot;&gt;Select the DI/product for the case; the below represents only active products for this account. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 14px;&quot;&gt;*If there is no DI, select the DI to be tagged&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_Deployment_Instance</name>
            <choiceReferences>rcsAccountDeploymentInstances</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deployment Instance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sev1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_DI_Found</name>
            <dataType>Boolean</dataType>
            <fieldText>DI to be tagged</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DIRadioButton</name>
            <choiceReferences>rcsAccountDeploymentInstances</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deployment Instance</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_DI_Selected_Screen</name>
        <label>No DI Selected Screen</label>
        <locationX>382</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deployment_Instance</targetReference>
        </connector>
        <fields>
            <name>MissingDIText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 36px;&quot;&gt;You did not pick a DI/Product on the previous screen.﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 24px;&quot;&gt;You must select one in order to proceed &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSEV1_RCA</name>
        <label>SEV1 RCA</label>
        <locationX>1082</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSupportCase</targetReference>
        </connector>
        <fields>
            <name>SEV_1_RCA</name>
            <choiceReferences>rcsDependentPickListSEV_1_RCA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SEV 1 RCA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_an_Account</name>
        <label>Select an Account</label>
        <locationX>83</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Account</targetReference>
        </connector>
        <fields>
            <name>AccountSelectionText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 16px;&quot;&gt;Assign Case Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Account_Lookup</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184);&quot;&gt;Locate the account record in our Salesforce org &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Search by &lt;b style=&quot;color: rgb(0, 94, 184);&quot;&gt;name&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccount.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccount.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Severity_Is_Blank</name>
        <label>Severity Is Blank</label>
        <locationX>1093</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Priority</targetReference>
        </connector>
        <fields>
            <name>DisplayTextNoSeverity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(255, 0, 0);&quot;&gt;You did not select a Severity on the previous screen.﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(255, 0, 0);&quot;&gt;You must select one in order to proceed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartFlow</name>
        <label>StartFlow</label>
        <locationX>79</locationX>
        <locationY>214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_an_Account</targetReference>
        </connector>
        <fields>
            <name>FlowName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 94, 184); font-size: 16px;&quot;&gt;Create a Support Case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Check for:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Duplicate &lt;b style=&quot;color: rgb(0, 94, 184);&quot;&gt;Contact&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Duplicate&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 94, 184);&quot;&gt;Case&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Once verified, click next to create a new case&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Hold_Create_Case</name>
        <label>Support Hold Create Case</label>
        <locationX>690</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Support_Hold_Create_Case_NMI</targetReference>
        </connector>
        <fields>
            <name>DisplayTextSupportHoldCreateCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 94, 184); font-size: 16px;&quot;&gt;Click Next to Create the Support Case and Generate a Case Number&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_On_Hold</name>
        <label>Support is On Hold</label>
        <locationX>686</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Support_Hold_Create_Case</targetReference>
        </connector>
        <fields>
            <name>Account_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The credit status on the Account record is not Approved:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;“The account you are creating a case for is on Support Hold therefore please reference knowledge article :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amadeus-hospitality.lightning.force.com/lightning/r/Lightning_Knowledge__kav/ka33g000000PB4OAAW/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;b&gt;000003752 &lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; - &lt;i&gt;Administrative; All Products; Internal Support Procedure.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Customer on Support hold for information on transferring the customer to our Collections team&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; or for next steps or see your supervisor.”&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>StartFlow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DescriptionTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Indicate additional contact(s) information:


Impacted Product/Environment Details:


Reason for Call/Issue:</text>
    </textTemplates>
    <textTemplates>
        <name>tCaseDescriptionSupportHold</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>User contacted Support however their account is on Support Hold. Referenced knowledge article 000003752 - Administrative; All Products; Internal Support Procedure; Customer on Support hold and provided information on how to engage our Collections team. Advised the user to contact Amadeus Support once the outstanding invoices have been resolved. This case will be closed</text>
    </textTemplates>
    <textTemplates>
        <name>tCaseSubjectSupportHold</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Support Hold – Customer Contacted Support; Engaged the Collections Team</text>
    </textTemplates>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>medium_choice_value</elementReference>
        </value>
    </variables>
    <variables>
        <name>vCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0126000000011YUAAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseSeverity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDeploymentInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDeploymentInstanceProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDI_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSEV_1_RCA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </variables>
    <variables>
        <name>vType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTypePickListOptions</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </variables>
</Flow>
