force-app/main/default/flows/TCSubscriptionActivations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
<<<<<<< HEAD
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>1002</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSubscriptionActivationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewTCSubscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewSubscriptionRecord</name>
        <label>AssignNewSubscriptionRecord</label>
        <locationX>741</locationX>
        <locationY>465</locationY>
=======
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignNewSubscriptionRecord_0</name>
        <label>AssignNewSubscriptionRecord</label>
        <locationX>584</locationX>
        <locationY>423</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
<<<<<<< HEAD
                <elementReference>ReviewTCSubscriptions.TCSubscription_Code__c</elementReference>
=======
                <elementReference>LoopGMSNonSubscriptionPkgMilestones.TCSubscription_Code__c</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TravelClick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
<<<<<<< HEAD
                <elementReference>ReviewTCSubscriptions.TCSubscription_Name__c</elementReference>
=======
                <elementReference>LoopGMSNonSubscriptionPkgMilestones.TCSubscription_Name__c</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
<<<<<<< HEAD
                <elementReference>GroupId</elementReference>
=======
                <elementReference>varGroupRecordFlow2.Id</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
<<<<<<< HEAD
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GMSCollection</name>
        <label>GMSCollection</label>
        <locationX>1340</locationX>
        <locationY>303</locationY>
=======
                <elementReference>varOpportunityRecordFlow2.Id</elementReference>
            </value>
        </assignmentItems>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSubscriptionActivationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
<<<<<<< HEAD
            <targetReference>LoopPkgMilestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewGMSSubscription</name>
        <label>NewGMSSubscription</label>
        <locationX>1338</locationX>
        <locationY>150</locationY>
=======
            <targetReference>LoopGMSNonSubscriptionPkgMilestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_RES_Subscription</name>
        <label>New RES Subscription</label>
        <locationX>870</locationX>
        <locationY>459</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Contracted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
<<<<<<< HEAD
            <assignToReference>NewSubscriptionActivationRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPkgMilestones.TCSubscription_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TravelClick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPkgMilestones.TCSubscription_Name__c</elementReference>
=======
            <assignToReference>NewSubscriptionActivationRecord.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RES_Package.TCSubscription_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TravelClick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RES_Package.TCSubscription_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupRecordFlow2.Id</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
<<<<<<< HEAD
            <assignToReference>NewSubscriptionActivationRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationRecord.Sales_Prices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMSCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Notes2SubscriptionMgmt</name>
        <label>Notes2SubscriptionMgmt</label>
        <locationX>933</locationX>
        <locationY>67</locationY>
=======
            <assignToReference>NewSubscriptionActivationRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityRecordFlow2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscriptionActivationColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSubscriptionActivationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RES_Package</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides if the Product Package associated with the Opp Line Item is the &quot;TC GMS Subscription Details&quot; package or another GMS Product Package</description>
        <name>GMSProductTypeDecision</name>
        <label>GMSProductTypeDecision</label>
        <locationX>78</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>LoopOppLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GMSNonSubscriptionPackage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppLineItems.Product2.Product_Package__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOppLineItems.Product2.Product_Package__r.Package_SKU__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOppLineItems.Product2.Product_Package__r.Package_SKU__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GMSTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageMilestones</targetReference>
            </connector>
            <label>GMSNonSubscriptionPackage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notes2SubscriptionMgmt</name>
        <label>Notes2SubscriptionMgmt</label>
        <locationX>392</locationX>
        <locationY>57</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>GetOppty.Notes_to_Subscription_Management__c</leftValueReference>
=======
                <leftValueReference>varOpportunityRecordFlow2.Notes_to_Subscription_Management__c</leftValueReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBISubActivation</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectType</name>
        <label>ProjectType</label>
<<<<<<< HEAD
        <locationX>754</locationX>
        <locationY>25</locationY>
=======
        <locationX>140</locationX>
        <locationY>173</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <defaultConnectorLabel>No Additional Action Needed</defaultConnectorLabel>
        <rules>
            <name>GMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>GetGroup.Name</leftValueReference>
=======
                <leftValueReference>varGroupRecordFlow2.Name</leftValueReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
<<<<<<< HEAD
                <targetReference>LoopOLI</targetReference>
=======
                <targetReference>LoopOppLineItems</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </connector>
            <label>GMS</label>
        </rules>
        <rules>
            <name>BI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>GetGroup.Name</leftValueReference>
=======
                <leftValueReference>varGroupRecordFlow2.Name</leftValueReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes2SubscriptionMgmt</targetReference>
            </connector>
            <label>BI</label>
        </rules>
        <rules>
            <name>RES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>GetGroup.Name</leftValueReference>
=======
                <leftValueReference>varGroupRecordFlow2.Name</leftValueReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES</stringValue>
                </rightValue>
            </conditions>
            <connector>
<<<<<<< HEAD
                <targetReference>GetPackageDetails</targetReference>
=======
                <targetReference>RESPackage</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </connector>
            <label>RES</label>
        </rules>
        <rules>
            <name>SO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
<<<<<<< HEAD
                <leftValueReference>GetGroup.Name</leftValueReference>
=======
                <leftValueReference>varGroupRecordFlow2.Name</leftValueReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Optimization</stringValue>
                </rightValue>
            </conditions>
<<<<<<< HEAD
            <connector>
                <targetReference>CreateDIBundleProduct</targetReference>
            </connector>
=======
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            <label>SO</label>
        </rules>
    </decisions>
    <decisions>
<<<<<<< HEAD
        <name>Subscriptions</name>
        <label>Subscriptions</label>
        <locationX>513</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>ReviewTCSubscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppty.Notes_to_Fulfillment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReviewTCSubscriptions.TCTranslation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewSubscriptionRecord</targetReference>
            </connector>
            <label>ServiceIncluded</label>
        </rules>
    </decisions>
    <interviewLabel>TCSubscriptionActivations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TCSubscriptionActivations</label>
    <loops>
        <name>LoopOLI</name>
        <label>LoopOLI</label>
        <locationX>703</locationX>
        <locationY>158</locationY>
        <collectionReference>GetOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProduct</targetReference>
=======
        <name>RES_Subscription</name>
        <label>RES Subscription</label>
        <locationX>1064</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Loop_RES_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RESSubscriptionIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecordFlow2.Notes_to_Fulfillment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_RES_Package.TCTranslation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_RES_Subscription</targetReference>
            </connector>
            <label>RESSubscriptionIncluded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TCSubscriptionActivations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TCSubscriptionActivations</label>
    <loops>
        <name>Loop_RES_Package</name>
        <label>Loop RES Package</label>
        <locationX>837</locationX>
        <locationY>281</locationY>
        <collectionReference>RESPackage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RES_Subscription</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSubscriptionActivations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
<<<<<<< HEAD
        <name>LoopPkgMilestones</name>
        <label>LoopPkgMilestones</label>
        <locationX>1173</locationX>
        <locationY>157</locationY>
        <collectionReference>GetPackageMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewGMSSubscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ReviewTCSubscriptions</name>
        <label>ReviewTCSubscriptions</label>
        <locationX>326</locationX>
        <locationY>347</locationY>
        <collectionReference>GetPackageDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subscriptions</targetReference>
=======
        <description>Loops through all of the Product Package Milestones for the GMS Product Package attached to the Product</description>
        <name>LoopGMSNonSubscriptionPkgMilestones</name>
        <label>LoopGMSNonSubscriptionPkgMilestones</label>
        <locationX>370</locationX>
        <locationY>512</locationY>
        <collectionReference>GetPackageMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewSubscriptionRecord_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOppLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOppLineItems</name>
        <label>LoopOppLineItems</label>
        <locationX>317</locationX>
        <locationY>283</locationY>
        <collectionReference>varOpportunityLineItemsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GMSProductTypeDecision</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSubscriptionActivations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSubscriptionActivations</name>
        <label>CreateSubscriptionActivations</label>
<<<<<<< HEAD
        <locationX>619</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>CreateDIBundleProduct</targetReference>
=======
        <locationX>1050</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>CreateDIBundleProductV22</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </connector>
        <inputReference>NewSubscriptionActivationColl</inputReference>
    </recordCreates>
    <recordLookups>
<<<<<<< HEAD
        <name>GetGroup</name>
        <label>GetGroup</label>
        <locationX>460</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOLI</name>
        <label>GetOLI</label>
        <locationX>615</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppty</name>
        <label>GetOppty</label>
        <locationX>174</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageDetails</name>
        <label>GetPackageDetails</label>
        <locationX>459</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReviewTCSubscriptions</targetReference>
=======
        <description>Gets the Milestones associated with the current Opportunity Line Item in the loop</description>
        <name>GetPackageMilestones</name>
        <label>GetPackageMilestones</label>
        <locationX>226</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGMSNonSubscriptionPkgMilestones</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
<<<<<<< HEAD
                <stringValue>a373g000000LfNaAAK</stringValue>
=======
                <elementReference>LoopOppLineItems.Product2.Product_Package__r.Id</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PSA_Product_Package_Milestone__c</object>
<<<<<<< HEAD
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageMilestones</name>
        <label>GetPackageMilestones</label>
        <locationX>1008</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPkgMilestones</targetReference>
=======
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RESPackage</name>
        <label>RESPackage</label>
        <locationX>690</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RES_Package</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
<<<<<<< HEAD
                <elementReference>GetProduct.Product_Package__c</elementReference>
=======
                <stringValue>a373g000000LfNaAAK</stringValue>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PSA_Product_Package_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
<<<<<<< HEAD
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>859</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPackageMilestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOLI.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Package__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBISubActivation</name>
        <label>UpdateBISubActivation</label>
        <locationX>1105</locationX>
        <locationY>21</locationY>
=======
    <recordUpdates>
        <name>UpdateBISubActivation</name>
        <label>UpdateBISubActivation</label>
        <locationX>543</locationX>
        <locationY>17</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
<<<<<<< HEAD
                <elementReference>GetOppty.Notes_to_Subscription_Management__c</elementReference>
=======
                <elementReference>varOpportunityRecordFlow2.Notes_to_Subscription_Management__c</elementReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
            </value>
        </inputAssignments>
        <object>Subscription_Activation__c</object>
    </recordUpdates>
    <start>
<<<<<<< HEAD
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOppty</targetReference>
=======
        <locationX>25</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>ProjectType</targetReference>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        </connector>
    </start>
    <status>Active</status>
    <subflows>
<<<<<<< HEAD
        <name>CreateDIBundleProduct</name>
        <label>CreateDIBundleProduct</label>
        <locationX>1028</locationX>
        <locationY>340</locationY>
=======
        <name>CreateDIBundleProductV22</name>
        <label>CreateDIBundleProductV22</label>
        <locationX>1202</locationX>
        <locationY>51</locationY>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <flowName>CreateDIBundleProductVersion2</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GroupId</name>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
<<<<<<< HEAD
=======
        <inputAssignments>
            <name>varGroupRecordFlow3</name>
            <value>
                <elementReference>varGroupRecordFlow2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityRecordFlow3</name>
            <value>
                <elementReference>varOpportunityRecordFlow2</elementReference>
            </value>
        </inputAssignments>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSubscriptionActivationColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>NewSubscriptionActivationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Activation__c</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
<<<<<<< HEAD
=======
    <variables>
        <description>Holds the Group record passed from the first Flow</description>
        <name>varGroupRecordFlow2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Grp__c</objectType>
    </variables>
    <variables>
        <description>Holds the collection of Opportunity Line Items passed in from the first Flow</description>
        <name>varOpportunityLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Holds the Opportunity record passed from the first Flow</description>
        <name>varOpportunityRecordFlow2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
>>>>>>> be8f81a97d079e6e4c45f805d88969f9bcae9d8a
</Flow>
