force-app/main/default/flows/UpdateAssignmentName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Auto update Assignment Name to match related Project Task</description>
    <interviewLabel>UpdateAssignmentName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAssignmentToMatchProjectTask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupProjectTask</name>
        <label>LookupProjectTask</label>
        <locationX>273</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollTaskAssignment.pse__Project_Task__c</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>CollProjectTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Milestone__c</queriedFields>
        <queriedFields>Billable__c</queriedFields>
        <queriedFields>Time_Credited__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupProjectTaskAssignment</name>
        <label>LookupProjectTaskAssignment</label>
        <locationX>91</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupProjectTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectTaskAssignmentId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task_Assignment__c</object>
        <outputReference>CollTaskAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Assignment__c</queriedFields>
        <queriedFields>pse__Project_Task__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssignment</name>
        <label>UpdateAssignment</label>
        <locationX>502</locationX>
        <locationY>142</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollTaskAssignment.pse__Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CollProjectTask.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Billable__c</field>
            <value>
                <elementReference>CollProjectTask.Billable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Location__c</field>
            <value>
                <elementReference>CollProjectTask.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone__c</field>
            <value>
                <elementReference>CollProjectTask.pse__Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <elementReference>CollProjectTask.Time_Credited__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
    </recordUpdates>
    <startElementReference>LookupProjectTaskAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CollProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>CollTaskAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Project_Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>CollVarTaskAssignment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProjectTaskAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
