force-app/main/default/flows/UpdateAccountValuation_COVID19.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Update the Account Valuation on the Finance Request to be the sum of the active non-service Activity Line Items</description>
        <name>AssignAccountValuation</name>
        <label>AssignAccountValuation</label>
        <locationX>1011</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>SumALIContractAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConvertedContractTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughALI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fees Relief Request Count</description>
        <name>FeesReliefRequest</name>
        <label>FeesReliefRequest</label>
        <locationX>703</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>FeesReliefRequestCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughIndFR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Payment Plan Count</description>
        <name>PaymentPlansCount</name>
        <label>PaymentPlansCount</label>
        <locationX>657</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>PaymentPlanCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughIndFR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Account Valuation on the Finance Request with the sum of Contracted Amount on the Activity Line Item</description>
        <name>UpdateAccountValuation</name>
        <label>UpdateAccountValuation</label>
        <locationX>932</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>GetFinanceRequest.Account_Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumALIContractAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetFinanceRequest.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetFinanceRequest.Account_Total_Requests_Fee_Relief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeesReliefRequestCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetFinanceRequest.Account_Total_Requests_Payment_Plans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentPlanCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFinanceRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>NICC-042760
See if the Account related to the Finance Request has Activity Line Item records</description>
        <name>Has_Activity_Lines</name>
        <label>Has Activity Lines</label>
        <locationX>488</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Activity_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetALI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughALI</targetReference>
            </connector>
            <label>Has Activity Line Items</label>
        </rules>
    </decisions>
    <decisions>
        <description>Subtotal needed by Type of Relief</description>
        <name>TypeOfRelief</name>
        <label>TypeOfRelief</label>
        <locationX>769</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndAddlFR.Relief_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentPlansCount</targetReference>
            </connector>
            <label>Payment Plans</label>
        </rules>
        <rules>
            <name>Fees_Relief_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndAddlFR.Relief_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees Relief Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FeesReliefRequest</targetReference>
            </connector>
            <label>Fees Relief Request</label>
        </rules>
    </decisions>
    <description>Update the Account Valuation with the Sum of the Non-Service Active Activity Line Items</description>
    <formulas>
        <description>Due to activity line items being in multiple currencies, this will change them all to USD</description>
        <name>ConvertedContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!varIndALI.Contract_Total_Amount__c}/{!GetDatedConversionRate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateAccountValuation_COVID19 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAccountValuation_COVID19</label>
    <loops>
        <name>LoopThroughALI</name>
        <label>LoopThroughALI</label>
        <locationX>612</locationX>
        <locationY>174</locationY>
        <assignNextValueToReference>varIndALI</assignNextValueToReference>
        <collectionReference>GetALI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetDatedConversionRate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetFinanceRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Through Each Additional FR</description>
        <name>LoopThroughIndFR</name>
        <label>LoopThroughIndFR</label>
        <locationX>372</locationX>
        <locationY>485</locationY>
        <assignNextValueToReference>IndAddlFR</assignNextValueToReference>
        <collectionReference>GetAdditionalFinanceRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TypeOfRelief</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountValuation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>In the case of multiple COVID19 Requests on the same account</description>
        <name>GetAdditionalFinanceRequests</name>
        <label>GetAdditionalFinanceRequests</label>
        <locationX>230</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughIndFR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varFinanceRequestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120S000000YhQtQAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AH_Finance_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all related Activity Line Items</description>
        <name>GetALI</name>
        <label>GetALI</label>
        <locationX>373</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Activity_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Total_Amount_Currency__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Contract_Total_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDatedConversionRate</name>
        <label>GetDatedConversionRate</label>
        <locationX>849</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAccountValuation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndALI.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>NextStartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFinanceRequest</name>
        <label>GetFinanceRequest</label>
        <locationX>148</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdditionalFinanceRequests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinanceRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AH_Finance_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Account Valuation on the Finance Request with the sum of active non-service activity line items</description>
        <name>UpdateFinanceRequest</name>
        <label>UpdateFinanceRequest</label>
        <locationX>1140</locationX>
        <locationY>515</locationY>
        <inputReference>GetFinanceRequest</inputReference>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>GetALI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FeesReliefRequestCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Individual Financial Requests</description>
        <name>IndAddlFR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AH_Finance_Request__c</objectType>
    </variables>
    <variables>
        <name>PaymentPlanCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumALIContractAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinanceRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Individual ALI</description>
        <name>varIndALI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Line_Item__c</objectType>
    </variables>
</Flow>
