force-app/main/default/flows/Work_Update_Column_Color.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns the Column and Color to the Work records for DTS team</description>
        <name>AssignColumnColorDTSTeam</name>
        <label>AssignColumnColorDTSTeam</label>
        <locationX>987</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.agf__Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopColumns.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.agf__Column__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopColumns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColumnColorUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempRecordUpdateColumn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOfAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Column that matches the Status of the Work record (not including Triaged)</description>
        <name>AssignEdDevColumn</name>
        <label>AssignEdDevColumn</label>
        <locationX>1004</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.agf__Column__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopColumns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColumnColorUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempRecordUpdateColumn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOfAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the Team is Educational Development and Status of the Work record changes to &quot;Triaged&quot; the column &quot;X - Sprint - 1&quot; should be assigned to the record</description>
        <name>AssignEdDevTriagedColumn</name>
        <label>AssignEdDevTriagedColumn</label>
        <locationX>1031</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.agf__Column__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aIA3g000000000VGAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempRecordUpdateColumn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColumnColorUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempRecordUpdateColumn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOfAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of Column updates assigned.</description>
        <name>CountOfAssignments</name>
        <label>CountOfAssignments</label>
        <locationX>622</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varCountOfAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopColumns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of Columns found in the GetColumns node</description>
        <name>CountOfColumns</name>
        <label>CountOfColumns</label>
        <locationX>371</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>varCountOfColumns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAllColumnsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopColumns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of records to be updated in the final record collection</description>
        <name>CountOfUpdatedRecords</name>
        <label>CountOfUpdatedRecords</label>
        <locationX>644</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>varCountOfUpdatedRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varColumnColorUpdateCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateColumnColor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides which Team/Column combination the record matches</description>
        <name>ColumnDecision</name>
        <label>ColumnDecision</label>
        <locationX>532</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>LoopColumns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DTSPhase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopColumns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.agf__Product_Area__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopColumns.agf__Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DTS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountOfAssignments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignColumnColorDTSTeam</targetReference>
            </connector>
            <label>DTSPhase</label>
        </rules>
        <rules>
            <name>EdDevTriaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopColumns.agf__Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Educational Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agf__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Triaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopColumns.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X - Sprint - 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountOfAssignments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEdDevTriagedColumn</targetReference>
            </connector>
            <label>EdDevTriaged</label>
        </rules>
        <rules>
            <name>EdDevStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopColumns.agf__Team__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Educational Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopColumns.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.agf__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agf__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Triaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountOfAssignments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEdDevColumn</targetReference>
            </connector>
            <label>EdDevStatus</label>
        </rules>
    </decisions>
    <description>NICC-054649; updated via NICC-063573; Updates the Column &amp; Color fields on Work records for DTS Team and SLTC teams; updates the Column for the Educational Team</description>
    <interviewLabel>Work - Update Column &amp; Color {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work - Update Column &amp; Color</label>
    <loops>
        <name>LoopColumns</name>
        <label>LoopColumns</label>
        <locationX>471</locationX>
        <locationY>307</locationY>
        <collectionReference>varAllColumnsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ColumnDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountOfUpdatedRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets a list of Columns for the Kanban board associated to the Team</description>
        <name>GetColumns</name>
        <label>GetColumns</label>
        <locationX>102</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOfColumns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>agf__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agf__Scrum_Team__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>agf__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>agf__ADM_Column__c</object>
        <outputReference>varAllColumnsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Color__c</queriedFields>
        <queriedFields>agf__Team__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Column for Educational Development Team and Column/Color for DTS and SLTC Hos Transportation teams</description>
        <name>UpdateColumnColor</name>
        <label>UpdateColumn&amp;Color</label>
        <locationX>818</locationX>
        <locationY>560</locationY>
        <inputReference>varColumnColorUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>GetColumns</targetReference>
        </connector>
        <object>agf__ADM_Work__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a list of all active Columns associated with the Team on the triggering record</description>
        <name>varAllColumnsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>agf__ADM_Column__c</objectType>
    </variables>
    <variables>
        <description>Collection of records to update Column and/or Color</description>
        <name>varColumnColorUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
    <variables>
        <description>Counts the number of columns assigned to the Work record</description>
        <name>varCountOfAssignments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the number of Columns found in the GetColumns node</description>
        <name>varCountOfColumns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountOfUpdatedRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Temporary record variable that holds the Column that will be assigned to the Work record.</description>
        <name>varTempRecordUpdateColumn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
</Flow>
